[2018-06-06 07:29] Stukongeluk opened #1 "Add usage instructions to README"
I cloned this repo and tried to run it. Didn't work.
When is the next release? @richardwerkman

[2018-06-06 07:32] Stukongeluk opened #2 "Readme.md"
Where is the readme.md?

[2018-06-06 07:33] Stukongeluk opened #3 "Contributions.md"
I don't know how to contribute to this project because it lacks a contributions.md.
Plz fix, k thx.

[2018-06-06 07:33] Stukongeluk opened #4 "Build status"
Sooooooo when are you going to use AppVeyor to display the build status? @richardwerkman

[2018-06-06 09:00] richardwerkman opened #6 "Build server"
We need to configure a online build server. Any thougths on which platform to use?

I know of [AppVeyor](https://www.appveyor.com/) and [Travis](https://travis-ci.org/)

[2018-06-06 09:07] Stukongeluk commented on #4
Continued in #6

[2018-06-06 09:07] #4 closed

[2018-06-06 09:10] #2 closed

[2018-06-06 09:10] #3 closed

[2018-06-06 09:34] nicojs commented on #6
Generally, appveyer is for windows builds. Travis is for linux builds. I would suggest to use both. That way you can make sure that it works on both platforms

[2018-06-06 10:52] simondel commented on #6
There's also of course CircleCI

[2018-06-07 13:52] ptoonen commented on #6
And VSTS with its GitHub integration ;-)

[2018-06-07 14:11] simondel commented on #6
In that case we will be limited by the free build minutes, right? (Unless we pay for an agent). I'd love to build on VSTS but I don't like the idea of having to pay for it as other offerings do offer free builds for open source projects.

[2018-06-07 14:14] simondel opened #8 "Merge interfaces and implementation"
Right now it seems like every interface in in a separate file. I personally find it easier to find an interface and the implementation if the interface is in the same file as the implementation (as long as there is one implementation).

[2018-06-07 14:16] richardwerkman opened #9 "Progress reporter"
Right now the only status reporter is the dot reporter. It will print dots and characters after a mutant has been tested.

It would be nice to show users a progress bar to show the progress of the mutationtestrun. A estimation could also be displayed next to the progress bar.

[2018-06-07 14:19] simondel opened #10 "Publish initial version to NuGet"
It would be great if an initial version could be published to NuGet to allow for easier use.

[2018-06-07 14:22] richardwerkman opened #11 "Thresholds"
Right now the mutation score color thresholds are fixed at 60 and 80.

It would be nice to let users pass their own preferred thresholds. Also an extra threshold could be added for returning a non zero exit code.

Param suggestion: `--thresholds 60 80 90` for:

- `< 60` return exit code 1
- `> 60` mutation score is red
- `> 80` mutation score is yellow
- `> 90` mutation score is green

[2018-06-07 14:23] simondel opened #12 "Fix naming of BinaryExpressionMutator"
The BinaryExpressionMutator is currently called the Bin**airy**ExpressionMutator.

[2018-06-07 14:24] simondel opened #13 "Document AddMutator"

[2018-06-07 14:30] simondel commented on #8
Do you have interfaces for testing purposes or because the interfaces are (or will be) used in other projects/applications? If they are just used for testing purposes I would place them in the file where the implementation is.

[2018-06-07 14:38] simondel commented on #1
Instructions on running Stryker.NET on a project would be great (either from a NuGet package or from source)

[2018-06-07 14:39] simondel opened #14 "Add license"

[2018-06-07 15:16] nicojs commented on #11
To keep it in sync with Stryker js, it should be:

`--threshold.break 60 --threshold.low 70 --threshold.high 80`

(or maybe: `--threshold-break 60 --threshold-low 70 --threshold-high 80`)

An argument with 3 values like suggested here is very uncommon at best (and might even be impossible with the dotnet cli)

[2018-06-07 17:02] richardwerkman commented on #11
Good point, my preference would go to `--threshold-break 60 --threshold-low 70 --threshold-high 80` becouse the other parameters also use a "-" instead of "."

[2018-06-07 17:04] richardwerkman commented on #14
What kind of licence would be appropriate for this project? I'm not familliar with any licences and what they allow for. I see Stryker uses Apache 2.0.

[2018-06-07 17:04] richardwerkman commented on #13
I will add documentation for each mutator

[2018-06-07 17:16] richardwerkman opened #15 "Mutated assembly conflicts with code coverage analysis"
After a mutationtestrun the mutated assembly stays in place. It is located in the test project `bin` folder. When code coverage is analysed with the mutated assembly in place this influcences the code coverage result.

This is due to the added if statements inside the mutated assembly. They are not hit (of course) during the code coverage analysis.

This could be resolved by removing the mutated a

[2018-06-07 17:20] richardwerkman commented on #8
Mostly for testing perposes. Some will be used in other projects. But this architectural decision has not been made yet. For now it is best to place the interfaces in the implementations file.

[2018-06-08 06:07] richardwerkman commented on #1
@Stukongeluk could you try again? I'd like to close this issue.

[2018-06-08 06:20] richardwerkman opened #16 "Errorhandling"
Right now there are 2 kinds of custom exceptions, both inherrit from StrykerException. I initially thought there would be much more kinds of exceptions, but it turned out this is not the case.

I would like to see one kind of custom exception, for example `UserException` or `InputException`. It should contain a message that clearly explains to the user what they did wrong and how they can invoke S

[2018-06-08 06:32] richardwerkman opened #17 "Ternary statement mutations"
At the moment, mutations are being placed inside if statements like this

[code]

Not all mutations can be inserted like this. Some mutations can only be inserted using ternary statements like this:
[code]

These kind of mutations should also be rollbacked different. My suggestion is an interface for both type of mutant placements. Something like:
[code]

It would have two implementations. One for

[2018-06-08 06:45] richardwerkman opened #18 "Large projects"
On large projects, it might occur that not all compile errors are returned by Roslyn after the first compile try. If this happens, not all "broken" mutations will be rollbacked.

For now this problem has not occurred yet. Stryker should be tested on a large project to discover if this is an existing bug or not.

[2018-06-08 07:26] richardwerkman opened #20 "Multi threaded testruns"
Right now only one testrun occurs at a time. This is not optimal since .Net is excellent in managing threads and parallel processes.

A better situation would be if more testrunners could run in parallel. The number of testrunners should be configurable. When not configured, the number of cores of the machine could be used as default.

This feature would speed up the mutationtest process by a larg

[2018-06-08 10:10] #12 closed

[2018-06-08 11:01] nicojs opened #21 "Changelog strategy"
How will we create the changelog for new releases?

For Stryker itself, we use [conventional commit messages](https://conventionalcommits.org/). With those we can generate beautiful changelogs. It also helps to clean up our commit messages. A win-win situation.

An example would be: `feat(parser): add ability to parse arrays.`. This translates to:

""
## Features

 **Parser:** add ability to parse

[2018-06-08 11:36] Stukongeluk commented on #1
Well, it works with the steps from the  `contributions.md`, but like @simondel said, some instructions to run it from a NuGet package would be great (and documented in the `readme.md`) ;D. After that is done, I will close the issue.

[2018-06-08 11:42] richardwerkman opened #22 "Mutation algorithm optimalisation"
Right now _all_ code is checked by every mutator. Some code is not fit for mutating so will always return 0 mutations. Therefore it is not necessary to check this code. Example:

[code]
Cannot be mutated by any mutator. So why call the mutators onto these nodes?

Suggestion: only mutate method bodies.

[2018-06-08 11:47] richardwerkman commented on #1
Oke thank you for your feedback. I changed the issue title for better understanding.

[2018-06-08 12:01] simondel commented on #14
Most Info Support related projects use Apache 2.0. I think that would be fine for now.

[2018-06-08 12:58] nicojs commented on #22
What is the problem you're trying to solve? I wouldn't fix this issue unless you have a problem.

[2018-06-11 06:09] nicojs commented on #17
I guess you mean `IMutantPlacer` as it is responsible to place mutants.

I think the naming of the methods should also be in line with the naming of the interface. `PlaceMutant` sounds better for a `MutantPlacer`. Also, you're calling it `Rollback` everywhere, why not on the interface as well? `RollbackMutant`

There should also be a way to determine whether or not the mutant can be placed on the

[2018-06-13 14:40] richardwerkman opened #26 "waffle.io board"
Use the following lanes:
- Inbox
- Committed
- In progress
- Needs review
- Done

[2018-06-13 14:45] richardwerkman opened #27 "Hanging process"
When running stryker twice, the second time the initial build will fail becouse of a still running process. This still needs investigating but it looks like this happens after a timeout process kill.

[2018-06-13 14:51] richardwerkman opened #28 "Investigate: .NET Framework support"
What needs to be done to add support for .NET Framework next to .NET core support
For now:

- [x] Discover Referenced Assemblies and Types
- [x] Build test project and referenced projects
- [x] VSTest adapter testrunner (https://www.nuget.org/packages/Microsoft.TestPlatform.Portable)
- [x] Dotnet Global Tool

[2018-06-14 02:37] kevinlyles commented on #28
I played around with this a little bit already.  At a minimum:
- The target framework version for .csproj files targeting .NET Framework seems to live in a TargetFrameworkVersion node instead of TargetFramework like .NET Core.
- The output path should be retrieved from the project file instead of assumed -- .NET Framework seems to have a different default than .NET Core, but we should respect the

[2018-06-14 08:58] #14 closed

[2018-06-14 09:16] richardwerkman commented on #28
@kevinlyles Did you try the toy project with Stryker.NET? If so, it is correct that it could mutate the project? That would be great news. What framework version was the project?

About the fewer mutations, that could be because of the lack of mutators at the moment?

We'll keep in mind that a new project file reader has to be created for the .NET framework.

[2018-06-14 09:17] richardwerkman commented on #22
Closing the issue because of low priority.

[2018-06-14 09:17] #22 closed

[2018-06-14 15:05] kevinlyles commented on #28
Yep, I had to make the changes I made above, but it did seem to mutate some of the code.

I know there aren't many mutators yet, but it seemed like it was missing things that even the existing mutators should have caught. I may have missed something, though.

[2018-06-18 08:14] #27 closed

[2018-06-18 17:38] richardwerkman opened #32 "Technical references"
Where would we like to document our technical references? Things like:

- How the mutation algorithm works
- How Mutators can be added
- How the different packages work together

I see some options but would like to share thoughts.

1. GitHub wiki
2. Markdown files in a sub-folder
3. External website

Especially diagrams are hard to maintain together. Maybe some sequence/activity diagrams could be

[2018-06-20 08:28] richardwerkman opened #34 "Exclude files from mutating"
Right now, all `*.cs` files will be mutated by Stryker. Just like with code coverage, users would like to exclude some files.

I see two ways of excluding a file:

- Using an array of filenames as userinput
- By using Attributes inside the code

My preference goes to the attributes. Mainly because this option has more future posibilities like

- excluding parts of files
- excluding only sertain mu

[2018-06-20 09:55] richardwerkman opened #35 "UnaryExpression mutator"
Unary statements can be mutated.

#### PrefixUnaryStatements
| Original | Mutated |
| ------------- | ------------- |
| `!variable` | `variable` |
| `-variable` | `+variable` |
| `+variable` | `-variable` |
| `~variable` | `variable` |
| `++variable`  |  `--variable`  |
| `--variable`  |  `++variable`  |

#### PostfixUnaryStatements
| Original | Mutated |
| ------------- | ------------- |
| `varia

[2018-06-20 11:20] richardwerkman opened #36 "Checked mutator"
[code]

Should be mutated to:

[code]

To see if a test is present for `System.OverflowException was thrown`. And maybe also the other way around. See [dotnet csharplang](https://github.com/dotnet/csharplang/blob/master/spec/expressions.md#the-checked-and-unchecked-operators)  for more info on the checked operator.

[2018-06-22 14:29] #1 closed

[2018-06-22 14:29] #13 closed

[2018-06-27 15:16] richardwerkman opened #43 "AssignmentStatementMutator"
Assignment statements can be mutated.

| Original | Mutated |
| ------------- | ------------- |
| `+=` | `-=` |
| `-=` | `+=` |
| `*=` | `/=` |
| `/=` | `*=` |
| `%=`  |  `*=`  |
| `<<=`  |  `>>=`  |
| `>>=`  |  `<<=`  |
| `&=`  |  `\|=`  |
| `\|=`  |  `&=`  |

A mutator should be added that mutates these statements.

[2018-06-29 13:08] richardwerkman opened #47 "DotNetCore 2.1 support"
On .NET Core 2.1 projects the `build/dotnet-stryker.targets` seems to be ignored. This file is being copied by msbuild in the other .NET Core versions.

An awesome feature is added in 2.1 called [DotnetTools](https://blogs.msdn.microsoft.com/dotnet/2018/05/30/announcing-net-core-2-1/#user-content-net-core-tools). This can be used to create global tools like with npm `npm i -g`

To support DotnetTo

[2018-06-29 13:23] richardwerkman commented on #47
An example DotnetTool application: https://github.com/dotnet/core/blob/master/samples/dotnetsay/README.md

[2018-06-30 12:01] nicojs commented on #47
Did you ever find out why this is? If not, let's create an issue over at the dotnet cli: https://github.com/dotnet/cli

[2018-07-19 09:13] #35 closed

[2018-07-19 09:13] #43 closed

[2018-07-19 09:13] #36 closed

[2018-08-01 13:51] nicojs commented on #47
@richardwerkman I think I might know what the problem is. The targets file in the build directory is called `dotnet-stryker.targets`. Maybe this should be the name of your nuget dependency? So it should be called `StrykerMutator.DotNetCoreCli.targets` ?

[2018-08-29 09:02] simondel commented on #28
For an initial setup we could try running the DDL's using vstest.exe. We can use the Visual Studio Test task for TFS/VSTS as a reference on how to pass specific arguments.

I would suggest manually running the command on your machine first to see what kind of output you get form vstest.exe if all tests pass or if a test fails. The performance will probably be quite bad if we simply run all tests u

[2018-08-31 08:50] nicojs opened #94 "Read settings from a config file"
We should be able to configure stryker via a config file. Right now, all config settings are provided using the command line.

This can be in the .csproj file or via a custom stryker configuration file.

It would be cool if this logic can be reused from stryker for dotnet core as well as .NET framework.

[2018-08-31 15:20] yaelkeemink opened #95 "Change RapportOnly to ReportOnly"
In your solution you call the reports rapport. This is not english, it should be report. There is also at least one class with this mistake in it.

[2018-08-31 17:25] yaelkeemink opened #97 "Add validation for logLevel"
At the moment you can give the CLI invalid loglevels which result in warning-loglevel. I think we might want to throw an error here.

[2018-08-31 18:56] #94 closed

[2018-08-31 18:57] Mobrockers commented on #94
Close with PR#96

[2018-09-01 07:17] nicojs opened #98 "Document config file feature"

[2018-09-01 08:02] yaelkeemink opened #99 "replace logFile with log-level-file"
In stryker js there is no argument called logFile. the closest argument is logLevelFile.  I would like to see that implementation instead of logFile

[2018-09-01 08:04] yaelkeemink opened #100 "Change argument names"
Change the argument names to use dashes instead of camel case. For instance: timeoutMS will change to timeout-ms

[2018-09-01 08:57] yaelkeemink opened #101 "Remove the need for a config file"
Atm you must have a config file if you dont give any arguments to the CLI. I would like to be able to not give a config file and still dont have a config file.

It would be cool if we check whether there is a config file and if it does not exist we take the default values.

[2018-09-01 12:06] yaelkeemink opened #104 "Use stryker on the stryker build"
It would be cool if we use stryker-net on stryker-net itself in the build. That way we can check our own score.

[2018-09-01 13:25] yaelkeemink opened #105 "Show number of tests found in initial run"

[2018-09-01 13:47] richardwerkman commented on #28
@simondel Creating seperate CLI projects won't fix the issues we are having. And we would lose a lot of reusable code. Right now we are experimenting with a CLI that targets multiple runtimes.

[2018-09-01 13:50] avassem85 opened #106 "Align terminology of Mutator Types"
In the [handbook](https://github.com/stryker-mutator/stryker-handbook/blob/setup-handbook/mutator-types.md#supported-mutators) are the mutators described that are being used within the Stryker eco system.  Now there is a mismatch of the terminology being used in [documentation](https://github.com/stryker-mutator/stryker-net/blob/master/src/Stryker.Core/README.md#boolean-mutator)/code of Stryker.NE

[2018-09-01 14:42] richardwerkman commented on #28
Full Framework doesn't work with transient dependencies. This breaks resolving referenced assemblies. One workaround could be to move the msbuild task to the "project under test".

Another workaround could be to write a custom resolver for full framework. This resolver can read the `.csproj` file and analyse the xml.

[2018-09-02 19:56] Mobrockers commented on #28
Useful articles for building NuGet Tool Installer compatible with both dotnet core and dotnet framework

http://www.marcusoft.net/2011/12/creating-tools-only-nuget-package.html
https://natemcmaster.com/blog/2017/11/11/build-tools-in-nuget/

[2018-09-03 05:38] #98 closed

[2018-09-03 05:41] #101 closed

[2018-09-03 19:46] richardwerkman opened #109 "Dashboard reporter"
Stryker is currently working on a generic [html dashboard](https://github.com/stryker-mutator/mutation-testing-elements) for mutationtest results. To integrate with this dashboard we will have to generate a `*.json` file with the testrun results in a specific structure.

In [this issue](https://github.com/stryker-mutator/mutation-testing-elements/issues/1) the json schema will be defined.

For now

[2018-09-05 10:41] #20 closed

[2018-09-08 13:16] richardwerkman opened #111 "Parallel setting"
The user should be able to define the number of parallel testruns. The default right now is `the number of logical cores / 2`.

[code]

[code]

We should also explain clearly in the documentation what this setting does.

The number should be validated to be > 0 and be <= the number of logical cores.

[2018-09-08 16:36] nicojs commented on #111
Can we keep it in sync with Stryker? It's called `--maxConcurrentTestRunners` there. The idea is that Stryker still can choose to do other stuff in parallel, so that's why it explicitly states "test runners". Also it's a `max`, so Stryker can choose to use less based on the nr of logical processors. This way it's save to check in a value to source control and you know for sure the configuration wi

[2018-09-09 11:06] richardwerkman commented on #47
@nicojs I tried to test this locally but that didn't work out. In [microsofts documentation](https://docs.microsoft.com/nl-nl/nuget/create-packages/creating-a-package#including-msbuild-props-and-targets-in-a-package) it indeed says to name the targets file after the package-id. So I tried to release a new package with a targets file called: `StrykerMutator.DotNetCoreCli.targets`.

Using this packa

[2018-09-23 13:59] wmeints opened #117 "Read settings from csproj file"
Currently stryker supports reading its settings from a json file. Which I fine I guess. But most other dotnet CLI tools and Visual Studio plugins read their settings from the csproj file.

Not sure what led up to the decision to go with a JSON file, just curious if you thought about putting the settings inside the csproj file.

[2018-09-24 11:58] richardwerkman opened #118 "String mutator"
A mutator should be added that mutates strings into other strings.

Original | Mutated
| - | - |
`"foo"` (non-empty string) | `""` (empty string)
`""` (empty string) | `"Stryker was here!"`
`$"foo {bar}"` (string interpolation) | `$""`

The mutator should look for StringLiteralExpression nodes

[2018-09-28 08:28] legopiraat commented on #47
@richardwerkman What is the status of this issue?

[2018-09-28 08:36] richardwerkman commented on #47
This issue will be closed by #112. I updated the PR a few days ago so it will only rename the targets file. The issue does not exist in the latest version on NuGet since I already released it. The pull request should be merged to ensure the issue will not return in future versions.

[2018-09-28 12:41] shadow-cs opened #120 "Support backslash in ProjectReference on Linux"
When backslash (`\`) is used as folder separator in `csproj` (which is inserted by Visual Studio) when referencing another project in a solution, `FileNotFoundException` is thrown.

`csproj` snippet:

[code]

Output:

[code]

## Workaround

Converting to slashes by hand fixes the issue.

[2018-09-28 12:50] shadow-cs opened #121 "Return an exit code from Stryker CLI"
It would be helpful if we could set a threshold for the Mutation score that if not reached would result in the process returning non-zero exit code.

Also failures (like the one described in #120) causes the process to exit with `0`.

For CI purposes it is fundamental to return a proper exit code.

[2018-09-28 12:50] shadow-cs commented on #121
Partial duplicate of #11

[2018-09-28 15:28] shadow-cs opened #122 "Getting different results on different OSes"
Stryker is reporting different results on different OSes.

## TL;DR

While testing Stryker I stumbled upon an intriguing issue, Stryker was reporting some non-killed mutants which I didn't think twice about as it seemed it was working as expected. Then I uploaded the project to a private GitLab server and looked at CI results, one mutant was killed (which didn't happen on my Windows 10 PC).

## Th

[2018-09-29 11:37] shadow-cs commented on #122
If I run the test manually (see below), the test fails as expected.

[code]

When inspecting the processes spawned by Stryker, I always see `ActiveMutation` being `1`.

[2018-10-01 07:10] simondel commented on #100
This also applies to the config. Old properties can be removed for now since the project is still in its early stage

[2018-10-01 07:10] simondel commented on #99
This also applies to the config. Old properties can be removed for now since the project is still in its early stage

[2018-10-01 07:12] simondel commented on #95
@Mobrockers @yaelkeemink @richardwerkman Is this still relevant? I'm hearing that we may not want to have the ReportOnly feature in the future.

[2018-10-01 07:13] simondel commented on #26
@richardwerkman There is now a 'to-do' lane. Is this issue still relevant?

[2018-10-01 07:13] simondel commented on #10
@richardwerkman I think this is already done. I'm closing this for now.

[2018-10-01 07:13] #10 closed

[2018-10-01 07:14] simondel commented on #6
We may want to move to Azure DevOps in the future. For now i'll close this issue.

[2018-10-01 07:14] #6 closed

[2018-10-01 16:33] KonH commented on #100
I can grab this issue & will send PR soon, I hope.

[2018-10-01 17:03] simondel commented on #100
Awesome! Be sure to sign up for Hacktoberfest :) If you have any questions, let us know!

[2018-10-01 17:44] Valdas3 commented on #97
I can take a look at this issue as my first thing for the hacktoberfest :)

[2018-10-01 17:49] simondel commented on #97
Awesome! If you need any help, let us know :) It would be great if the validation is inside a generic part of stryker.net so it can also be used when we add support to run from visual studio (instead of using the CLI).

Do you agree with this @yaelkeemink?

[2018-10-01 18:27] Valdas3 commented on #97
I assume that by "generic part of stryker.net" you mean Stryker.Core project.
In https://github.com/stryker-mutator/stryker-net/blob/master/src/Stryker.CLI/README.md I found that default LogLevel should be error, hope it is up to date.
Also, I have updated the StrykerCLI_WithLogConsoleArgument_ShouldPassLogConsoleArgumentsToStryker unit test to include available log levels but it might make sense

[2018-10-01 18:49] #95 closed

[2018-10-01 19:09] theunrepentantgeek opened #125 "Crash when code combines tuple deconstruction with ternary operator"
On a small personal project to implement an immutable priority queue, Stryker.NET crashes with the following error:
[code]

Using the `--logConsole trace` flag I was able to isolate the cause to this piece of code:
[code]
BTW: thank you for including good diagnostic support!

As a workaround, I modified the code by removing use of tuples and the ternary operator:
[code]

With this change, Stryker.

[2018-10-01 19:12] simondel commented on #97
I've replied to your remark about the tests in [the pull request](https://github.com/stryker-mutator/stryker-net/pull/124#issuecomment-426027640). Good thinking :)

[2018-10-01 19:20] simondel commented on #125
Thanks for the detailed issue! We'll need to fix this :) We don't want to go around losing your head ;)

[2018-10-01 19:59] SeeSharpy commented on #8
Sorted (i think) in #126

[2018-10-01 20:58] Valdas3 commented on #122
This seems to be related, so I will write here instead of creating a new issue.
I am trying to run same project ([StrykerTest.zip](https://github.com/stryker-mutator/stryker-net/files/2435583/StrykerTest.zip)) with some random tests multiple times and almost every time I run it I get different outcomes ([logs.zip](https://github.com/stryker-mutator/stryker-net/files/2435582/logs.zip)).
I am runnin

[2018-10-01 22:10] dutts commented on #118
I'm happy to take a look

[2018-10-02 04:17] simondel commented on #122
Thanks for testing this! It does seem like our sandboxes are not isolated properly.

[2018-10-02 04:37] simondel opened #127 "Build and release using Azure DevOps Pipelines"
Azure DevOps pipelines are now free for open source projects. We could use them to easily build, test and release our application(s). Integrating with SonarCloud would also be easier from Azure DevOps.

[2018-10-02 04:38] simondel commented on #127
I'll start with creating a private pipeline to see if I can get it to work.

[2018-10-02 04:41] #97 closed

[2018-10-02 04:57] simondel commented on #118
Awesome! If you need any help, let us know :)

It may be useful to install the [.NET Compiler Platform SDK for Visual Studio](https://marketplace.visualstudio.com/items?itemName=VisualStudioProductTeam.NETCompilerPlatformSDK). It allows you to visually view the syntax tree of a file. This can help you figure out what kind of node(s) you need to mutate and the properties that they have. More info c

[2018-10-02 10:16] #8 closed

[2018-10-02 10:38] shadow-cs commented on #122
I actually came to the same conclusion as @Valdas3 did. Could there be some race condition on the iterator in the `Parallel.ForEach`? Maybe simple `ToArray` might fix the issue. But I could be wrong on this in which case this could be an issue with the environment being somehow shared by multiple mutation processes.

I also think that the line:

https://github.com/stryker-mutator/stryker-net/blob/

[2018-10-02 11:41] csMACnz opened #128 "nuget contentfiles mutations causes issues"
With nuget packages, you can include compilable source files: https://blog.nuget.org/20160126/nuget-contentFiles-demystified.html

These files end up compiled into the `obj\Debug\netcoreapp2.1\NuGet\F3F32FCC102FAF927C28583AC554AF5CC6C67A63\MyLibrary\0.1.2` folder of the project that consumes them. They are effectively linked-in source files.

When Stryker mutates these files, it fails to mutate th

[2018-10-02 11:52] richardwerkman commented on #128
Files in the `obj` folder are already ignored from mutation. Are you sure the problem lies with this file? Have you run using `--logConsole trace` to get more detailed information about the problem?

Since the error looks similar to #125 it might be the same issue.

[2018-10-02 12:01] KonH commented on #100
I have made PR for this issue - #129, please review.
But I have several questions:
- Is dashed syntax related to placeholders in readme? For example: `-cp <relativePathToFile>` (relativePathToFile is placeholder)
- It is strange to LogLevel currently uses ArgumentName = "-logConsole", is that expected? https://github.com/stryker-mutator/stryker-net/blob/c5960ca113e53fbc8f50e940217acae3ad3f8ee1/src

[2018-10-02 12:44] csMACnz commented on #128
Good to know, might require a bit more investigation then.  All of the failures to "rollback mutation" is on code related to this generated code file. As you say, may be a symptom of the same root cause as the ternary with tuples.

[2018-10-02 12:54] csMACnz commented on #128
This looks more like it:

[code]

(some other errors not provided)

`MyBaseClass<>` is the base class compilation file from the nuget package.
It looks like the actual problem is that the nuget `contentfiles` are not getting included during the recompilation steps after mutation.

[2018-10-02 13:18] richardwerkman commented on #128
So if I understand correctly the type `MyBaseClass<>` is from a nuget package? It could indeed be the problem that these `contentfiles` are not included during compilation. Do you know where the file can be found?

A sollution might be to read the files, create AST's for each contentfile and give these AST's to Roslyn. Then the compiler will know the type `MyBaseClass<>`.

[2018-10-02 13:31] richardwerkman commented on #128
Okay so Stryker should scan each referenced nuget package for `*.cs` or `*.cs.pp` files and include the AST's before compiling.

This could be a tricky issue since we don't have a list available of referenced nuget packages. Do you have any suggestions on how to get the locations of these files?

[2018-10-02 13:42] csMACnz opened #130 "<TargetFrameworks> causes Object null reference exception"
When running against a test project using `<TargetFrameworks>` instead of `<TargetFramework>` causes a `System.NullReferenceException`.

[code]

The only indication that the issue is the `TargetFramework` is that the stack trace fails on `FindTargetFrameworkReference`.  This could do with a better messaging if you only support targeting one framework, or better support when `TargetFrameworks` is u

[2018-10-02 13:52] yaelkeemink commented on #100
Awesome, thanks for participating! You do not need to adjust the placeholders. But I agree with you it is a bit strange we use logConsole insteaf of logLevel. @richardwerkman what was the reason you used logConsole over here?

[2018-10-02 13:54] csMACnz commented on #128
It might be enough to also scan `obj\<Configuration>\<TargetFramework>\NuGet\**\*.cs` files for inclusion. However I suspect that similar issues would happen with linked files, or other external to the project folder class files.

Since this (and the linking) case are not overly common, it may be enough to allow configuring extra source folders to scan files from during compile?

Otherwise, it may

[2018-10-02 14:11] richardwerkman commented on #128
Sadly Roslyn doesn't support any MSBuild implementation for .NET Core. This is why I gathered references and *.cs files in the first place.

I like your sollution as to give a list of folders/files to also include for Stryker. This might be useful for solving other compilation problems in the future as well.

I would be even more happy if we find a way for Stryker to find the locations itself but

[2018-10-02 14:21] richardwerkman commented on #122
@shadow-cs
[code]

looks good, maybe we could add this to #111? Or is this important enough to create a new item for it?

[2018-10-02 14:29] richardwerkman opened #131 "Configue extra files and folders to compile"
Stryker has some problems with compiling a few projects as shown in #128.

If users could pass a list/array of files and folders to compile, Stryker would also be able to compile these projects.

[code]

We will have to test these values to be files of the right extension and scan the given folders for `*.cs` files. The content of the found files should be parsed to AST's and be fed to Roslyn befo

[2018-10-02 15:08] cmulder commented on #99
I would like to pick this up as my good first issue :)

[2018-10-02 16:02] cmulder commented on #111
I would like to take a look at this :)

[2018-10-02 17:29] Valdas3 opened #134 "Add support for expression bodied members"
When testing I noticed that expression bodied members are skipped when looking for "mutatable" statements. So code like this
[code]
is successfully mutated to this
[code]
but code like this
[code]
is left unmutated.
I dug around a bit and it seems that this could be solved by checking if current node is ArrowExpressionClauseSyntax.

If this looks like something you want to support when I could try

[2018-10-02 18:52] richardwerkman commented on #134
Hi @Valdas3, at the moment LocalDeclarationStatements like yours are skipped on perpose because they break the program when mutated.
This has to do with the way mutation are placed in the code.
[code]
Would look like this after mutations:
[code]

This affects the scope for the Add method. When it is called later on it will not compile.

To fix this the ArrowExpression should be mutated like this:

[2018-10-02 18:53] richardwerkman commented on #134
An issue for this already exists: #17

[2018-10-02 19:02] Szpi commented on #105
Hi, I'm happy to take this issue. Could you write something more about what exactly do you expect ? :)
This library seems is very interesting. Do you have more issues for beginners? I'd love to write mutator.

[2018-10-02 19:16] richardwerkman commented on #122
`var usableProcessorCount = Math.Max(logicalProsessorCount / 2, 1); ` will be fixed by #133

But maybe there should be more research towards the thread safety.

[2018-10-02 19:19] topennanen commented on #122
Looks like all the mutations use the same instance of executor, and therefore also the same instance of testrunner:
https://github.com/stryker-mutator/stryker-net/blob/b55988e12c1f9e6ef5ed09d969af862660b50d89/src/Stryker.Core/Stryker.Core/MutationTest/MutationTestProcess.cs#L111

Here the state of the testrunner gets changed, and we get a race condition. This also causes the varying results @Valda

[2018-10-02 19:32] yaelkeemink commented on #105
Hi, glad to hear you are interested in helping us out! I would like to see the number of tests found in the initial test run shown in the console and the logs. That way I know if the number of tests I run on stryker is the amount of tests I expected it to be.

To answer your othher question, I will define some more issues for beginners (and hacktober) tomorrow :)

[2018-10-02 19:36] richardwerkman commented on #125
After some research I was able to reproduce the issue. I think this is an duplicate of #17.

LocalDeclarationStatements are ignored from mutating right now because this causes compile errors. You seem to have found a different kind of statement that causes this:

[code]
Gets mutated into:
[code]
The if statements causes a change in the scope of the declaration of `string head`

[2018-10-02 19:44] richardwerkman commented on #17
After two helpful issues it seems the TernaryMutantPlacer should also handle:
[code]
Which is a `LocalFunctionStatement` and should be mutated like:
[code]
[code]
Which is a `SimpleAssignmentStatement` and should be mutated like:
[code]

[2018-10-02 20:12] richardwerkman commented on #122
Great job on the research! It seems that the use of the same instance for every paralel testrun could be the problem.

The method `SetActiveMutation()` sets a property inside the testrunner instance. This property is used during the `RunAll()` method call to start an sub-process with the id from the property in the environment of the sub-process.

If the property changed in between the calls `SetA

[2018-10-02 20:19] richardwerkman opened #135 "Remove race condition during testruns"
The new feature parallel testruns caused race conditions to occur during mutation testruns, as seen in #122. Changing the testrunner interface and implementation should fix this.

Currently the method `SetActiveMutation()` sets a property inside the testrunner instance. This property is used during the `RunAll()` method call to start an sub-process with the id from the property in the environment

[2018-10-02 20:45] Valdas3 commented on #135
I can start working on these changes.

[2018-10-02 22:10] Stukongeluk commented on #11
I'm working on this right now, sticking with the preference of @richardwerkman ;) PR will arrive somewhere this week!

[2018-10-03 05:50] yaelkeemink commented on #117
We decided that it was easier for a first issue to use a config file instead of reading out of a csproj. But I do want to read the settings from a csproj in the future. One of the problems we still encounter and why we decided to use a config file is that we don't have a way yet to decide which project we want to test with stryker.

[2018-10-03 05:50] shadow-cs commented on #122
Not at all that important. I was thinking about creating a PR once I had some time to spare.

One suggestion though, wouldn't it be better to create separate runners for each run/thread? This might prevent similar race-conditions in the future.

[2018-10-03 06:17] yaelkeemink commented on #9
Could be usefull to fix #105 first.

[2018-10-03 06:29] yaelkeemink opened #137 "Add multiple targetframework support"
At the moment we do not support multiple targetframeworks to be build an tested. We would like to see that we get all targetframeworks from the csproj and build for all the targetframeworks and mutation test all these builds.

For a first iteration we should make it possible to select the targetframework to build for through an option.
We should probably set a default, for example always the lates

[2018-10-03 06:59] richardwerkman commented on #9
@yaelkeemink why? I had imagined that the progress would be mutant based. Like 20/40 mutants tested = 50% done. We don't need the number of tests for that. Or did you have something else in mind?

[2018-10-03 07:04] yaelkeemink commented on #9
Thats another way to aproach it. I thought it was based on the number of tests and the time needed to run the tests. that way we can try to predict how much time left till stryker is finished. Your idea it simpler to implement, so I suggest to implement your idea and extend it later.

[2018-10-03 07:10] yaelkeemink commented on #9
@richardwerkman Do you agree with me that this is a good first issue then?

[2018-10-03 07:20] richardwerkman commented on #135
Hey @Valdas3 thanks in advance for your help! Feel free to find a suitable solution to fix the race conditions. The above is just my option :)

@shadow-cs had another suggestion as to create a new testrunner instance for each mutant/thread. That would work as wel and maybe be more future proof.

[2018-10-03 07:27] simondel commented on #122
I think we should be able to reuse a process/thread to run multiple times. But parallel runs should be separated. So if we can keep the process/thread after a run to do another run, that would be great.

[2018-10-03 07:27] richardwerkman commented on #9
Yes, this is a great first issue! To make my thoughts even more clear:

We still can predict the time left by using the past time. For example, stryker created 50 mutants and the initial testrun took 5s. An estimate could be stryker will run for ~50x5s. During the mutation testing we could refine this even more by measuring how much time the past mutants took to test. That way te predition will ge

[2018-10-03 14:35] yaelkeemink commented on #28
I can now find all the csproj files and load all its references. When I try to compile this code right now I get the following errormessage: `Predefined type 'System.String' is not defined or imported`
This means it did not load the  mscorlib. I cant seem to find why it did not load, is there anyone who knows the solution to this? I found another issue on the roslyn github page: https://github.com

[2018-10-03 14:43] richardwerkman commented on #28
Maybe it has to do with the way you resolved the AssemblyReferences? I don't know about your implementation but it could be that it always misses `mscorlib` (and only mscorlib). In that case we could add it hardcoded on .net framework from the default location. I guess it's fair to assume that every .net framework project needs `mscorlib` as a referenced assembly.

[2018-10-03 19:32] Szpi commented on #9
I'm happy to take this issue :).

[2018-10-03 19:46] richardwerkman commented on #26
I don't think so no... Closing this issue

[2018-10-03 19:46] #26 closed

[2018-10-03 20:03] Valdas3 commented on #135
I have created an initial pull request with the updated signature of RunAll. Testing locally, this seems to have fixed the issue with the test runner, so at least that's good. Next step would be to create a new test runner instance for each "iteration" of Parallel.Foreach. I guess we should avoid new'ing up MutationTestExecutor and instead create something like a MutationTestExecutorFactory with a

[2018-10-04 04:53] #100 closed

[2018-10-04 04:54] yaelkeemink opened #142 "Change --project argument to --project-file"
I would rather see '--project-file' instead of --project or --project-name as an argument since it is more descriptive.

see #129

[2018-10-04 08:27] #135 closed

[2018-10-04 11:20] michielpeeters commented on #34
I'll be happy to help with this issue. My suggestion would be to get rid of the magic strings and using enums for example. The only problem is when new mutators are introduced that the enum shoud be updated. Ow yeah, I fully agree that you should use attributes instead of using some sort of array. Or add some sort of configuration file where you can setup stryker (for example: nlog.config)?

[2018-10-04 11:36] richardwerkman commented on #34
Nice to hear @michielpeeters! I think it would be best to start just with
[code]
The excluding of specific mutators could be another issue for later, if we want to.

This item could be a little hard since the attributes have to be looked for inside the AST's. If you need help please let us know!

[2018-10-04 11:54] simondel commented on #127
The pipeline should be up and running now. After we've merged the current API changes I'll deploy using Azure Pipelines. If that goes well, I'll export the build to yml and add it to the repository. Then we can also make the project public on Azure Pipelines and phase out AppVeyor.

[2018-10-04 13:33] #111 closed

[2018-10-04 15:17] #142 closed

[2018-10-04 15:54] richardwerkman opened #145 "Some statements break Stryker.NET"
### The issue
The following statement breaks Stryker:

[code]

The reason is that changing the `+` to an `-` will not cause one but two compile errors.

1. `cannot convert from 'System.Uri' to 'string'`
2. `Operator '-' cannot be applied to operands of type 'string' and 'string'`

During the rollback stage Stryker will try to rollback both errors. It will find the mutation that causes this twice a

[2018-10-04 17:02] B1tF8er commented on #145
Can I do this?

[2018-10-04 17:30] B1tF8er commented on #145
let me clone the repo, see the code and if I have any doubts I will let you know

[2018-10-04 17:31] Jacrys commented on #130
looking at this...

[2018-10-04 18:32] Valdas3 opened #146 "Fix the order of reporter events"
When executing tests in multi-threaded environment test progress gets reported out of order when compared to the final mutation test scores.  An example:
![Example](https://user-images.githubusercontent.com/9084046/46435736-b8bcc680-c75f-11e8-85f4-850f304c1151.png)

Here, when tests was running, the progress was reported as `SS...S`, which would mean that first two mutants and the last one survive

[2018-10-04 19:46] drSte commented on #145
can I contribute on this?

[2018-10-04 20:00] richardwerkman commented on #145
@drSte if you think you can fix this right away I would say go ahead. Unless @B1tF8er is already on his way to create his pull request. Maybe he can let you know?

[2018-10-04 20:00] simondel commented on #145
I think @B1tF8er is already working on this, sorry!

[2018-10-04 20:04] B1tF8er commented on #145
I am working on this

[2018-10-05 05:33] #99 closed

[2018-10-05 09:56] #11 closed

[2018-10-05 10:08] simondel commented on #121
This can be done using the thresholds that can be set by the user.

[2018-10-05 11:12] richardwerkman commented on #146
For me this has a very low priority. The [ConsoleDotProgressReporter](https://github.com/stryker-mutator/stryker-net/blob/master/src/Stryker.Core/Stryker.Core/Reporters/ConsoleDotProgressReporter.cs) main goal is to inform the user about the status of the mutationtestrun. It gives the user the idea that the program is still running and has not crashed, and at the same time gives a **preview** abou

[2018-10-05 12:42] richardwerkman commented on #34
Hi @michielpeeters ,

After a quick search I've found the node type for attributes is `AttributeSyntax`. It has a name property.

A great start for this issue would be to ignore files completely if they contain a `[ExcludeFromStryker]` attribute.

It would maybe look something like this:
[code]

If we want to exclude the whole file we could place it here:
https://github.com/stryker-mutator/stryker

[2018-10-05 12:46] michielpeeters commented on #34
Yeah I saw that already that the AttributeSyntax should be the way to go. This one contains a IdentifierSyntax which can resolve my string value to compare against "ExcludeFromStryker". I did already find out where the code should be located but thanks for pointing that out :-D!

My personal opinion and I'm not quite sure what it will do to speed, but I think if we can create a wrapper in the near

[2018-10-05 14:57] Stukongeluk commented on #121
I'll try to take a shot at this one too!

[2018-10-05 16:13] kevinlyles commented on #146
One option might be to output a placeholder character for mutants that haven't finished yet.  You'd have to go back and update the existing line of text one it finished to make that work without scrolling a bunch, but I think that's possible with \r.

[2018-10-05 16:52] #120 closed

[2018-10-05 17:27] kevinlyles commented on #17
Is anyone working on that last post?  If not, I could take a crack at it.

[2018-10-05 17:33] michielpeeters commented on #34
@richardwerkman if you have some spare time I've created a first implementation of the exclude attribute. You can find it here: https://github.com/michielpeeters/stryker-net when I have determined how to unit test the count of mutants I'll create a pull request. Maybe you have some better idea's about the unit test or the implementation :-).

[2018-10-05 18:07] #130 closed

[2018-10-05 18:08] Mobrockers commented on #130
Issue closed by pull request as for now we have decided we only really need to support one target framework, so we will just take the first one we find if multiple are available.

[2018-10-05 18:48] richardwerkman commented on #17
@kevinlyles I've made a start on this but I ran into some trouble... The main problem is the current way we insert the if statements. It does not allign well with the way ternary statements should be inserted.

### Example:
Ternary
[code]
If statement
[code]
While inside of the syntax tree this means a huge difference in depth and code that should be "copied". The if statement should copy the whol

[2018-10-05 19:35] richardwerkman commented on #34
I'll take a look at this tomorrow! For now I've tried running your code and it crashes on:
https://github.com/michielpeeters/stryker-net/blob/72e6e3958ec962f7f7a5ebf280582426b0698f54/src/Stryker.Core/Stryker.Core/MutationTest/MutationTestProcess.cs#L83
Maybe you could already look at that.

[2018-10-05 20:35] Mobrockers commented on #15
We should define our own output directory for the mutated assemblies so that there can never be any unfortunate conflicts (such as if stryker crashes during run and cannot roll back the old file).

[2018-10-05 20:38] Mobrockers commented on #32
Currently PlantUML is being investigated internally as a tool to generate such diagrams documentation and specification during build time.

[2018-10-05 20:43] nicojs commented on #32
The Stryker handbook already has a script to generate sequence diagrams from clear text. Would be easy to add that for stryker-net as well.

In any case, the handbook could be a nice place for this.

[2018-10-05 20:46] Mobrockers commented on #34
Imo it is bad practice to dirty your source files with attributes used only by an external testing tool. This way we force anyone that wants to use stryker exclusions to have a dependency on some stryker package in their source projects. I would prefer exclusions based on configuration using filepath patterns.

[2018-10-05 20:49] kevinlyles commented on #34
If we want to eventually allow skipping only parts of a file (which I think would be useful), I think we have to do something at the source level.

[2018-10-05 20:56] Mobrockers commented on #34
Can you give an example of a case in which you would want to exclude only parts of a file from mutation? The way I see it, the only reason to exclude parts of a file is because something is wrong with Stryker. In which case we have to fix the bug.

But besides that, if we do eventually need this, I would still want to have the option of file path based exclusion as well, in case I do not have any

[2018-10-05 22:00] richardwerkman opened #155 "release 0.2.0 breaks on writing the mutated assembly to disk"
Stryker breaks on writing the mutated assemby to disk.

https://github.com/stryker-mutator/stryker-net/blob/a1bbda45673caad85295ada4a7699e22e2712f5f/src/Stryker.Core/Stryker.Core/MutationTest/MutationTestProcess.cs#L76

This line was added just before the 0.2.0 release. It creates the folder the `.dll` file should be written to. To fix this, first should be checked if the folder doesn't exist firs

[2018-10-05 22:08] richardwerkman opened #156 "Happy flow tests"
We should add a integration test project that checks the happy flow of Stryker. This will prevent broken releases like 0.2.0.

For instance it could create an instance of `StrykerCLI` and run it on a small example project. The exit code of stryker should be correct. Maybe we could also test more, like expected output or mutationscore.

Anyone with experience writing these kind of tests that can gi

[2018-10-06 06:00] #155 closed

[2018-10-06 06:14] simondel commented on #155
Thanks for opening the issue @richardwerkman and thanks for fixing it @KonH! I expect a folder creation to not fail if it already exists and I expect the creation to also not fail if I pass a path to a file, since it can simply take the directory path from that file and use it.

[2018-10-06 07:15] michielpeeters commented on #34
Hi @Mobrockers, that's what I was thinking as well. Personally I don't have seen some sort of external runners using an attribute to control the flow of the runner. A configuration file, for example nlog.confg, is maybe better to control the flow (in the future) instead using attributes. I'm working on it now, sooo we can go every direction we want :-). What do you think @richardwerkman?

[2018-10-06 07:42] simondel opened #158 "Describe release procedure"
So far, I have been the only one doing releases using Azure Pipelines and GitHub releases/tags.

I have to describe this process to ensure others can do it as well. This procedure may change in the future as we automate the process further.

[2018-10-06 09:42] richardwerkman commented on #34
I didn't think about the fact that the attributes should be placed inside the source project and not test project. It's not nice indeed that the source project should have a reference to some stryker package just for this attribute. So, if excluding part of a file is not a valid use case, my preference would go to reading an array from [the stryker config file](https://github.com/stryker-mutator/s

[2018-10-06 10:00] richardwerkman opened #159 "Default loglevel info"
I was just thinking about how we could clean the repo a bit and noticed the status reporter might not be needed anymore.

## Default behaviour

[code]
## --log-console info behaviour
[code]
In the second example we see a lot of double information. By making the default loglevel "information" we could clean the repo quite a bit. This would mean:
* The [status reporter](https://github.com/stryker-mu

[2018-10-06 10:01] richardwerkman commented on #158
Will we start working with a release branch? Or still from master?

[2018-10-06 10:05] nicojs commented on #155
Awesome it got fixed so quickly! Can we add an integration test for this?

[2018-10-06 10:06] richardwerkman opened #160 "Clearness of console report"
On small projects the console report looks fine and it is clear where the mutations have been made. On bigger projects (200+ mutations) the report starts to get overwelming and unclear.

For example,
[code]
looks good, but once one file has more than 10 mutations it gets hard to spot which mutation belongs to which file.

The question is, should we change the way we display our report in the conso

[2018-10-06 10:06] simondel commented on #155
Yes (there are no integration tests right now)

[2018-10-06 10:07] nicojs commented on #155
Nevermind, I see there is #156 for that.

[2018-10-06 10:11] simondel commented on #158
I don't see the benefit of using a release branch for this right now. For strykerJS we use it to signal that we want a release.

[2018-10-06 10:37] Mobrockers commented on #159
I agree. We had decided the reportonly reporter would be removed in the future anyway.

[2018-10-06 10:44] Mobrockers commented on #160
I don't think it's worth the effort right now, but we could add an option to only show survived mutations. On larger projects the html or json reporters should be used.

[2018-10-06 13:57] simondel opened #164 "Static code analysis"
SonarCloud has an (supposedly) easy to use integration with Azure Pipelines. This could help us identify code smells and potential bugs.

[2018-10-06 16:05] kevinlyles commented on #34
I agree that having a full-file option that doesn't need changes to the source code under test is a good idea, and I think it probably makes sense to start with that.

However, I can definitely think of situations where I'd want to exclude some code in a file from needing mutation coverage, but still test the rest of the file.  Say you have a function to return the database id for some enum, or an

[2018-10-06 17:59] kevinlyles commented on #17
I'm trying an alternate approach based on statements vs expressions.  I think we can use the if insertion for statements (with a short blacklist of things to try directly mutating), and the ternary insertion for expressions.  It means checking the SyntaxNode type in a few places, which I'm not thrilled about, but I think it will work.  Once I get it working I'll post the branch and we can see if/h

[2018-10-06 20:30] #127 closed

[2018-10-06 21:57] Szpi commented on #9
I have implemented something like this.
![1](https://user-images.githubusercontent.com/23508122/46576113-303e6000-c9c3-11e8-8e04-a695f1fadcaa.PNG)
![2](https://user-images.githubusercontent.com/23508122/46576115-33395080-c9c3-11e8-8d8c-6d40d602d175.PNG)
![3](https://user-images.githubusercontent.com/23508122/46576116-35031400-c9c3-11e8-9b55-96b2804e5175.PNG)
Should I add progress bar ? I though of

[2018-10-06 22:11] Mobrockers commented on #9
The progress bar could be for example inside the percentage complete brackets like so [======52%==---------]

[2018-10-07 09:33] #158 closed

[2018-10-07 10:51] richardwerkman commented on #9
I think it would be great if the progress reporter would be a substitute for the ConsoleDotReporter, and not an addition. Also the progress bar could use [special characters](https://en.wikipedia.org/wiki/Block_Elements#Character_table) to look better. Maybe something like this?
[code]

[2018-10-07 10:58] Mobrockers commented on #9
Did not feel like looking up the special characters on my phone last night but yea the black blocks is what I was going for 👍

[2018-10-07 11:01] richardwerkman opened #166 "Linq mutator proposal"
I'm thinking about a cool new mutator for C#. There are a lot of LinQ methods that return the same interface, this makes them suitable for removing and switching. For example:

[code]
And
[code]
And
[code]

What do you guys thinks about a mutator like this? Would this be useful, and if so, what kind of mutations should we make?

[2018-10-07 11:12] Mobrockers commented on #166
There should be many fun things we can do with Linq queries, since most linq queries should return an IEnumerable. We should probably be careful that we do not create too many mutations since so much is possible, though. Your initial suggestions look good.

I think especially the SingleOrDefault mutation is very useful.

[2018-10-07 14:54] Valdas3 commented on #166
Cool idea. I think that having mutations for All <-> Any, SkipWhile <-> TakeWhile, Min <-> Max might also be useful. Maybe even for OrderBy <-> OrderByDescending

[2018-10-07 15:18] lkts commented on #159
Let me take a look at this.

[2018-10-07 16:07] joostas commented on #106
I will take his one.

[2018-10-07 18:45] michielpeeters commented on #34
Alright, sorry for the late reaction but I definitly prefer the file option. I'll start creating on the file option and that stryker will filter first on complete files. I'll create a PR from it and start with the implementation when inner or multiple classes are located. After that I'll filter on operation level which is now also easy to do because I can manipulate the syntaxTree with ease :-).

[2018-10-07 19:02] michielpeeters commented on #166
I'm not quite sure that you can actually break Linq statements. For example when someone is testing with one record in All() and Any() can result in a test which will survive and I think you want to break the tests all the time? And how do you handle when the Funcs are written for these linq statements?

Are you searching specifically for a Where Linq statement + one of the above? Or do you want t

[2018-10-07 19:31] Mobrockers commented on #166
A test surviving when any is switched with all would still indicate that your testset is inadequate, so I don't see the problem there. When your testset is adequate any and all cannot both be true.

[2018-10-07 19:49] richardwerkman commented on #166
@Michielpeeters No the mutations are not specific for Linq statements with Where, that was just an example query. I'm not mutating Where in the Linq mutator with reason because the expression in the Where() will already be mutated by Stryker. An example on how this mutator will work is:

[code]
would be mutated into
[code]
and
[code]
When you are sure your tests are correct and still no test fails

[2018-10-07 21:07] Mobrockers commented on #137
We should investigate whether it is actually necessary to run tests in multiple target frameworks

[2018-10-07 21:11] joostas commented on #16
I will try on this.

[2018-10-08 06:54] #105 closed

[2018-10-08 10:49] hugo-vrijswijk commented on #34
Should be noted that both [Stryker4s](https://github.com/stryker-mutator/stryker4s/blob/master/docs/CONFIGURATION.md#files-to-mutate) and [Stryker](https://github.com/stryker-mutator/stryker/tree/master/packages/stryker#files-to-mutate) use the `mutate` option to specify which files should be mutated (or not mutated)

[2018-10-08 19:41] Szpi commented on #9
Current state of progress reporting:
![new](https://user-images.githubusercontent.com/23508122/46629857-8f76ae80-cb42-11e8-839e-6c9f3304c895.PNG)
What do you think about it? I have removed ConsoleDotProgressReporter and replaced its functionality as described by @richardwerkman, therefore I think this solves also #146.

[2018-10-08 19:56] richardwerkman commented on #9
This is looking awesome! Does it print this for every mutant? Or does it update the values? It would be really cool if it updates.

For the estimate, could the minutes count be left out when it reaches 0? And did you concider that times could also be hours? On really large projects.

[2018-10-08 20:02] Szpi commented on #9
It updates fields. I will change time formatting, thank you for feedback :).

[2018-10-08 20:05] richardwerkman commented on #9
Oh, that was not what I mean't I'm sorry. I meant that we want to offer two reporters to users. The basic "DotReporter", and the more advanced "ProgressReporter". Users can configure this using the settings
`--reporter progress` or `--reporter dot`. The dot reporter is nice for using on servers like azure, since there you won't need fancy status bars. The functionality for passing reporter paramet

[2018-10-08 20:08] Szpi commented on #9
Oh ok. Making settings will be cover in another issue?

[2018-10-09 07:46] richardwerkman opened #174 "Line number in raport is wrong"
The line numbers of mutations are displayed incorrect. They seem to be always +1. This can be confusing for users as they cannot find the right line when looking for the mutation in their code.

[code]
Can be found on line 40 in the source code. I'm not sure where the wrong number comes from.

[2018-10-09 09:52] nicojs commented on #174
There are 3 hard problems in software development: cache invalidation and off-by-one errors. :trollface:

[2018-10-09 16:54] Szpi commented on #9
PR #175

[2018-10-09 16:55] Szpi commented on #174
I can take this issue.

[2018-10-09 17:56] Szpi commented on #174
PR #176

[2018-10-09 19:54] Szpi opened #177 "Vs Extension"
It would be really cool if developer could install stryker extension to visual studio, right click on class maybe test? and press Run mutation tests and then automatically run stryker with proper includes /excludes. Maybe some visualization window?

Making such extension would take much effort, but just imagine it 🥇

[2018-10-10 07:54] oliwennell commented on #28
I think I came across something similar re: the `System.String` / `mscorlib` issue.

What worked for me in the end was using the [Microsoft.Build.Locator](https://www.nuget.org/packages/Microsoft.Build.Locator/) nuget package ([github repo](https://github.com/Microsoft/MSBuildLocator)).

E.g.
[code]

and then

[code]

I've seen online that `CheckForSystemRuntimeDependency` can also help so added i

[2018-10-10 08:07] Mobrockers commented on #28
@oliwennell Thanks for the suggestion! We'll see if we can use this to fix our issues locating dependencies in GAC.

[2018-10-10 12:15] michielpeeters commented on #34
Ok, I'm quite far with the implementation but having thoughts questions of how to handle it and how you guys like it.

1. Should it be case sensitive? For example: Recursive.cs and recursive.cs should both be accepted?
2. I find all the files by using '*.cs' as searchPattern. Within that method I'll verify if the file is included or excluded (based on the Stryker4s and Stryker mutate option). When

[2018-10-10 21:20] Mobrockers commented on #34
Exclusions should be unix glob filepath pattern based, see https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/file-matching-patterns?view=vsts and https://en.m.wikipedia.org/wiki/Glob_%28programming%29?wprov=sfla1, and should be case sensitive because the Linux file system is in most cases case sensitive. It has to be filepath based because there is no way to uniquely identify a file on

[2018-10-11 05:11] #106 closed

[2018-10-11 05:12] simondel commented on #174
Closed with #176

[2018-10-11 05:12] #174 closed

[2018-10-11 15:52] richardwerkman opened #182 "Linq mutator"
We would like to add a new mutator that mutates Linq queries. It should look for specific methods and replace them with their counterpart or remove them. The following methods should be mutated:

| Original | Mutated |
| ------------- | ------------- |
| `Distinct()` |  |
| `Reverse()` |  |
| `OrderBy()` |  |
| `OrderByDescending()` |  |
| `SingleOrDefault()` | `FirstOrDefault()` |
| `FirstOrDefau

[2018-10-11 15:52] richardwerkman commented on #166
Closed by creation of actual issue #182

[2018-10-11 15:52] #166 closed

[2018-10-11 20:41] eTomate commented on #182
I'd love to give it a shot. Already looked into it a little and might have a lot of questions :)

[2018-10-12 05:32] richardwerkman commented on #182
@etomate cool! Please let us know if you need help or have questions :+1:

[2018-10-12 09:07] nicojs opened #183 "Integrating with the test runner"
By far the next biggest performance improvement is integrating with the test runner. Right now, we support the `dotnet test` command. This spins up a new dotnet process. There is a lot of overhead here before dotnet even starts executing the tests:

* OS Allocation of process resources
* dotnet allocation of heap + other overhead
* Loading of all assemblies from disk
* Exiting of the process.

It

[2018-10-12 09:56] Mobrockers commented on #183
Useful links?:
https://github.com/Microsoft/vstest
https://github.com/JetBrains/TeamCity.VSTest.TestAdapter/wiki

[2018-10-12 09:57] #121 closed

[2018-10-12 12:05] eTomate commented on #182
Hey @richardwerkman - I'm not entirely sure, how we could detect the syntax of a Linq Query, since there is no explicit SytanxKind nor ExpressionSyntax for it.
I've boiled it down to an InvocationExpressionSyntax and added an Enumerable for the different LinqExpression - but I'm not very confident, that this is the matching type. Do you have any ideas?

It feels very hacky to be honest.

Thank you

[2018-10-12 13:18] richardwerkman commented on #182
Well, I don't think we can detect Linq Syntax, since it's not an actual C# kind. We can only detect the name of methods. In this case I think it's oke to assume that every method with the `IdentifierName` "All" is an Linq all method. The only way to know that for sure is by reading the semantic model.

We chose not to create an semantic model for each file since this is an expensive operation. We

[2018-10-12 19:36] nicojs commented on #177
I agree that this is something that we eventually want. First we need to make sure we have test runner integration (#183) and .NET framework support (#28). Once we have that, we can already have basic plugin IMHO

[2018-10-12 19:54] simondel commented on #183
I've removed the hacktoberfest label for now because this will take a while to research, review and develop.

[2018-10-12 19:55] nicojs commented on #183
So it should get 10 hacktoberfest labels, right? 😎

[2018-10-13 13:27] eTomate commented on #182
Thanks for the hints @richardwerkman. Can you assign this issue to me (since I can't :D).
Looks fine as of right now - but I'm not fully understanding the rollback for now. I'll have a look into it today over the weekend.

[2018-10-13 14:38] richardwerkman commented on #183
During my internship I also experimented with several testrunners. Both XUnit and NUnit have nuget packages available to run test projects from code. I couldn't get the XUnit one to run from a .NET Standard 2.0 project. But the NUnit runner seemed to work perfectly and super quick.

It offers the following advantages:
- I had to pass the runner an in memory assembly, so we can run the tests all in

[2018-10-14 07:29] simondel commented on #182
Unfortunately we can only assign issues to people who have permissions on this GitHub repo :/

Richard did add an "in progress" label though :)

[2018-10-14 12:04] Mobrockers commented on #183
All test frameworks that want visual studio support need to implement the vstest testadapter for test discovery. This would most likely also include for example specflow as well as unit test frameworks.

[2018-10-17 07:02] Mobrockers commented on #145
@drSte The previous contributor no longer has time to continue working on this issue. Are you still interested in fixing this? If so, you could continue on their work as seen in #190.

[2018-10-17 18:29] Mobrockers opened #191 "Azure pipeline triggers result in sometimes 4 builds triggered for the same commit"
It seems like due to some github integrations in combination with pull request triggers and master build triggers that sometimes up to 4 builds are triggered at the same time for one commit.

[2018-10-17 18:45] richardwerkman commented on #191
Interesting find! This could also explain the long duration of the builds? Maybe @simondel knows more about this?

[2018-10-17 19:02] simondel commented on #191
I'll take a look at this tomorrow 👍

[2018-10-17 19:05] simondel commented on #191
@richardwerkman what do you mean with long build times?

[2018-10-17 19:14] richardwerkman commented on #191
@simondel sorry, I was talking about the duration of the integration test build. This takes up to 36 minutes. But this could be due to the fact that indeed 3 builds are triggered by only one commit.

![screenshot_3](https://user-images.githubusercontent.com/14224500/47110570-8035e600-d251-11e8-8f7e-561943c49ecc.png)

I guess this takes it's toll on the azure pipelines resources.

[2018-10-17 19:15] Mobrockers commented on #191
We can run up to 10 parallel jobs and every job is run on a new agent so that should not be the case.

[2018-10-17 19:28] simondel commented on #191
Each build has two environments so keep in mind that each build will take up two parallel jobs.

[2018-10-17 19:32] Mobrockers commented on #191
Every single build takes about the same 35 minutes to complete though, I would expect the timings to be off if one build was blocked because we ran out of parallel instances.

[2018-10-17 19:38] #145 closed

[2018-10-17 19:51] Mobrockers commented on #122
@simondel @richardwerkman @shadow-cs Can you guys confirm this issue was fixed with #135 so this issue can be closed?

[2018-10-17 19:54] Mobrockers commented on #118
@Valdas3 Seeing as I can't find a fork from @dutts we can assume they did not yet have time to start on this. Feel free to pick this one up 👍

[2018-10-17 20:15] kevinlyles commented on #17
Alright, I think I have things working.  We end up using ternary mutations for expressions and if mutations only for statements, which means a lot more ternary mutations but often a lot less code overall.

I have a proof of concept (with some new tests and all tests passing) at https://github.com/kevinlyles/stryker-net/tree/issue-17, but I probably won't have time to clean things up until next wee

[2018-10-17 20:32] Mobrockers opened #192 "Support dotnet core 2.1 global tool installs for the stryker cli runner"
Currently stryker is installed by adding the following in the test project csproj:

[code]

Since dotnet core 2.1 there exists the concept of global dotnet tools. Currently I believe our package is not completely compatible with this install model, and will fail to install (not 100% sure). I am also not certain if a stryker run will successfully start if the tool is installed globally due to file

[2018-10-18 05:58] simondel commented on #156
@richardwerkman @Mobrockers The integration test takes 30 minutes. Running the project itself in a regular scenario is a lot faster:
https://dev.azure.com/stryker-mutator/Stryker/_build/results?buildId=415&_a=summary&view=logs

[2018-10-18 13:02] shadow-cs commented on #122
@Mobrockers looks good, both runner isolation and `logicalProsessorCount` issue.

[2018-10-18 16:08] #122 closed

[2018-10-18 18:46] richardwerkman commented on #17
@kevinlyles Super awesome! I've been working on my own solution but still could not produce a proof of concept. This change would create a much more adult mutation testing framework since it will mutate every piece of code. I've been looking forward for this feature for a long time now :)

However, since this is a big change with much impact this will take some time to test and review. I will star

[2018-10-18 19:21] richardwerkman commented on #192
This would be cool! I don't think we would have to do lots of changes. For now the global tool can still use its currentdirectory as running location.

[2018-10-18 19:29] richardwerkman commented on #131
I was thinking we could have multiple ways of knowing what files to mutate.

- Default: all files (scan directory for *.cs without bin, obj, node_modules)
  - No configuration so easy. Might miss some files.
- Exclude: configure files to exclude from default files
  - Can be useful when stryker crashes on a file or when the file won't have to be tested.
- Include: configure files to mutate togethe

[2018-10-19 07:17] Mobrockers commented on #131
Since file excludes has already been picked up in #34 and Default: no configuration already exists I think we could suffice with one issue to design and implement the configuration modes and settings, and one extra to implement the include and only modes since they are very similar.

[2018-10-19 07:54] Mobrockers commented on #182
Implemented by #185

[2018-10-19 07:54] #182 closed

[2018-10-19 13:00] nicojs commented on #192
I agree that it should be possible to install globally. However, this shouldn't be the recommended way of working. Global installations of tools are a pain to maintain on build servers and projects with more than one developer.

[2018-10-19 13:06] Mobrockers commented on #192
@nicojs Unfortunately there is currently no easy way to install tools locally in a single project. It is either a simple global install using a single command, or manually edit the csproj and manually add the `<DotNetCliToolReference Include="StrykerMutator.DotNetCoreCli" Version="*" />` reference.

[2018-10-19 14:37] Mobrockers commented on #118
@eTomate Feel free to pick up any work that you find interesting!

[2018-10-19 15:54] Valdas3 commented on #118
@Mobrockers actually, I was planning to do this, sorry for the late reply. @eTomate, have you already started working on this?

[2018-10-20 10:07] #156 closed

[2018-10-21 15:14] Mobrockers commented on #192
@nicojs @richardwerkman Do we want to add this to the readme?

[2018-10-21 15:36] #118 closed

[2018-10-21 18:41] nicojs commented on #192
I think editing a file is pretty easy. Same as editing a pom.xml file for example. If we add it to the readme, I would also add that it is not recommended.

[2018-10-21 18:54] Mobrockers commented on #192
Imo csproj files are a lot less human editing friendly than a pom file.
Especially since visual studio likes to hide the fact such a file even
exists and is editable and because node names are often non-obvious. This
is less true on dotnet core of course. I do agree we should at least point
out that using the global tool install might make it less obvious that an
update is available.

On Sun, Oct

[2018-10-21 19:11] Mobrockers opened #195 "Official Stryker CI tool installer tasks"
Most CI's available have some form of tool installer plug-in support. Since we have tool installation support that is independent of project package references we could support such build tasks to install stryker in the CI pipeline. This would mean that stryker can be run on projects that might not necessarily have a dependency on stryker. This would also increase the visibility of stryker. All th

[2018-10-22 06:30] nicojs commented on #195
This is a great idea! I like the idea of the tool just being a wrapper around the CLI. That way we are sure to keep them in sync.

How would you provide arguments to the stryker task? Could we start by just passing them along? This is the same approach we took for [stryker-cli](https://npmjs.org/package/stryker-cli) and [grunt-stryker](https://npmjs.org/package/grunt-stryker). It saves you the tro

[2018-10-22 06:36] nicojs commented on #192
That's all a problem of the code editor you use. In principle, editing a file is editing a file. So same ball game. I think installing it globally solely for that reason is a bad idea.

Global installations are great for hello-world and testing it out. When using it in the real world on real projects, always go for local installation. Just a small warning in the readme is fine by me.

[2018-10-22 06:40] nicojs commented on #192
That's all a problem of the code editor you use. In principle, editing a file is editing a file. So same ball game. I think installing it globally solely for that reason is a bad idea.

Global installations are great for hello-world and testing it out. When using it in the real world on real projects, always go for local installation. Just a small warning in the readme is fine by me.

[2018-10-22 06:53] Mobrockers commented on #195
In the first place this plugin only has to provide the install functionality in the same way for example [the vstest testplatform installer task](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/tool/vstest-platform-tool-installer?view=vsts) works. The only configuration value for the task would be the version to install (minimum version being the version where we introduce dotnet too

[2018-10-22 07:07] nicojs commented on #195
Why not 1 field with "arguments" and a link to an examples page? That would be easier to maintain.

[2018-10-22 09:08] nicojs commented on #192
That's all a problem of the code editor you use. In principle, editing a file is editing a file. So same ball game. I think installing it globally solely for that reason is a bad idea.

Global installations are great for hello-world and testing it out. When using it in the real world on real projects, always go for local installation. Just a small warning in the readme is fine by me.

[2018-10-22 12:25] Mobrockers opened #198 "Add hosted mac agent"
We currently run builds and tests on windows and ubuntu. There are probably more developers using mac's than ubuntu, so it might be useful to also run the build on mac hosted agents so we catch bugs earlier.

[2018-10-23 06:00] simondel commented on #191
I have removed some duplicate webhooks. Let's see if this fixes the issue.

[2018-10-23 09:56] Mobrockers commented on #134
Close as duplicate of #17

[2018-10-23 09:56] #134 closed

[2018-10-23 09:56] Mobrockers commented on #125
Close as duplicate of #17

[2018-10-23 09:56] #125 closed

[2018-10-23 10:11] Mobrockers commented on #128
Would be fixed with #131

[2018-10-23 10:12] #198 closed

[2018-10-23 10:30] Mobrockers opened #203 "Clean up CLI OptionsBuilder GetOption"
Stryker.CLI/Stryker.CLI/OptionsBuilder.GetOption<T> was extended with non-generic threshold-options and soon with files-to-exclude logic. This is not the right place for loading config sections and should be moved

[2018-10-23 10:33] Mobrockers commented on #203
See https://github.com/stryker-mutator/stryker-net/blob/master/src/Stryker.CLI/Stryker.CLI/OptionsBuilder.cs#L53-L67

[2018-10-23 13:16] Mobrockers commented on #192
Can be closed after readme has been updated

[2018-10-24 12:02] richardwerkman opened #204 "Disable mutators"
Since we now have a wide range of mutators available there are cases that some mutators are not wanted on certain projects. For example: a project with a lot of trace logging like:

[code]

I could want to disable the string mutator.

[code]

Users should be able to pass a list of mutators to disable. This can be a tricky thing since the names of the mutators are not mapped 1:1 in the documentatio

[2018-10-26 09:46] nicojs commented on #204
Could we keep this config setting name in sync with Stryker for JS? It's called `excludedMutations` there.
https://github.com/stryker-mutator/stryker/tree/master/packages/stryker#mutator

[2018-10-26 10:53] richardwerkman commented on #204
@nicojs I've changed the name to `excluded-mutations`. To keep the dash cased format we use in our other names.

[2018-10-27 11:06] richardwerkman commented on #117
@yaelkeemink I don't think that is a problem. The stryker settings would be placed in the unit test projects csproj file. From there the mutationtest run starts and looks for references in this same file. When it encounters more than once referenced project it needs the settings to find the right referenced project to mutate.

But why do we want to place the settings in the csproj file? When .NET

[2018-10-27 14:31] richardwerkman commented on #17
I have checked your code and it does not work for me. It seems to mutate:
[code]
into
[code]
I like your idea to mutate all expressions with a conditionalexpressionstatement. But here this will not work. Maybe we can find a way to still make this work? Meanwhile I'll still try to get my way going too.

[2018-10-27 22:53] kevinlyles commented on #17
My branch now special-cases ExpressionStatements to only use if for mutations inside them.  I haven't thoroughly tested it yet, but it appears to work for the case you mentioned.

I haven't looked at LocalFunctionStatements yet.  Do you have an example of something that doesn't work yet?

[2018-10-28 15:30] Mobrockers commented on #204
Agreed

[2018-10-28 16:10] kevinlyles commented on #17
I believe that also works in my branch.  I'll take a look at yours, though.

[2018-10-28 17:00] kevinlyles commented on #17
One thing I noticed while reviewing your code is that it tends to produce longer mutated code in many situations.  It's not just the number of lines/characters -- your output has a more complicated syntax tree.  Numbers at the end.

They both work, but I'd expect performance to be better with less repeated code.

As an example, I looked at Mutator_IfStatementsShouldBe_Nested_OUT.cs.

My branch pro

[2018-10-28 18:46] richardwerkman commented on #17
Good point! I think we can add statements that can be mutated as a Conditional. For example the assignmentStatement and other expressions. I'll look into that tomorrow!

[2018-10-28 18:51] richardwerkman opened #208 "Block mutator"
Block statements should be mutated into empty blocks.

For example:
[code]
should become:
[code]
This is a tricky issue, since these mutations can break the program. For example:
[code]
Will not compile since it misses it's return statement. Normally Stryker.NET will handle compile errors by rollbacking the mutation that caused the compile error. But in this case Stryker will not be able to know w

[2018-10-28 18:54] richardwerkman opened #209 "Method mutator"
Some methods (other than Linq methods) can be mutated into their counterparts.

For example:
[code]
can be mutated into:
[code]
I would like to discuss what kind of methods could be mutated by this mutator. Removing methods is also an option.

[2018-10-28 18:57] simondel commented on #208
Can't you figure out the return value and just return the default value?

[2018-10-29 07:51] simondel opened #210 "Integration tests are slow in Azure DevOps"
This project currently has one integration test. Running it takes about 30. In this integration test, Stryker.NET is executed on a project. This testrun is executed on the hosted agents by Microsoft. These are [Standard_DS2_v2](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/sizes-general#dsv2-series) machines with 2 vCPU's and 7 GiB memory.

Running this project using Stryker.NET

[2018-10-29 07:52] simondel commented on #210
Something that's worth testing out is using one of our own physical devices as a build agent. That way we can compare the performance between running the tests manually from the command line/Visual Studio and running them from the Build Agent code by Microsoft.

[2018-10-29 12:38] broodjetom opened #211 "Add DateTime mutator"
Add a mutator for DateTime.

During test, using 'Now' to get current week number. Check for the weeknumber in an Assert. Week later, the test didn't work anymore.

[2018-10-29 19:49] richardwerkman commented on #211
Interesting! How would this look? Because we will not know what the perpose of the datetime will be. It could be to get the day of the week or to get the hour.

For example a test that checks a method to see if it is monday. If we would mutate a date to be a week in the future, the test would still see that the date would be monday. But the test was correct. I guess we have to think real good befo

[2018-10-29 20:20] richardwerkman commented on #21
Closed by #205

[2018-10-29 21:03] richardwerkman commented on #17
@kevinlyles

I have thought about this today and performance wise it will not change much. During runtime the same number of instructions will be executed, the .dll file will only be a bit larger. I've testes both our methods and yours crashed on my example project. I fixed the error but another error showed up.

Mine is able to mutate the example project succesful. I think it's best to first rele

[2018-10-30 09:15] Mobrockers opened #218 "Dotnet global tools seem to somehow be a breaking change on cli tools"
Local tool install no longer seems possible now that we added the ability to use it as a global tool. We need to investigate if this is by design or if we missed some configuration. We may possibly have to create two separate releases one for the global tool and one for the cli local tool.

[2018-10-30 13:11] kevinlyles commented on #17
Yeah, that makes sense.

On Mon, Oct 29, 2018, 16:03 Richard Werkman <notifications@github.com>
wrote:

[2018-10-30 15:34] Mobrockers commented on #218
See: https://github.com/dotnet/cli/issues/9464

[2018-10-30 15:35] Mobrockers commented on #218
Reading between the lines in various issues and articles it seems to me like microsoft is not planning to support local/project cli tools using cli extensibility model at all in the future, and only support dotnet global tools.

[2018-10-30 17:23] broodjetom commented on #211
So I was making some tool to search results by weeknumber. And I made a wrong unit test. I was testing it by using DateTime.Now as input for an extension method to calculate the weeknumber by date:

[code]

This test was passing because I made this in week 41. One week later this test was failing simply because it wasn't the 41st week anymore.

I think with this can be mutated DateTime.Now with so

[2018-10-30 18:08] #21 closed

[2018-11-03 11:40] ehouarn-perret opened #222 "Does not work with Rider / .NET Core 2.1?"
I followed the tutorial given https://stryker-mutator.io/stryker-net/quickstart applied to Rider and turns out that the CLI part cannot be installed:

[code]

Which leads me to think that it's issue regarding the version (2.1) of .NET Core I am using for that (xUnit) Test Project.

Any idea?

[2018-11-03 12:52] #218 closed

[2018-11-03 13:09] Mobrockers commented on #222
Yes, apologies. We tried to add dotnet global tool support in the previous release, but we did not notice that this broke the dotnet CLI extension tool support. We have reverted this change but need to release a new package for it. In the mean time you could use version 0.3.0 or install stryker as a global dotnet tool instead of a package reference in your project.

[2018-11-03 13:12] Mobrockers commented on #192
This change was reverted in #221 because this broke the dotnet CLI extension method of installing the stryker cli. We need to find a better way to support global tools now, perhaps by publishing a separate package for it.

[2018-11-03 14:03] richardwerkman opened #225 "Reporter setting"
Now, the default reporters are: progress reporter and report reporter. To show the progress and the end result.

On build servers the progress reporter is not useful. Users could want to change the reporter to `ConsoleDotRepoter` and no report for example. To give users full freedom they can mix and match the reporters themselves. This will mean a change for the current `reporter` setting, which t

[2018-11-03 14:06] Mobrockers commented on #222
@ehouarn-perret  Version 0.5.0 of Stryker has been published and includes the fix for this issue. It should be available on nuget.org within the next 15 minutes - half hour.

[2018-11-03 14:53] ehouarn-perret commented on #222
Wosh, you're really awesome!

[2018-11-03 15:09] simondel commented on #222
@Mobrockers for some reason the changelog for 0.5.0 was not properly generated :confused:

[2018-11-03 15:29] ehouarn-perret commented on #222
I know it's sort of dirty (playing without an external project) but say I have a test project, so Stryker can't mutate the entities in that same project?
Necessarily need to have another one?

[2018-11-03 15:42] #222 closed

[2018-11-03 20:20] michielpeeters commented on #203
When my PR has been accepted (after some few retries ;-) ...) I'll start with this one right away.

[2018-11-03 22:18] richardwerkman commented on #203
@michielpeeters Good to hear! I've done some work for this too in another branch. Maybe you can find some inspiration here:
https://github.com/stryker-mutator/stryker-net/blob/excluded-mutations/src/Stryker.CLI/Stryker.CLI/OptionsBuilder.cs

[2018-11-05 11:24] Mobrockers opened #228 "Stryker crashes on console reporter trying to access console to change output even though no console is available in environment"
Integration test crashes on windows build agent due to trying to access a console, but no console being available in the azure pipeline.

See: https://stackoverflow.com/questions/327408/the-handle-is-invalid-when-running-net-console-via-java

We should detect in some way whether or not an interactive console is available and if not, skip this reporting functionality. This would fail in every build

[2018-11-05 11:29] Mobrockers commented on #228
Specifially the following method causes the regression:

`https://github.com/stryker-mutator/stryker-net/blob/5178ed63ff0990ac0820244d5e686bdd8e74c805/src/Stryker.Core/Stryker.Core/Reporters/Progress/ConsoleOneLineLogger.cs#L29-L41`

[2018-11-05 13:19] dupdob opened #230 "Stryker lacks support for shared projects"
My first attempts with Stryker on NFluent resulted in no mutants being generated.
After ruling out configuration error and looking at the codebase, I understood this was a limitation due to us relying on shared projects to list source files (see [this project file](https://github.com/tpierrain/NFluent/blob/master/src/NFluent.Standard.20/NFluent.Standard.20.csproj)).
I have worked on a first implem

[2018-11-05 19:07] #228 closed

[2018-11-05 19:13] richardwerkman commented on #230
We have not seen the use of shared projects before, so this is the first time we hear of this issue. Good to hear you are already working on a feature for this. I'll add this to our backlog and I'm looking forward to your PR :)

[2018-11-12 21:19] richardwerkman opened #234 "Stryker 0.5.0 crashes on simple project"
Stryker crashes on a simple project. It seems to fail inside the `TotalNumberOfTestsParser`.

[code]

[2018-11-13 09:05] chris579 commented on #234
Can confirm this bug for .net core 2.1 with NUnit. Installing the latest `System.Memory` package does not resolve this issue.

[2018-11-13 09:48] rvanmaanen commented on #234
Same issue here. Tried with .NET Core SDK 2.1.403 and 2.2.100-preview3-009430. Code compiles and tests all run on my machine. Also tried installing System.Memory.

[2018-11-14 07:05] dupdob opened #236 "Stryker cannot recover when unable to rollback a mutant"
When Stryker fails to rollback a compilation error, the mutated assembly cannot be built and all tests result in survivors. This is obviously not a desirable behaviour.

Having a failsafe fallback strategy would prevent this for happening. For example, restoring the source file to its non mutated state would ensure the file can be compiled successfully.

[2018-11-14 09:27] fabianeichfeldt opened #237 "Handling of inline methods"
Hi,

I am using stryker since a few weeks and be really happy with it.
My latest changes of my project includes an inline method which results in a crash of Stryker :-(

Avoiding the inline method is a proper workaround for me right now. But of course it would be nice to be able to use inline methods in a later version :-)

[2018-11-14 09:53] fabianeichfeldt commented on #237
Oh, maybe this is a duplicate to #236

[2018-11-14 21:40] dupdob opened #238 "Reduce number of times "ActiveMutation" envionment variable is called"
The current logic used to activate the mutant to be tested is slow, as it relies on accessing environment variables.
I prototyped a version using a cached value, thanks to a constant, and it provides significant performance improvements:
Stryker generates around 1600 mutants for NFluent projects, and a test session is around 10 seconds.

Total run time using environment variable: ~4 hours (4:07)
T

[2018-11-15 08:13] simondel commented on #238
Awesome! Are you able to share some code?

[2018-11-15 08:13] simondel commented on #238
Or would this be something that you would like to fix/propose in a PR?

[2018-11-15 11:20] dupdob commented on #238
I have a PR ready. it's just that I wait for my previous PR (#235) to be merged: having support for shared project is required to test NFluent, and I don't the courage to create a branch just with the perf improvements!

[2018-11-15 12:57] dupdob opened #240 "Many undue timeout results"
Running Stryker against NFluent gives a variable number of timeouts between 12 and 15. The first three timeouts could not be explained by the mutant: running them in isolation took the usual test time (~10 seconds).
Plus, successive runs of Stryker give timeouts for different mutants.
Everything hints there is something fishy with those timeouts. I am currently doing further testing to try and und

[2018-11-15 15:14] dupdob commented on #240
Doing my testing, I figure that some timeouts happen each time the computer goes to sleep.
This event can happen when doing a multi-hours run on a laptop.
I have a work around available. Still testing.

[2018-11-15 16:26] dupdob commented on #240
Further testing revealed that other timeouts are due to test runs crashing, which add delay due to windows error reporting

[2018-11-16 07:30] richardwerkman commented on #236
This would be nice to have! But I don't think that we should enable this by default. We want Stryker to be able to rollback all mutations it makes. Skipping a whole file of mutating because of one failed rollback is not desirable. We could however add a "safe mode" that implements this feature. This gives people a way to handle when a "bug" introduces itself in stryker.

This could look like `--sa

[2018-11-16 07:38] richardwerkman commented on #237
My guess is that this is a duplicate of: #134 and will be fixed by #207

[2018-11-16 09:31] dupdob commented on #236
Could you clarify this?

I think of only one good reason: ensuring that no bug is silently ignored due to this. There is the risk that people will permanently add the _--safe_mode_ toggle, but I understand the intent.

Note that there is also another alternative strategy, which would be significantly slower:
Add mutant to the file one by one than running the compilation until you find the culprit.

[2018-11-16 10:41] richardwerkman commented on #236
Well, if we restore the whole file to its original contents all made (correct) mutations are deleted. So we obviously don't want this to happen too often.

A `--diagnose_mode` would not be needed if you ask me. This could help to find out what mutations cannot be rollbacked. But we strive to be able to rollback all mutations Stryker makes. We can just repoduce the issue locally to find out what mu

[2018-11-16 11:20] richardwerkman commented on #240
Interesting, on our smaller projects we have not yet encountered this issue! Can you give an example test output of when a test run crashes? And what kind of mutation caused this crash?

I'm also curious for your workaround for the computer going to sleep.

[2018-11-16 12:08] richardwerkman commented on #234
I can't reproduce this issue locally when running in dev mode. The issue only occurs when running directly from the nuget package. I updated the target framework to netcoreapp2.1 instead of 2.0 and created a local nuget package. The issue seems to be resolved that way.

We will update our integration test to actually install Stryker from a local NuGet feed to reproduce this issue in the build. Tha

[2018-11-16 12:15] #17 closed

[2018-11-16 13:06] dupdob commented on #240
Just to be clear: the test run crashes were due to a timing issue in the test code: an event was disposed before another thread set it, triggering an ObjectDisposedException. I introduced a safeguard to catch the exception. The test no longer crashed and those timeouts were no longer reported, confirming the diagnostic.
I will revert the fix and do a stryker run, but I suspect the logs won't say m

[2018-11-16 13:14] dupdob commented on #240
To be more specific on the 'sleep' issue:
- the problem is that if the computer goes to sleep for a significant period of time, the timeout will trigger instantly once the computer wakes up (at least on windows) due to the time limit being reached, while the test process made no progress. This amounts to 'wasting' the timeout period due to sleep.
- the idea is to split the timeout in several wait

[2018-11-16 13:15] #234 closed

[2018-11-16 14:16] richardwerkman commented on #208
In C7.1 we can write: `return default;`

This solves our problem with the rollback.

[2018-11-16 14:48] richardwerkman commented on #240
I doubt how many people will experience this issue, but if you create a pull request this fix would be good! Maybe it would be better to split the timeout into seconds. So 30 seconds will check 30 times, but a timeout of 10 seconds will check 10 times.

[2018-11-17 17:56] Mobrockers commented on #9
Closed by #175

[2018-11-17 17:56] #9 closed

[2018-11-19 08:45] vinnytheviking commented on #234
Good Morning

Any idea when this fix will be pushed as part of a release ?

I'm trying to introduce Stryker into my org as a pre-requisite for testing.

Thanks

Vinny

[2018-11-19 08:48] Mobrockers commented on #234
A new release with this fix will go out soon

[2018-11-19 10:11] #210 closed

[2018-11-19 11:22] Mobrockers commented on #234
@vinnytheviking the release should be available on nuget.org within 15 minutes. The packages have been released with version number 0.6.0.

[2018-11-19 15:46] vinnytheviking commented on #234
Thank you for the quick turn-around.

much apprecaited

[2018-11-20 12:43] chris579 commented on #236
Is it worth reporting any failed rollbacks or should I wait until there is some diagnostics mode that actually puts out some useful error data?

[2018-11-20 12:48] dupdob commented on #236
I suggest you report it. There is no identified plan to implement a diagnose feature: this requires a significant effort for implementation, will add significant delay at run time, for dubious value.

[2018-11-24 10:00] richardwerkman commented on #237
Hi @fabianeichfeldt, it looks like this specifically happens when an out parameter is named Any. The Linq mutator mutates this into All.

[code]

This results in the error: The out parameter 'Any' must be assigned to before control leaves the current method.

I guess we should take a look at the Linq mutator. It should only mutate method names and not variable names. This would resolve this issue.

[2018-11-24 10:05] richardwerkman opened #250 "Linq mutator mutates variable names"
The method:
[code]
Breaks Stryker. It mutates into:

[code]
This mutation cannot be rollbacked.

The Linq mutator should not have mutated the `out int Any` parameter.

[2018-11-24 10:10] richardwerkman commented on #237
I've created an issue for this bug #250

[2018-11-25 16:15] #250 closed

[2018-11-26 08:01] fabianeichfeldt commented on #237
@richardwerkman: I've tested it, both issues are fixed right now! :-)
Thanks a lot

[2018-11-26 08:01] #237 closed

[2018-11-26 10:31] richardwerkman commented on #237
@fabianeichfeldt You're welcome! Have fun using Stryker :)

[2018-11-26 20:44] #230 closed

[2018-11-26 21:01] #16 closed

[2018-11-28 09:39] #238 closed

[2018-11-29 13:24] richardwerkman opened #255 "Colorful.Console instead of static Chalk"
Right now we use a static Chalk class to write in colors to the console. We also use this for testing.

Using the library [ColorfulConsole](http://colorfulconsole.com/) we could create a cleaner code style. It also has some awesome features like printing in gradient. This could be an cool addition to the ascii logo.

My question is, would this be an improvement? Or does anyone have experience with

[2018-11-29 14:05] Mobrockers commented on #255
If someone really wants to add this, sure. Does not have any prio for me because who looks at the cmd output anyway? CI + json report is what is going to be used imo.

[2018-11-29 14:12] richardwerkman commented on #255
True, of course a json report has more prio but I thought this would be a fun addition.

[2018-12-02 20:50] kevinlyles commented on #208
I have a [branch](https://github.com/kevinlyles/stryker-net/tree/block-mutator-test) with what I've tried so far.  I think there's a lot more we'll need to handle than just whether we have to have a return statement.  For instance, that branch fails when run on the Core project, because we remove the yield break in the first if in MethodBodyMutator.ApplyMutations, and then the variable declared in

[2018-12-02 20:50] kevinlyles commented on #208
Note that `return default(type);` worked just fine in older versions of C# (and is what I used in my branch).

[2018-12-02 21:34] perdignus commented on #208
I have made the needed functionality for this, which uses `return default(TYPE)`, where type is the required return type. For void it is an empty block.
I won't make a pr just yet, because the code needs some cleaning and tests.

[2018-12-02 21:45] ptoonen commented on #164
@simondel are you still actively working on this, otherwise I can pick it up from here?

[2018-12-02 21:50] richardwerkman commented on #208
Hi @kevinlyles @perdignus please comment here before you start any work. It seems you both worked on the same issue. Maybe you can combine your work if needed?

[2018-12-02 21:51] ptoonen commented on #195
Starting work on this.

[2018-12-02 21:54] simondel commented on #164
@ptoonen go ahead! I ran into issues SonarCloud. It only parsed code from one project as being C# code.

There is a task based (not YAML) pipeline on Azure Pipelines with SonarCloud. I think it's called `stryker-net OLD` or something.

[2018-12-02 22:04] simondel commented on #164
The current project can be found here: https://sonarcloud.io/dashboard?id=stryker-net.stryker-net

As you can see, SonarCloud only detected 115 lines of C# code. None from the Core package.

The code is there though: https://sonarcloud.io/component_measures?id=stryker-net.stryker-net&metric=lines&selected=stryker-net.stryker-net%3Asrc%2FStryker.Core%2FStryker.Core%2FTesting%2FProcessExtensions.cs

[2018-12-02 22:08] ptoonen commented on #164
@simondel can you authorize me on the sonar project?

[2018-12-02 22:46] kevinlyles commented on #208
I did, two weeks ago.

[2018-12-03 02:11] ptoonen commented on #164
Okay, so I can successfully analyze the solutions 1-by-1. The problem is that SonarQube doesn't like code that's referenced by multiple projects (it does correctly mark the files as 'shared' but won't analyze them for some reason). I'm guessing the real problem is that Core and Core.UnitTest are referenced by two solutions in the repository.

Now the solution here is a bit tougher but we've got a

[2018-12-03 02:44] ptoonen commented on #164
ps. I prefer #2

[2018-12-03 05:51] simondel commented on #164
@ptoonen I'm not sure if solution 2 would work. There is already a solution that contains all projects. It's the CLI solution.

PS I've granted you and @Mobrockers permissions on SonarCloud (github login). I couldn't rant @richardwerkman any permissions since he never signed in.

[2018-12-03 06:12] Mobrockers commented on #195
@ptoonen Be aware that we do not currently support dotnet global tools, see #192
We had implemented global tool support but then found out that support for project-based cli tools is not compatible with global tool support. We have not yet decided whether we want to switch to global tool, support both variants or stick with project-level cli tool only.

Personally I have the feeling microsoft is g

[2018-12-03 06:41] ptoonen commented on #211
Hi @broodjetom I was looking at this issue but I think I'm missing something. In your example it seems as though you're testing framework code rather than your own. Although we would technically be able to alter your tests, that's not really the purpose.

Could you maybe elaborate on the use case?

[2018-12-03 08:04] richardwerkman commented on #164
@ptoonen I'm also in for option 2. However I split the integrationtest project in a new solution intentionally to make live unit testing possible in the CLI solution. Otherwise each line that changes would trigger a 45 second testrun.

[2018-12-03 08:09] richardwerkman commented on #195
For me supporting both project-based and global would be best. Whatever microsoft will choose we will support later on.

[2018-12-03 08:12] richardwerkman commented on #208
Oh I interpreted that as playing around with the default return values. Anyway I'm looking forward to the PR :)

[2018-12-03 12:07] perdignus commented on #208
no problem, I mainly did it to get to know the program better so that I can contribute more in the future

[2018-12-03 12:23] richardwerkman opened #259 "Cleanup StrykerOptions in Unit tests"
Right now a lot of Unit Tests create instances of the StrykerOptions class. The constructor doesn't have any default values so each Unit Test has to pass all parameters, even though most unit tests only need the default values.

I would like to see a solution where in the Unit Tests an instance of the StrykerOptions can be created by only passing values that need to be "non default". For example:

[2018-12-03 15:54] ptoonen commented on #164
We could keep them separate, or exclude them from live unit testing: https://docs.microsoft.com/en-us/visualstudio/test/live-unit-testing?view=vs-2017#include-and-exclude-test-projects-and-test-methods

[2018-12-03 17:42] Mobrockers commented on #164
There is no actual used code in the integration test projects so I suggest we just keep them as it is and not include in sonar analysis

[2018-12-03 19:52] ptoonen commented on #195
@Mobrockers I don't think they'll be dropping per-project extension any time soon. However, I do think the recommended way is to go global. [And I'm not alone in that](https://github.com/dotnet/cli/issues/9782#issuecomment-410033494).

The problem is that global tools also introduce issues with multiple developers as @nicojs raises in #192 Imagine dev number 1 installed version X and dev number 2

[2018-12-03 19:53] ptoonen commented on #195
O, on a related note, let's monitor and explore this https://github.com/dotnet/cli/issues/10288 issue.

[2018-12-03 19:56] ptoonen commented on #192
Linking [this](https://github.com/dotnet/cli/issues/10288) issue here too as this will solve the issue for us. Although it would mean either implementing a dual strategy, or dropping support for the DotNetCliToolReference - which is (imho) deprecated by the time that the aforementioned issue has been resolved :-)

[2018-12-04 09:53] chris579 opened #269 "Unable to rollback mutation"
Stryker fails to rollback mutations for several nodes.

[code]

We have some database integration tests in our unit tests. Maybe this is related to the error.

[2018-12-04 09:55] chris579 opened #270 "Update NuGet link in readme and add badge"
The NuGet link in the Readme is directing to the old package that has been archived. Plus, adding a NuGet badge makes it easier to get to the NuGet package page.

[2018-12-04 10:13] #240 closed

[2018-12-04 11:05] Mobrockers commented on #270
Example of nuget badge:

[![Nuget](https://img.shields.io/nuget/v/StrykerMutator.DotNetCoreCli.svg)](https://www.nuget.org/api/v2/package/StrykerMutator.DotNetCoreCli)

[2018-12-04 11:57] richardwerkman commented on #270
A bagde would be better yes! While we're on this we could also add a download count badge?

https://shields.io/#/examples/downloads

[2018-12-04 13:03] Mobrockers commented on #270
@richardwerkman

[![Nuget](https://img.shields.io/nuget/d/StrykerMutator.DotNetCoreCli.svg)](https://www.nuget.org/api/v2/package/StrykerMutator.DotNetCoreCli)
[![Nuget](https://img.shields.io/nuget/dt/StrykerMutator.DotNetCoreCli.svg)](https://www.nuget.org/api/v2/package/StrykerMutator.DotNetCoreCli)

[2018-12-04 14:16] richardwerkman commented on #270
Looks good, who creates the PR?

[2018-12-04 14:23] richardwerkman commented on #269
This error should have nothing to do with your test project. Could you run again with `--log-console trace` to find more information about what kind of mutation causes this error?

[2018-12-04 16:47] royto opened #272 "System.UnauthorizedAccessException when running Stryker"
**Version**:  0.7.0 (beta)

On running dotnet stryker on my unit test project (.NET Core 2.0), I encountered the following issue
[code]

I have multiple project reference (in .NET Standard 2.0) and I specify one of them with the `--project-file` option

`dotnet stryker --project-file=..\..\Services\Services.csproj`

[2018-12-04 18:44] richardwerkman commented on #272
I haven't seen this error before. It looks like the file could be locked or your console doesn't have the correct rights to open the file. Could you try to run stryker from a console with administration rights? Or try to clean the solution and rerun?

If the error keeps occuring we'll look further into this.

[2018-12-04 20:51] chris579 commented on #270
There you are 😛

[2018-12-04 21:01] #270 closed

[2018-12-05 00:47] ptoonen commented on #192
Just did a few tests and although we can actually have StrykerCLI do that for you (add the reference) - I'm not sure whether that is a good idea ;-) I'd rather have an explicit add than an implicit one that may potentially lead to conflicts.

Packages like coverlet also have this 2-tiered approach.

[2018-12-05 13:51] chris579 commented on #269
As this output contains the code itself (and therefore sensitive parts) I'm not allowed to post the output here. I may send it to a member privately.

[2018-12-05 15:48] richardwerkman commented on #269
It may not be needed to send parts of the code. If you can create a simple example project that recreates the issue we could work with that.

If you can't recreate the issue you may send the output to my email and I'll look into it.

[2018-12-05 21:10] richardwerkman commented on #259
Cool! If you have any questions let us know 👍

[2018-12-05 22:00] ptoonen opened #275 "Contribution Guide is outdated"
Currently the contribution guide doesn't say anything about the naming your commits. This potentially leads to commits which do not adhere to the [preferred commit message style](https://docs.google.com/document/d/1rk04jEuGfk9kYzfqCuOlPTSJw3hEDZJTBN5E5f1SALo).

[2018-12-05 22:48] Mobrockers commented on #192
I did test this but it is entirely possible I failed to properly clean up my environment and had the targets left over from another Stryker run.

[2018-12-05 23:03] Mobrockers commented on #275
Closed by #276

[2018-12-05 23:03] #275 closed

[2018-12-05 23:51] ptoonen commented on #164
Okay, so I've got most of it done. Biggest issue we have now is that Sonar will only accept one .trx file. That means we either have to merge, or pick which one we want to use.

For the work in progress, look here: https://github.com/ptoonen/stryker-net/blob/164-static-code-analysis/azure-pipelines.yml

[2018-12-06 07:36] #236 closed

[2018-12-06 09:31] royto commented on #272
I have tried on my colleague machine and he has the same issue ...

[2018-12-06 13:36] chris579 commented on #269
I've send you a mail.

[2018-12-07 07:04] Mobrockers opened #277 "Make it possible to have NoValue arguments passed to Stryker for boolean operations"
https://github.com/stryker-mutator/stryker-net/blob/2f6f459a6d74a178c31ab0e3f62850a8912d1c9c/src/Stryker.CLI/Stryker.CLI/CLIOptions.cs#L43

https://github.com/stryker-mutator/stryker-net/blob/2f6f459a6d74a178c31ab0e3f62850a8912d1c9c/src/Stryker.CLI/Stryker.CLI/StrykerCLI.cs#L139

 I believe if we remove the <enable> from the shorthand and add the option at command line argument registration to set

[2018-12-07 07:15] Mobrockers opened #278 "Microsoft.Extensions.CommandLineUtils will no longer publicly be updated nor published"
This extension by the asp.net team will no longer be published to nuget as a lone package, because they never intended this to be a standalone product. No new releases for the package will be available. We should consider moving to a fork such as https://github.com/natemcmaster/CommandLineUtils

[2018-12-07 07:15] Mobrockers commented on #278
See: https://github.com/aspnet/Extensions/commit/2230370a3985fd1bbeebbdd904a3dd348f612d35

[2018-12-07 10:48] richardwerkman opened #279 "Safe mode causes 0 mutationscore when active"
When the new safe mode (#257) is activated it seems to cause a 0 mutationscore.

@dupdob Maybe you could take a look at this yourself?

[2018-12-07 12:14] dupdob commented on #279
Of course

[2018-12-07 12:59] richardwerkman commented on #272
Could it be that the file is somehow marked as readonly?

I found in the [documentation](https://docs.microsoft.com/en-us/dotnet/api/system.io.file.create?view=netcore-2.1) for System.IO.File.Create that this exception can only come from:

[code]

[2018-12-07 15:38] dupdob commented on #279
I just realised that this is the expected behaviour! Without --dev-mode, Stryker will rollback all mutants in the failing method to allow for mutations to be tested.
With dev-mode, it fails directly, like previous versions.

What behaviour did you expect?

[2018-12-07 15:54] richardwerkman commented on #279
Well it indeed rollbacks all mutants in the method. But all other mutants in the whole run are marked as survived in the end even though they should be killed. So it looks like the rollbacked method somehow causes that mutants can no longer be detected. This is not the expected behaviour! We would expect that all mutants in the rollbacked method get the status `builderror` and all others will be o

[2018-12-07 17:06] richardwerkman commented on #192
@ptoonen `dotnet add package StrykerMutator.MSBuild` could be a temporary fix but would not have my preference.

I just opened a PR that should remove the need for the .targets file. This should make the global tool possible.

[2018-12-07 23:08] dupdob commented on #279
Here is what I have been able to reproduce using the integration test project, and injecting a construction that is bound to generate failure:
- the _safe mode_ is unable to restore the project to a compilable state
- the compilation error is not processed by Stryker's workflow logic
- all mutants are flagged as survivors since we are testing the original assembly

I will open an issue regarding t

[2018-12-07 23:11] dupdob opened #283 "Stryker.Net do not report failure to build the mutated project post rollback step"
If the assembly cannot be compiled after rollbacks have been processed, Stryker silently ignores the situation and process to test the mutants, resulting in 100% surviving rate.

This issue was made visible due to current limitation in safe mode.

[2018-12-08 02:51] Mobrockers commented on #259
Closed by #274

[2018-12-08 02:51] #259 closed

[2018-12-08 09:00] dupdob commented on #279
I just opened PR #285 that should fix your issue. Can you please test and confirm?

[2018-12-08 12:16] richardwerkman opened #286 "Improve integration test by reading json output"
By reading the json output from the integration test stryker run we can validate the number of:
- mutants created
- killed
- timeout

This creates a better safety net for finding bugs in PR.

[2018-12-08 14:28] dupdob opened #287 "Cannot rollback mutated if with inline variable declaration"
The following code chokes Stryker: it generates a mutant on the if that leads to error on other lines (test not having a value defined) that it cannot rollback.
I think the best strategy would be not to try to mutate any _if_ embedding a variable declaration.
[code]

[2018-12-08 15:43] Mobrockers commented on #287
Applies to probably all out vars and perhaps also to the new c#7 pattern matching such as Type is var x

[2018-12-10 06:35] Mobrockers opened #292 "Split off CI and PR pipelines"
It would be nice to split off the CI and PR pipelines in separate files. The CI pipeline is never useful to contributors and would contain secrets that cannot be used in a PR from a fork. We could use this CI pipeline to run stryker on stryker #104 and sonarqube #164 since both will at some point need secrets we do not want to give out to forks. We can then also remove the artifact publishing logi

[2018-12-10 11:45] #279 closed

[2018-12-10 11:49] #225 closed

[2018-12-10 11:49] #277 closed

[2018-12-12 14:10] royto commented on #272
I found the issue. \o/

It was relative to a configuration in my csproj.

I had this line :
[code]

When it is set to false, the dll are generated into `bin/debug` and the folder `netcoreapp2.0` was empty.

Stryker trying to generate in this folder, resulting to `access denied` error.

I set it to true and unit test dll was generated into `bin/Debug/netcoreapp2.0`.
I do not have the error anymore

[2018-12-12 15:36] richardwerkman commented on #272
Ah interesting! To be honest I was not aware of the `AppendTargetFrameworkToOutputPath` property for projects. We should indeed take this into account.

Could you create a PR for this? Or should we create an issue for others to pick up.

[2018-12-13 07:31] Mobrockers opened #294 "JSON Report improvements"
https://github.com/stryker-mutator/mutation-testing-elements/issues/1#issuecomment-446638027

@nicojs I'm not sure I understand the problem here. We provide the source code and we provide the mutation + span. Would it not make the most sense to include carriage returns? Otherwise, how will you match/replace the mutation on the original source code, which is going to include the carriage returns as

[2018-12-13 07:47] Mobrockers commented on #294
[code]

should be come
[code]

[2018-12-13 07:48] Mobrockers commented on #294
FilePaths should be relative to Options.BasePath

[2018-12-13 08:00] nicojs commented on #294
This is true. However, it would be awesome if one could just use the span to find the mutations in it's own source code. Which can span across OS'es (for example, different project members working on Linux/MacOS/Windows). This believe this is the reason why TypeScript devs decided to translate between spans and line/column values ignoring `\r` characters: https://github.com/Microsoft/TypeScript/bl

[2018-12-13 08:16] Mobrockers commented on #294
I mean, it won't be difficult to translate to OS agnostic spans, but then we' ll have to parse and replace this in all source files in the whole analyzed project and I don't really see the benefit. No user should be reading the span in the json and using that to find the mutation. We give them a report, and in the report they can see in which file in which method and at which location (visually) t

[2018-12-13 10:08] royto commented on #272
I'm working on it. PR will be created soon I hope ...

[2018-12-13 12:33] richardwerkman commented on #272
Awesome! Looking forward to it 👍

[2018-12-13 17:56] nicojs commented on #294
I understand your sentiment. However I think the mutation testing json format should be more generic than just the mutation testing elements.

This will be the first implementation, but I'm hoping this won't be the last. It should become an industry standard, just like lcov reports for code coverage.

For example: the sonarqube plugin should support this file format. If it does, we will need to tr

[2018-12-13 20:04] Mobrockers commented on #294
Very well, if you update the schema proposal i'll see to implementing it

[2018-12-15 12:12] #272 closed

[2018-12-21 10:49] perdignus opened #296 "Crash/error log uploading and automatic reporting"
Something the stryker team noticed was that a couple releases didn't work, but they only found out after they wanted to use it themselves. After creating an issue for the problem, multiple other users also reported to have the same problem.

Thus we can conclude that users won't always create issues on this repo when something goes wrong. It would be useful to give users the option to enable autom

[2018-12-21 10:50] perdignus commented on #296
@richardwerkman what's your opinion on this

[2018-12-21 12:39] richardwerkman commented on #296
The logs could contain sensitive data that should not be uploaded to a shared server. Even when we ask users if they want to send us information about their crash I'm not sure why users would accept this.

And of course we should strive to create a crash free application in the first place! So I think we should focus first on adding more integration tests for more use cases. In my opinion this is

[2018-12-21 12:39] #296 closed

[2018-12-21 13:44] Mobrockers commented on #294
[code]

[2018-12-29 21:12] theunrepentantgeek commented on #278
The new [`System.CommandLine`](https://github.com/dotnet/command-line-api/wiki) library might be worth considering, even though it's very new and still experimental.

[2018-12-31 18:05] wmeints opened #298 "Stryker cannot rollback node AspNetCore"
I'm trying to get Stryker.NET working on my code, but it can't mutate it properly. It chokes on compiling the code after it succesfully applied the mutations.

![image](https://user-images.githubusercontent.com/1550763/50565351-4774bb80-0d2e-11e9-922e-a3c1e767497b.png)

It seems like it can't find the types. There is a reference to the ASP.NET Core 2.2 package in my project. Additionally I've adde

[2018-12-31 18:16] wmeints commented on #298
Turns out that setting the `projectName` setting to an invalid value will cause the behavior. It would be nice if the tool checks that the project reference exists in the project file. This will trip people up :-)

[2019-01-02 12:08] richardwerkman commented on #298
@wmeints What setting do you mean? The `project-file` setting in the stryker config? Or a setting in your csproj file. I now see it would be usefull to log the passed options to stryker as well.

[2019-01-04 10:47] vinnytheviking commented on #298
Good morning,

I'm getting the same issue (Rollback mutation failure) but I'm getting it with Run and IWebHost.

_[10:44:59 ERR] Unable to rollback mutation for node Run with diagnostic message 'IWebHost' does not contain a definition for 'Run' and no accessible extension method 'Run' accepting a first argument of type 'IWebHost' could be found (are you missing a using directive or an assembly ref

[2019-01-06 09:46] wmeints commented on #298
@vinnytheviking The `projectName` can be found in the `stryker-config.json` file in the root of the project. It works without it, but I added it just in case I wanted to control additional settings.

[2019-01-07 08:02] Mobrockers commented on #298
@vinnytheviking Could you provide the full debug log?

[2019-01-07 09:55] vinnytheviking commented on #298
@wmeints I couldn't get the stryker-config file to be picked up by the cli. I tried -cp etc but no luck

[2019-01-07 10:11] richardwerkman commented on #298
@vinnytheviking Did you place the config file in the root folder of your test project? That's where stryker looks for the json file. Also I'm a bit confused by the log.

It looks like somehow the compiled project is missing important references to some .dll's. The compile errors in the log don't seem to be caused by any mutations. Could this be because of the .net core 2.2 preview? I don't think i

[2019-01-07 11:03] vinnytheviking commented on #298
Hi @richardwerkman

I did put it in the root of the unit test project.

I tried changing the .net core version to an earlier version with no luck.

The project itself builds and runs fine, it's just stryker throwing those exceptions

[2019-01-07 11:43] richardwerkman commented on #298
@vinnytheviking Could you send me a project to reproduce the issue? This friday I'll have time to look at this.

[2019-01-10 07:55] cs-util opened #303 "Suggestion: Execute initial tests mulptiple times before testing mutants"
I just realized that if I run Stryker on unit tests that randomly fail 1 out of 5 times stryker will think that 20% of the generated mutants are successfully killed but in reality, it's just the tests randomly failing. So my proposal would be to execute the tests initially not only once but multiple times to cover the case that the developer has tests that currently are failing but do not fail eve

[2019-01-10 08:08] cs-util opened #304 "Why is "a"+"b" mutated to "a"-"b" and compiles?"
How comes that the mutation report has lines like this:
`[Survived] Binary expression mutation on line 26: '"" + toString(x)' ==> '"" - toString(x)'`

Mutating `"a"+"b"` to `"a"-"b"` is not valid C# code if I am not totally wrong?  So why is this a valid mutation that even passes the execution of my tests?

[2019-01-10 08:17] fabianeichfeldt opened #305 "Stryker aborts when unsafe code blocks where used"
My project includes a small part of unsafe code which results in a strange behaviour of stryker.
For testing purposes I've created a small project with an unsafe block.
[stryker-test.zip](https://github.com/stryker-mutator/stryker-net/files/2744169/stryker-test.zip)

**behaviour in V0.7.0**
 - in debugmode is an error printed

 - No mutant will be killed
 - no errormessages

**behaviour on master*

[2019-01-10 14:36] richardwerkman commented on #303
That would be a great way to detect some sneaky false positives!

We could indeed run the initial test in parallel just like the mutation testruns. So on a 4 core machine the initital testrun would be executed 4 times. If all are succesfull I guess it's safe to assume that the tests succeed all the time? And this would almost add no extra run time. This would mean however that on a 1 core machine

[2019-01-10 14:39] richardwerkman commented on #304
Could you please provide the original code as well?

Some background info: Stryker mutates all code it finds. Then compiles and rollbacks all mutations that caused compile errors. If this mutation somehow passed the rollback process it probably compiled correctly.

[2019-01-10 15:02] richardwerkman commented on #305
I don't think compiling with /unsafe has any side-effects on projects that contain no unsafe code. So enabling this by default could do no harm.

We should add this to both [CompilingProgress.cs](https://github.com/stryker-mutator/stryker-net/blob/master/src/Stryker.Core/Stryker.Core/Compiling/CompilingProcess.cs) and [InitialBuildProcess.cs](stryker-net/src/Stryker.Core/Stryker.Core/Initialisatio

[2019-01-10 15:37] fabianeichfeldt commented on #305
Thanks for your reply.

Yes, I have added this setting in my .csproj file. As far as I know is there no argument available for "dotnet build" to enable unsafe mode.
So, I think we have to trust in the original settings of .csproj for the initial build.

I can commit my change(s) and create a pull request for this.

[2019-01-11 03:43] cs-util commented on #304
Here is one of the many lines in the report that looks suspicious to me since they can't produce compiling code:

`[Survived] Binary expression mutation on line 18: 'utcString.Substring(0, "UTC", false) + "GMT"' ==> 'utcString.Substring(0, "UTC", false) - "GMT"'`

Here is the code with the line and I did the mutation manually to check if it really does not compile:
![image](https://user-images.git

[2019-01-11 03:52] cs-util commented on #303
I think a fixed number would make the most sense and setting it to 5 or 10 should be nearly no additional overhead compared to the time it normally takes for the actual mutation tests to run afterward.

In my case, the tests failed roughly 1 out of 5 or maybe even 1 out of 10 times so testing only 4 times because I have 4 cores on my machine might not have found these concurrency problems.

[2019-01-11 05:14] cs-util commented on #304
I also found other lines in the report that are very strange:

For example, I have an extension method in a :
[code]
![image](https://user-images.githubusercontent.com/45512166/51014437-efc52400-1567-11e9-9493-a5c416c9a35e.png)

And a unit test for it:

[code]

But Stryker reports:
[code]

Which can't be based on the Unit test correct?

[2019-01-11 07:43] richardwerkman commented on #304
@cs-util I've tried to recreate the compiling "string" - "string" issue but couldn't achieve your output.

[code]
Results only in 3 mutations for me:
[code]
Am I missing something?

[2019-01-11 07:50] richardwerkman commented on #304
Also, I tried running your extension method with your test and this resulted in:
[code]
What version of Stryker are you running? Version 0.7.0 worked fine for me.

Also your .Net Core runtime could be of importance.

[code]
I hope this helps!

[2019-01-11 07:53] richardwerkman commented on #305
Your PR would be very welcome. We could also read that setting from the users .csproj and enable unsafe mode if we find it.

But since it's safe to enable this by default I wouldn't make this more complicated than needed.

[2019-01-11 08:47] fabianeichfeldt commented on #305
I've created PR #306

[2019-01-11 09:59] Mobrockers commented on #305
Closed by #306

[2019-01-11 09:59] #305 closed

[2019-01-11 15:42] #294 closed

[2019-01-12 05:17] cs-util commented on #304
I am using Stryker version 0.7.0 as well and .Net version 2.2.101

I think I found the problem, my target framework was set to "netstandard2.0" and I switched now to "netcoreapp2.1" as its set in the integration tests project.

In case that's easily possible, I think letting Striker fail if a non-supported target framework is set would be a very helpful feature since currently, it does behave kind

[2019-01-12 06:07] cs-util commented on #304
With target framework netstandard2.0 the results looked like this:
[code]

Now with target framework netcoreapp2.1 they look like this:
[code]

But there are still mutations that if I do them manually cause the tests to fail but the report says they survived:
[code]

And there are also still mutations that produce non-compiling code, for example
`[Survived] Binary expression mutation on line 26: '

[2019-01-12 11:19] richardwerkman commented on #304
Thanks for looking into this further! I was not aware that the target projects "target framework" had this impact. I assumed Stryker would be backwards compatible since .net also is.

Your suggestion to kill Stryker when a not supported target framework is found would not have my preference. I think Stryker should support netcoreapp1.1 and up. Also netstandard2.0 should be supported. We could star

[2019-01-13 07:02] Matthiee opened #310 "Unable to rollback mutation with C# 7.3 or greater features"
I cannot run stryker because I'm using C# 7.3 features.

- `Feature 'default literal' is not available in C# 7.0. Please use language version 7.1 or greater.`
- `Unable to rollback mutation for node Enum with diagnostic message Feature 'enum generic type constraints' is not available in C# 7.0. Please use language version 7.3 or greater..`

[code]

[2019-01-13 16:40] richardwerkman commented on #310
Thank you for your input. I was able to reproduce this issue and solved it. I'll open a PR fixing this now.

[2019-01-13 18:09] #310 closed

[2019-01-14 16:32] dupdob opened #312 "Exception on start for long session"
There is an exception If the total estimated test time is more than one hour (_' System.FormatException: Input string was not in a correct format.'_).
Reproduced and fixed locally. I will add relevant regression tests and open a PR.

[2019-01-15 22:00] #312 closed

[2019-01-16 08:03] dupdob commented on #183
Is anyone looking into this? I would be interested to contribute as this would ultimately reduce run time by order of magnitudes thanks to:
- reducing overhead
- marking mutants as killed on first failed test (no need to go through all tests)
- use mutant coverage to optimise further

[2019-01-16 10:05] dupdob commented on #183
This is more or less what I had in mind. I am contemplating working on a demonstrator using the nunit portable agent. This would require backporting it to vstest later on.
Here is a list of intermediate step I could work on:

1. Generate mutant coverage (which mutants is actually executed by any test). This could provide useful metrics as of now. I guess the difficult part would be extracting the

[2019-01-16 11:24] Mobrockers commented on #183
My plan was as a next step after getting vstest integration working to investigate using a custom data collector to hook into the vstest process. See: https://github.com/Microsoft/vstest/blob/master/test/TestAssets/OutOfProcDataCollector/SampleDataCollector.cs

Using this we might be able to solve all the above problems. This could be researched separate from vstest integration in theory.

[2019-01-16 13:10] richardwerkman commented on #183
The DataCollector looks very promising indeed! If we may believe [their documentation](https://github.com/Microsoft/vstest-docs/blob/master/RFCs/0006-DataCollection-Protocol.md) it allows us to execute some code between each individual testcase. If we could insert a line in each mutant like:
[code]
And after each testcase read that file. We could know what mutants were active during that testcase.

[2019-01-16 14:36] dupdob commented on #183
I would fear impact on performance. I am pretty sure writing to a file on each invocation would slow some tests to a crawl

[2019-01-16 14:43] Mobrockers commented on #183
We can collect the result in-memory and write once only at the end of the testrun. We need to do this unless we can figure out another way to get the data out of the datacollector and into stryker.

[2019-01-16 14:51] richardwerkman commented on #183
Note that this only has to happen during the initial testrun. All testruns after that can skip this since the mapping is already known then. The initial testrun would look a bit like this:

1. Startup vstest
2. Start testrun with Custom DataCollector
3. TestCase starts running
4. All mutants that are hit write their 'id' to the file
5. DataCollector hits 'TestCaseEndEvent' and reads all Mutant id'

[2019-01-17 08:31] nicojs commented on #183
![https://i.imgflip.com/1vbelm.jpg](https://i.imgflip.com/1vbelm.jpg)

This is especially true for mutation testing. The best thing you can do is create a couple of performance tests and run them each night (small, medium, large project). That's the only way you know for sure something has "great impact"

[2019-01-17 16:52] dupdob commented on #183
I will of course execute performance related tests. I was expressing a fear regarding performance.
I think that integration strategy will face several lifecycle/timing related constraints that will drive the actual implementation. But we are not there yet.

For the time being, my focus is on updating Stryker workflow to execute a test run with mutated code, no active mutant and coverage activated,

[2019-01-18 09:23] dupdob commented on #183
I will look into namedpipe to create an IPC channel between stryker and dotnest test. it will allow real time interaction, better than report parsing after a test pass

[2019-01-20 19:14] Mobrockers commented on #183
PR to add vstest.console.dll support to vstest client library has been submitted: https://github.com/Microsoft/vstest/pull/1893

The change worked on my system to start vstest using dotnet from stryker and tests were discovered and run by stryker through vstest.

[2019-01-20 19:17] Mobrockers commented on #298
Seeing as @wmeints has found the issue and detecting this issue in the future has been improved by #307, I believe this issue can be closed. @wmeints @vinnytheviking Any objections? Anything else you think we should look at regarding this issue?

[2019-01-21 11:28] shadow-cs opened #317 "Missing shared project if using csproj imports with properties in file name"
Stryker throws `System.IO.FileNotFoundException: Missing shared project $(BuildDirectory)Foo.targets` if some of the `Imports` have properties in them (it is likely those properties are set in some of the MSBuild explicit imports as part of more complex build).

## Steps to reproduce

Add an `Import` with a `Project` containing a property (like the following snippet) to the `csproj` file of the pr

[2019-01-21 11:35] shadow-cs commented on #317
I do understand that parsing the MSBuild XMLs including property evaluation is rather difficult. Sufficient solution might be adding an exclusion pattern that would skip certain `Import`s.

Another MSBuild features (like `Conditions`) may possibly break Stryker parsing as well.

[2019-01-21 16:53] Mobrockers commented on #317
We are working in integrating [buildalyzer](https://buildalyzer.netlify.com/) which should be able to parse all msbuild config for us automatically. Once we have that it will be very easy to add these sort of misc project types and properties.

[2019-01-22 11:52] richardwerkman commented on #317
Indeed, I hope to finish the buildalyzer integration quickly. I'll make sure that the shared projects are also read using buildalyzer. We will keep this issue open to keep this in mind and validate that this works once buildalyzer integration is done.

[2019-01-24 19:18] dupdob commented on #183
Some update: I have namedpipes running smoothly and stable, after a few fights.
I have reached maturity level 2: (my) Stryker now assumes non-covered mutants are survivors hence do not test them.

Code available here:
https://github.com/dupdob/stryker-net/tree/mutant_coverage

[2019-01-25 11:50] richardwerkman commented on #317
Bad news... It seems that Buildalyzer doesn't resolve imports like we expected. But it gives us a list of available properties that we can replace with placeholders found in imports. We can look for `$()` inside imports and look for the contents in the list of properties buildalyzer gives us. The list contains over 500 msbuild properties. It contains for example:
[code]
If the import looked like:

[2019-01-26 07:08] Matthiee opened #321 "Local functions causes compilation failed"
Compilation fails when using local functions in 0.8.1.
If I remove the local functions everything works as expected.

[code]

[2019-01-26 08:43] Mobrockers commented on #321
I don't think we changed anything about the compile process since 0.8.0. Could you give us some reproducible sample code so we can investigate? Also could you confirm it did work on 0.8.0 or earlier?

[2019-01-26 12:15] Matthiee commented on #321
Hi @Mobrockers

I can confirm it did **NOT** work in 0.8.0 release.

Here is a link to the repo for reproduction.

https://github.com/Matthiee/Playground/tree/stryker

[2019-01-26 12:23] richardwerkman opened #322 "Specify what files to mutate"
## Introduction
Currenty it is possible to exclude files. This makes filtering possible so we can specify a few files not to mutate if these for example contain logic that aren't needed to be tested (like a `startup.cs`).

## Issue
We wish to expand this feature by specifying what files should be mutated. All other files should be excluded. This can be useful on large projects. When a developer ma

[2019-01-26 12:32] richardwerkman commented on #286
Closed by #313

[2019-01-26 12:32] #286 closed

[2019-01-26 13:03] shadow-cs commented on #317
The trick is I'm using `Directory.Build.props` that initializes some of the properties. If Buildalyzer  does pick up these explicit imports then it would work I guess.

I would be happy to provide you with some test results. Would it help if I ran Buildalyzer on my project? I guess I can create some minimal setup that you can use to test my scenario if you wish.

[2019-01-26 13:13] richardwerkman commented on #317
If you could test by running this [PR ](https://github.com/stryker-mutator/stryker-net/pull/318)on your project and validate that the output contains your properties that would be great! The output can be found [here](https://github.com/stryker-mutator/stryker-net/blob/7087e16934c04b35991d3eae9ed2b1996acdd534/src/Stryker.Core/Stryker.Core/Initialisation/InputFileResolver.cs#L61). It should be in `

[2019-01-27 08:02] cs-util commented on #304
@richardwerkman Here is the repository for you to try: https://github.com/cs-util-com/cscore
The relevant xUnit project for you to run is https://github.com/cs-util-com/cscore/tree/master/CsCore/xUnitTests

[2019-01-27 10:58] richardwerkman commented on #304
@cs-util Did you by any chance already figure this out yourself? I now get the same output as you did: `[Survived] Binary expression mutation on line 26: '"" + toString(x)' ==> '"" - toString(x)'`
But this is because of a wrong implementation of the fix I did. I'll create a pull request hoping to fix your issue. If you could test this that would be great!

[2019-01-27 16:17] #304 closed

[2019-01-27 17:06] shadow-cs commented on #317
Yes the `result.ProjectUnderTestAnalyzerResult.Properties` does include properties set by my `Directory.Build.props` with correct values.

[2019-01-27 17:41] Matthiee commented on #321
@richardwerkman It works for me with #325

[2019-01-28 03:14] dependabot[bot] opened #326 "Dependabot couldn't find a <anything>.(cs|vb|fs)proj for this project"
Dependabot couldn't find a <anything>.(cs|vb|fs)proj for this project.

Dependabot requires a <anything>.(cs|vb|fs)proj to evaluate your project's current .NET dependencies. It had expected to find one at the path: `/src/Stryker.Core/<anything>.(cs|vb|fs)proj`.

If this isn't a .NET project, or if it is a library, you may wish to disable updates for it from within [Dependabot](https://app.dependab

[2019-01-28 19:05] #321 closed

[2019-01-28 19:16] Mobrockers commented on #326
Solution file in /src/Stryker.Core was removed

[2019-01-28 19:16] #326 closed

[2019-01-28 19:18] dependabot[bot] opened #327 "Dependabot couldn't find a <anything>.(cs|vb|fs)proj for this project"
Dependabot couldn't find a <anything>.(cs|vb|fs)proj for this project.

Dependabot requires a <anything>.(cs|vb|fs)proj to evaluate your project's current .NET dependencies. It had expected to find one at the path: `/<anything>.(cs|vb|fs)proj`.

If this isn't a .NET project, or if it is a library, you may wish to disable updates for it from within [Dependabot](https://app.dependabot.com).

You can

[2019-01-28 19:21] #327 closed

[2019-01-28 19:46] Mobrockers commented on #321
I have started the release for 0.8.2 which includes the fix

[2019-01-30 05:47] richardwerkman commented on #304
Yes, the fix is released with 0.8.2! I hope it will solve the unexpected output issue. And good luck with your test stability :+1:

[2019-01-30 11:52] richardwerkman commented on #317
@shadow-cs Great! After #318 has been merged we can create a fix for this issue then. Would you have time to pick this up?

[2019-01-30 16:09] shadow-cs commented on #317
@richardwerkman I think I might ;-)

[2019-02-03 17:11] #287 closed

[2019-02-03 17:12] Mobrockers commented on #298
I am gonna close this issue. @vinnytheviking If you are still experiencing issues getting stryker to run on your project, feel free to open a new issue so we can take a look.

[2019-02-03 17:12] #298 closed

[2019-02-03 17:35] Mobrockers commented on #195
Looks like local tools will be able to use the same package as global tools, which is not possible with dotnet cli extensibility tools. However, to run a local tool instead of a global tool the user will have to run `dotnet tool run stryker <options>` instead of how to run stryker currently which is `dotnet stryker <options>`. Local tools will also require a so called tools manifest file in the pr

[2019-02-03 17:37] Mobrockers commented on #192
Looks like local tools will be able to use the same package as global tools, which is not possible with dotnet cli extensibility tools. However, to run a local tool instead of a global tool the user will have to run `dotnet tool run stryker <options>` instead of how to run stryker currently which is `dotnet stryker <options>`. Local tools will also require a so called tools manifest file in the pr

[2019-02-05 05:36] cs-util commented on #303
Another idea that just came to my mind:
How about executing an unmutated version of the tests for every x mutations. So e.g. after 50 mutated test executions, run 1 unmutated test execution, if the unmutated execution fails as well then stop Stryker

This would help with my initial problem detecting if the tests just sometimes fail randomly, but it would also solve the edge cases where an external

[2019-02-06 08:42] royto commented on #322
Have you considered using using [Glob](https://en.wikipedia.org/wiki/Glob_(programming)) ?

It can be more productive and clean solution.

Glob patterns specify sets of filenames with wildcard characters.

It will allow to specify files more concisely instead of specifying all files ... using wildcard, ...

We could merge the 2 options  --files-to-mutate and --files-to-exclude into one as glob sup

[2019-02-06 09:43] royto commented on #322
This is the way it is implemented in [JS stryker mutator ](https://github.com/stryker-mutator/stryker/blob/master/packages/stryker/README.md#mutate-string)

[2019-02-07 11:06] richardwerkman opened #337 "Nightly build failing"
Automatically triggered builds are failing at night. When a build is triggerd by hand on the same commit it succeeds. Debug logging isn't clear why the build fails at night.

[2019-02-07 20:55] royto commented on #322
After digging into DotNet.Glob, it currently does not support Extended globbing which allow negate feature nativelly.

I think it can be achieve in negating match if pattern starts with an `!`

[2019-02-08 07:48] richardwerkman commented on #208
@kevinlyles @perdignus Has any of you had time to look at this? If not, we would like someone else to pick this up.

[2019-02-08 15:46] richardwerkman commented on #322
Great idea! I think it will be a little more complex, but also better in usage.

We should think about cases like, what if a file is both included and excluded. And what if a file is included in an excluded folder? Or the other way around.

By default it should be that all files are mutated. And when one or more globs like: `"/services/**/*.cs"` are presented, all other files should be excluded.

[2019-02-11 10:17] maxcalvin opened #339 "Lambda assignment mutations break builds"
I've noticed that if we have a lambda which contains mutable components, stryker will mutate at the lambda assignment which does not compile and rolls back the mutation. With even a small amount of complexity it is easy to cause stryker to give up and abort the run.

I have created a minimal reproduction here:
[code]
I have attached the output of `dotnet stryker --log-console debug` (ignoring the

[2019-02-13 17:07] maxcalvin opened #340 "Linq expressions with no replacements break builds"
I know the Linq mutator was only added recently but there appears to be issues with the mutations that go from something to 'none' (OrderBy, OrderByDescending, Reverse, etc), where the replacement is not able to build.

For example, the following line:
[code]
is mutated to:
[code]

Perhaps the following options could be considered for fixes?
[code]

I've put together a small reproduction:
[code]

[2019-02-14 07:29] richardwerkman commented on #339
I've tested this and it indeed breaks stryker. However, on version 0.7.0 it seemed to work. It seems a recent change caused this bug. I'll look into this in the near future 👍

[2019-02-14 07:35] richardwerkman commented on #340
Thanks for your notice. This mutation was meant to remove the call as you said. It seems nobody noticed this before since the mutations are just rollbacked and this is not shown (unless debugging is enabled). I'll look into this too!

[2019-02-14 12:23] richardwerkman commented on #340
I'm not sure if this is even possible... To remove the statement we should place the mutation something like:

[code]
But this produces an error since `list` and `list.OrderBy()` produce a different output type.
Also for `Reverse()` this is not possible since it produces no output and is thus used as a statement like:

[code]
When mutated like:
[code]
or
[code]
Both produce compile errors...

Mayb

[2019-02-14 17:23] Mobrockers commented on #340
@richardwerkman Instead of removing the linq query, we could instead replace it with a ToList() or similar. This should work in most instances I think? If you see any issues with replacing it with a ToList then we can remove the mutation altogether yea.

[2019-02-15 06:58] richardwerkman commented on #340
Putting a `ToList()` after the mutated node doesn't solve the problem. To fix this we should mutate the "original code" as wel. Something like this:

[code]
But now the original code is mutated and the return type of the whole expression was originally `IOrderedEnumerable` and is now `List`. This could cause even more trouble.

I think we are not ready for remove mutations alltogether... We might

[2019-02-15 07:00] richardwerkman commented on #337
Somehow this seems to have been solved without any configuration or code change. Maybe the myget servers caused the trouble and they fixed their issue. Closing issue.

[2019-02-15 07:00] #337 closed

[2019-02-15 07:31] Mobrockers commented on #340
I agree

[2019-02-15 08:09] Mobrockers opened #342 "Replace Linq OrderBy with OrderByDescending and vice versa"
Improvement found due to removal of linq mutations in #340

When a list is explicitly ordered in some way, this should be tested. If the list ordered in the opposite manner still passes the test, then either the list does not need to be ordered, or the test should be amended.

Replace OrderBy statements with OrderByDescending and vice versa. This should not result in non-compilable code in most ca

[2019-02-15 08:17] Mobrockers opened #343 "Replace Linq *OrDefault with non OrDefault"
This mutation will help ensuring null checks and exception handling are in place where needed.

[2019-02-15 08:18] Mobrockers commented on #18
@richardwerkman Do you feel like we have sufficiently fixed this now, or should we try this on even larger projects?

[2019-02-15 08:25] Mobrockers opened #344 "Investigate possibility of replacing any linq query with a known return type with another"
There should be no issue replacing one linq query with another as long as the return type is the same. Currently we use a hardcoded list of query names to replace with other query names. If instead we group queries to replace by return type, we would make sure our mutation does not (most likely) result in a compile error, and it would be easier to manage which mutations to run.

The idea is:

quer

[2019-02-15 08:27] #340 closed

[2019-02-15 08:41] richardwerkman commented on #344
So your idea is to resolve at runtime which methods do have the same return type? We currently don't have the return type of the method available.

[2019-02-15 08:49] Mobrockers commented on #344
@richardwerkman No, my idea is we determine for every supported linq mutation what their return type is, and we add them to a list for their return type. Currently every linq mutation is in the same dictionary with <mutation, replacement>. I would propose changing that to <mutation, returntype> and/or <returntype, list<mutation>>

[2019-02-15 13:24] richardwerkman commented on #18
I think this will work for extremely large projects, if not people can open new issues for their case.

[2019-02-15 13:24] #18 closed

[2019-02-15 14:20] richardwerkman commented on #342
Lets create an overview of what mutations should be added to the Linq mutator. Your suggestion (together with your other issue):

|      Original         |       Mutated         |
| --------------------- | --------------------- |
| `SingleOrDefault()`   | `Single()`    |
| `Single()`    | `SingleOrDefault()`   |
| `First()`    | `FirstOrDefault()`   |
| `FirstOrDefault()`   | `First()`    |
| `Ord

[2019-02-15 14:20] richardwerkman commented on #343
merged with #342

[2019-02-15 14:20] #343 closed

[2019-02-19 08:49] Mobrockers opened #345 "Update json report with latest changes"
https://github.com/stryker-mutator/mutation-testing-elements/issues/1#issuecomment-464883621

* I've added `"mutationScore"` as a required column (not inside the `"totals"` field). I need it to draw the actual progress bar on screen. No real way around that.
* I've aligned the casing for `health` with `status`. Both are now PascalCase. I've also changed `"ok"` to `"Good"`. It made more sense to me

[2019-02-19 12:44] Mobrockers commented on #109
@Mobrockers Selfping. I'll try and pick this up tonight

[2019-02-19 19:39] Mobrockers opened #346 "Mutation json report wrong mutation span reported"
When the mutation is the first/only code in a line, the syntaxtree seems to not give us the correct span for the syntax node and/or we are misinterpreting something about the syntaxnode span.

See line with second--:
![image](https://user-images.githubusercontent.com/3595932/53042359-6702a780-3486-11e9-95d4-60bc66f760e0.png)

[2019-02-19 19:43] Mobrockers commented on #346
This mutation is reported as the following:

[code]

Starting at column 1 is obviousy wrong. Might be due to the tabs.

[2019-02-19 20:35] richardwerkman commented on #346
We could try to remove the trivia from each node before asking its span. The span seems to be correct, the trivia is just a part of the mutated node.

[2019-02-20 08:02] #345 closed

[2019-02-20 08:05] #339 closed

[2019-02-22 09:08] dupdob opened #349 "Stryker fails on DeclarationPatterns"
Stryker fails to properly mutate pattern declaration syntax, as in:
[code]
It also fails to roll them back properly, which invalidates any other mutant for the same method.
I propose we handle those as for Declaration Expression and simply skip them.

[2019-02-22 14:39] richardwerkman commented on #349
Closed by #350

[2019-02-22 14:39] #349 closed

[2019-02-24 09:43] dupdob opened #351 "some expressions are skipped during mutation phase"
Current version (not released) fails to generate mutants for some expressions. Example:
[code]
After reviewing [MutantOrchestrator.cs](https://github.com/stryker-mutator/stryker-net/blob/4a1422a4a9961db562450462316c12b57c8b63fc/src/Stryker.Core/Stryker.Core/Mutants/MutantOrchestrator.cs#L210) I understand that it is due to neglecting the 'Expression' properties for _InvocationExpressionSyntax_. As

[2019-02-24 09:43] dupdob commented on #351
I am working on a fix.

[2019-02-24 16:29] Mobrockers opened #353 "Original syntaxnode does not contain full parent syntax tree for return statement nodes"
This results in being unable to correctly report the mutation and original node location in source code as the line number is always 0 (as the return statement is the full syntax tree and the mutation is on the return statement value/expression).

[2019-02-24 18:29] Mobrockers commented on #353
Traced the issue to here: https://github.com/stryker-mutator/stryker-net/blob/master/src/Stryker.Core/Stryker.Core/Mutants/MutantOrchestrator.cs#L129-L134

[code]

[2019-02-24 19:56] richardwerkman commented on #353
Do you have an piece of code available that results in a mutation with a wrong span? I could look into this if I have a reproduction project.

[2019-02-24 19:59] Mobrockers commented on #353
Our integrationtest StringMagic.Demo method on the return true -> false and DummyMath.Add method on the checked(a + b) -> a + b both have this behaviour

[2019-02-24 21:36] dupdob commented on #351
I am afraid I was optimistic. This issue is harder to fix than anticipate.
I am having a hard time understanding how the Mutate method is supposed to work since it has been refactored.
I also discovered my unit test was wrong. It turns out that above code does mutate:
[code]
which is needlessly complex, but generates expected mutants. I will go back to the analysis and devise a test that actually

[2019-02-25 07:53] richardwerkman commented on #351
I tried to mutate the arguments directly but this looks harder than it seems... For now the current way of mutating the return value seems fine by me. @dupdob are you still looking into why there are mutations missing.

[2019-02-25 08:35] dupdob commented on #351
I am, but so far, I mostly progressed in my understanding of the logic, not much progress toward resolution. Based on your comment, I have the feeling that the MutationOrchestrator. Mutate has a somewhat chaotic behaviour, as I get mutated arguments or mutated expressions on two very similar bits of code:

[code]
Mutates to :
[code]

Why such a variation ?? probably because the first one uses a st

[2019-02-25 08:45] richardwerkman commented on #351
This has nothing to do with static or instance methods. It has to do with the kind of syntaxnode wraps the stringliteral.

In `ICheckLink` the stringliteral is present in a `SimpleMemberAccessExpression` and in `ChainCalls` the strings are present in a `ReturnStatement`. Both `ReturnStatement` and `SimpleMemberAccessExpression` contain expressions but one does call mutate recurively and one mutate

[2019-02-25 08:48] dupdob commented on #351
thanks fo the pointer 👍 . I understand where the complexity of Mutate is coming from, I was venting some frustration from my inability to get a decent grasp on its logic.

[2019-02-25 09:30] richardwerkman commented on #353
The object `currentNode` still has the parent node available. We need a way to return the copy node with the parent of the currentNode.

[code]

[2019-02-27 07:58] dupdob commented on #351
Still working on this. I think I go my head around the syntax tree parsing.
I still need to improve my grasp on Roslyn immutability and what it implies
Slowly getting there

[2019-02-27 08:51] richardwerkman commented on #351
The immutablilty of the syntax trees was a big challenge. If it helps I can try to create a decision tree of the logic. It might help to understand what's going on. If you find a certain node kind that is not mutated anymore please state that in this issue. If we have a reproduction case we can look more specific to why there are less mutations being made.

[2019-02-27 09:12] dupdob commented on #351
Thanks for the offer. Honestly, I wanted to contribute to Stryker partly because it gave me an opportunity to look into roslyn, so perfect training for me (the other parts being because I need it, and I believe in mutation testing)
In terms of parsing logic, it looks like there are issues for complex expressions where only one subexpression is mutated. It depends on where the expression is located

[2019-02-28 07:03] dupdob commented on #351
Morning update: I made significant progress.
current release: 1717 mutants, 1604 ready (4 failed rollbacks)
head of repo: 933 mutants, 898 ready (2 failed rollbacks)
my WIP: 1693 mutants, 1566 ready (0 failed rollback)
so still missing: ~25 initial mutants, and ~40 ready.

Next steps: clean up/refactor code I produced then look into mutants that could no compile

[2019-02-28 07:25] richardwerkman commented on #351
Sounds great! A few commits ago #341 we removed the "remove linq statement" mutations. This could explain some missing mutations. I think that once we release the html reporter we can see more clearly what pieces of code we are not mutating yet. With the current console report the missing parts are harder to spot. I'm looking forward to your PR

[2019-03-01 06:43] dupdob commented on #351
Morning update, current stats:
current release: 1717 mutants, 1604 ready (4 failed rollbacks)
head of repo: 933 mutants, 898 ready (2 failed rollbacks)
**my WIP: 1656 mutants, 1565 ready (0 failed rollback)**

I am currently focused on mutants failing to build  because:
1. Some can be fixed as they fails due to bad control structure (conditional operator instead of if)
2. The other ones add noise

[2019-03-01 14:20] Mobrockers opened #369 "Use msbuild locator to find msbuild"
https://daveaglick.com/posts/running-a-design-time-build-with-msbuild-apis

https://www.nuget.org/packages/Microsoft.Build.Utilities.Core/

string toolsPath = ToolLocationHelper.GetPathToBuildToolsFile("msbuild.exe", ToolLocationHelper.CurrentToolsVersion);

[2019-03-01 14:29] Mobrockers opened #370 "Find vstest.console version programatically instead of hardcoded version number"
https://github.com/stryker-mutator/stryker-net/blob/6b7ebcb8f4de472867a3614477bd1a05d706931b/src/Stryker.Core/Stryker.Core/ToolHelpers/VsTestHelper.cs#L44

[2019-03-01 15:17] #370 closed

[2019-03-01 16:06] richardwerkman opened #372 "Mutated assembly is missing embedded resources"
The mutated assembly should be passed a list of all embedded resources. Missing embedded resources can lead to failing tests at runtime and thus lead to false positives.

Embedded resources can be passed to roslyn like:
[code]

[2019-03-02 08:41] dupdob commented on #351
Morning update: getting there!
current release: 1717 mutants, 1604 ready (4 failed rollbacks)
head of repo: 933 mutants, 898 ready (2 failed rollbacks)
**my WIP: 1615 mutants, 1564 ready (0 failed rollback)**

- I fixed the problem with for statement I discovered yesterday.
- lost another mutant in the process (1365=> 1364), which is unexpected as I must have restored some CompileError mutants.
-

[2019-03-02 10:02] richardwerkman commented on #351
Do you have some code available for us to look at? We are curious to what changes you made and what the effects are!

[2019-03-03 09:21] dupdob commented on #351
Morning update: **Looking good**
current release: 1717 mutants, 1604 ready (4 failed rollbacks)
head of repo: 933 mutants, 898 ready (2 failed rollbacks)
**my WIP: 1723 mutants, 1664 ready (0 failed rollback)**
I am happy to report I have been able to increase the total number of generated mutants, in regard to the previous release.

I DO NOT CONSIDER WORK AS DONE YET!
I will open a PR for you to

[2019-03-03 12:29] richardwerkman commented on #351
Hi, I've looked at your PR and indeed it's looking great! Mutating seems smooth and without errors. I'll quickly give some feedback on the PR. Maybe it can help :)

[2019-03-03 14:37] richardwerkman commented on #353
I have to review my last comment. It is not of importance that the node that is returned has a parent node. What is of importance is that the currentNode in `Mutate` always has a parent node.

When does this not occur? If we call `replaceNode` on a tree and then call `Mutate` on that replaced tree. The method replaceNode removes the parent node of the tree.

So we have to introduce a new thumb rul

[2019-03-03 16:51] dupdob commented on #351
I have found the issue with the integration tests. It should be ok now.
But I found another issue while testing on NFluent... keep on working

[2019-03-03 17:24] dupdob commented on #351
Ok. I fixed the issue I had with for statements.
Latest numbers are good,

[2019-03-04 06:55] dupdob commented on #351
__Note: Previous close was a mishap__
Morning update: **almost there**
current stryker release: 1717 mutants, 1604 ready (4 failed rollbacks)
head of repo: 933 mutants, 898 ready (2 failed rollbacks)
### my WIP: 1727 mutants, 1707 ready (0 failed rollback)
I am really happy with the current status: got 100+ new mutants, no failed rollback, only a handful of CompileError (remaining causes are : und

[2019-03-04 20:42] Mobrockers opened #374 "Detect azure DevOps debug environment variables"
If stryker is used in a build pipeline users might try to investigate build issues by setting debug variables (system.debug) in the pipeline. Stryker should detect this and set log level to trace.

[2019-03-05 06:45] dupdob commented on #351
Morning update:
current stryker release: 1717 mutants, 1604 ready (4 failed rollbacks)
head of repo: 933 mutants, 898 ready (2 failed rollbacks)
## WIP: 1763 mutants, 1744 ready (0 failed rollback)

Further refactoring and simplification provided some unexpected boost.
So total progress (for NFluent) is around +10%

[2019-03-05 07:24] Mobrockers commented on #351
@dupdob Do you believe the linq mutator is actually useful now with the new changes? We had recently removed it because we deemed it to mostly generate false positives and cause rollbacks.

[2019-03-05 07:28] Mobrockers commented on #211
@broodjetom I'm closing this issue for now. If this becomes relevant for you again please answer the above question and we'll take a look.

[2019-03-05 07:28] #211 closed

[2019-03-05 07:55] Mobrockers opened #388 "Add coverage analysis to offer improved performance"
This issue follows from #183

Generate mutant coverage (which mutants is actually executed by any test). This could provide useful metrics as of now.

Offer to skip test runs for non covered mutants (hence assumed as survivors)
==> Improve performance for projects with low test coverage.
Identify tests that do not cover any mutant, offer to skip them from each run.
==> Could improve performance fo

[2019-03-05 07:56] Mobrockers commented on #388
From dupdop:

Some update: I have namedpipes running smoothly and stable, after a few fights.
I have reached maturity level 2: (my) Stryker now assumes non-covered mutants are survivors hence do not test them.

Code available here:
https://github.com/dupdob/stryker-net/tree/mutant_coverage

[2019-03-05 07:57] Mobrockers commented on #183
Implemented by #319

Next steps can be picked up in #388

[2019-03-05 07:57] #183 closed

[2019-03-05 08:59] dupdob commented on #388
I have a branch ready, just waiting to finish with my current PR.

[2019-03-05 10:20] dupdob commented on #353
PR #373 fixes that, I think. But I guess there is a need to have tests for that.

[2019-03-05 10:26] dupdob commented on #351
No opinion. I kinda like having a Linq mutator. I simply added a check to make sure the LinqMutator mutated a method name and skipped attributes/properties, thereby removing a bunch of CompileError.

So my change increased the efficiency of this mutator.

I only started recently to use Linq, but I know that many C# dev use it intensively.
I would be interested in discussing false positive.

Consid

[2019-03-05 10:37] Mobrockers commented on #353
@dupdob In #352 I will add checking on span locations in the integration test, so this will cover parents being available. If you feel like adding additional unit tests for it by all means, but it is not required.

[2019-03-05 10:43] Mobrockers commented on #388
@dupdob Yes I've seen it. The named pipe seems like a good way to implement this. Step 3 can be achieved with the vstest integration.

To achieve step 4 I was thinking we could create a named pipe from the mutated assembly to a vstest data collector (out of proc as well) and then a named pipe from the data collector to stryker. The datacollector can execute for every single test being run and whil

[2019-03-05 13:30] dupdob commented on #353
I added some assertions on mutant location in MutantOrchestratorTests

[2019-03-06 14:50] dupdob opened #389 "VsTest runner fails if log folder does not exist"
When using VsTest as the (test) runner, an exception is raised if the log folder does not exists.

[code]

[2019-03-06 15:04] dupdob opened #390 "VsTest runner is stuck if test assembly is not found"
The VsTest runner remains stuck if the target testing assembly does not exist/is not found.

It should exit gratefully instead.

[2019-03-06 15:09] Mobrockers commented on #389
This is fixed in the branch for #352. This should be merged soon. Thanks for reporting!

[2019-03-06 15:16] Mobrockers commented on #191
Seems to have been azure/github integration bug and not something on our side. Seems to no longer occur.

[2019-03-06 15:16] #191 closed

[2019-03-06 15:30] richardwerkman commented on #390
In what case does the target assembly not exist? Stryker executes a build before calling the vstest runner. The assembly should always be in place by then. What is your specific case?

[2019-03-06 15:39] dupdob opened #391 "VsTest runner assumes the test assembly name"
VsTest runner assumes the test assembly name is derived from the project name.
If the assembly name has been changed, the process fails.
related to #390

[2019-03-06 15:41] dupdob commented on #390
the test assembly name is different from the project name, so the actual problem is that the assembly is not found

[2019-03-06 15:46] Mobrockers commented on #391
We can improve this once we have #371 merged because buildalyzer will probably be able to provide us with the necessary information about assembly names so we don't have to make assumptions anymore. It would be wasted effort to try to improve this before then.

[2019-03-06 16:03] dupdob commented on #390
will look in to this as part of the mutant coverage effort

[2019-03-06 16:18] dupdob commented on #391
good idea

[2019-03-06 20:46] Mobrockers commented on #353
Fixed by #373

[2019-03-06 20:46] #353 closed

[2019-03-06 20:47] Mobrockers commented on #351
Fixed by #373

[2019-03-06 20:47] #351 closed

[2019-03-06 20:47] Mobrockers commented on #346
Fixed by #373

[2019-03-06 20:47] #346 closed

[2019-03-07 10:30] Mobrockers opened #394 "Azure DevOps extension to integrate html report"
In Azure DevOps it is possible to add custom build report tabs through extensions. If we create a stryker extension we could load the whole html report into azure devops.

[2019-03-07 10:31] Mobrockers commented on #394
We may want this to be a separate repo, as the html report is not stryker-net specific so any mutation report could be loaded by azure devops

[2019-03-08 09:17] Mobrockers opened #395 "Some InvocationExpressions are mutated twice"
![image](https://user-images.githubusercontent.com/3595932/54019396-60b14280-418b-11e9-8623-9fe20caa3cb8.png)

[2019-03-08 09:18] Mobrockers commented on #395
All those mutations are double

[2019-03-08 09:30] dupdob commented on #395
Well, let me look into this one

[2019-03-08 09:37] dupdob commented on #395
I just ran the code and I got this result:
[code]

Can you dump the related mutated code?

[2019-03-08 09:45] Mobrockers commented on #395
This is the file that resulted in double mutations.

[code]

This change worked on my system to remove the double mutations:
https://github.com/stryker-mutator/stryker-net/pull/396/files

I am however not confident that my testsize is large enough to see if this causes any side effects in other statements.

[2019-03-08 09:49] dupdob commented on #395
I am afraid this change is aggressive. I check your sample and see what happens

[2019-03-08 12:11] dupdob commented on #395
Ok, I reproduce the issue. I should be able to fix it then.

[2019-03-08 12:35] dupdob commented on #395
By the way, your fix does not pass unit tests.

[2019-03-08 13:58] Mobrockers commented on #395
Yes I know. I just pushed a quick fix that fixed the problem in my case as an example.

The full source code is the integrationtest project netcore2_1 in the mutation html report branch here:

https://github.com/stryker-mutator/stryker-net/tree/481c5e140541c85f1b33e46b8a6ba9cb79813cd9/integrationtests/TargetProjects/NetCore2_1/ExampleProject/String

I simply added the file there and removed the st

[2019-03-08 13:59] dupdob commented on #395
Thanks
I will try again

[2019-03-08 17:48] dupdob commented on #395
I understand now: two mutants were declared for the same location, but the code was mutated only once. Hence it did not appeared clearly in tests.
Thanks for spotting and fixing this

[2019-03-08 17:53] #395 closed

[2019-03-09 14:37] Mobrockers opened #398 "Enable vstest for non-windows platforms"
Remove non-windows OS check from TestRunnerFactory since vstest client library has been updated with vstest support with vstest.console.dll instead of vstest.console.exe

[2019-03-09 17:00] Mobrockers commented on #109
Fixed with #352

[2019-03-09 17:00] #109 closed

[2019-03-10 18:08] Mobrockers opened #399 "Calculate maximum possible testrun time over entire mutation run"
Currently we timeout of a testrun when we believe the test has reached it's maximum possible test time and is stuck in a loop. We should determine the maximum time for the entire testrun and timeout if it has been exceeded. Something as simple as initial testrun time * mutants + additional timeout should be plenty.

[2019-03-10 21:26] Mobrockers opened #400 "Remove deprecated health property from json report"

[2019-03-11 03:18] dependabot[bot] opened #403 "Dependabot couldn't find a <anything>.(cs|vb|fs)proj for this project"
Dependabot couldn't find a <anything>.(cs|vb|fs)proj for this project.

Dependabot requires a <anything>.(cs|vb|fs)proj to evaluate your project's current .NET dependencies. It had expected to find one at the path: `/integrationtests/TargetProjects/NetCore2_1/<anything>.(cs|vb|fs)proj`.

If this isn't a .NET project, or if it is a library, you may wish to disable updates for it from within [Depend

[2019-03-11 03:18] dependabot[bot] opened #404 "Dependabot couldn't find a <anything>.(cs|vb|fs)proj for this project"
Dependabot couldn't find a <anything>.(cs|vb|fs)proj for this project.

Dependabot requires a <anything>.(cs|vb|fs)proj to evaluate your project's current .NET dependencies. It had expected to find one at the path: `/integrationtests/IntegrationTests/IntegrationTests/<anything>.(cs|vb|fs)proj`.

If this isn't a .NET project, or if it is a library, you may wish to disable updates for it from within

[2019-03-11 03:18] dependabot[bot] opened #405 "Dependabot couldn't find a <anything>.(cs|vb|fs)proj for this project"
Dependabot couldn't find a <anything>.(cs|vb|fs)proj for this project.

Dependabot requires a <anything>.(cs|vb|fs)proj to evaluate your project's current .NET dependencies. It had expected to find one at the path: `/integrationtests/TargetProjects/NetStandard2_0/<anything>.(cs|vb|fs)proj`.

If this isn't a .NET project, or if it is a library, you may wish to disable updates for it from within [De

[2019-03-11 06:32] #405 closed

[2019-03-11 06:32] #404 closed

[2019-03-11 06:32] #403 closed

[2019-03-11 06:47] dependabot[bot] opened #406 "Dependabot couldn't find a <anything>.(cs|vb|fs)proj for this project"
Dependabot couldn't find a <anything>.(cs|vb|fs)proj for this project.

Dependabot requires a <anything>.(cs|vb|fs)proj to evaluate your project's current .NET dependencies. It had expected to find one at the path: `/integrationtest/TargetProjects/<anything>.(cs|vb|fs)proj`.

If this isn't a .NET project, or if it is a library, you may wish to disable updates for it from within [Dependabot](https:

[2019-03-11 07:17] richardwerkman commented on #399
Where do we need this? This issue is a bit unclear for me.

[2019-03-11 07:58] Mobrockers commented on #399
If for some reason a part of the program hangs (vstest runner for example or other out of process processes) we might not detect this and end up in an infinite wait. We should terminate the entire program when the global timeout has been reached.

[2019-03-11 08:02] richardwerkman commented on #399
I'm not sure if this would be useful. In your case, if the vstest runner hangs, that would be during the initial testrun. So that would be before your timeout has been calculated. So how do we know when the initital testrun times out? We can't. I think we should just treat that kind of cases as a bug. We don't have to build in a mechanism to handle bugs. Stryker should just always work :)

[2019-03-11 08:11] #406 closed

[2019-03-11 08:16] Mobrockers commented on #399
I have actually seen vstest hang after a number of mutation runs, which is why I think we need this.

[2019-03-11 08:27] richardwerkman commented on #399
Don't you think we should tackle that instead of creating a timeout? If we figure out why vstest hangs and we solve that we won't need the timeout. Have you created an issue for vstest hanging already?

[2019-03-11 08:36] Mobrockers commented on #399
Yes, we should. But in the case a bug slips in it would not be a good user experience if stryker just keeps on running forever.

I have not created the issue yet because we need to redesign how we make vstest available on the system first.

[2019-03-12 14:07] Mobrockers opened #407 "Dotnet global tool does not restore nuget dependencies so vstest is not available on target system"
We will probably have to ship vstest binaries packaged with the global tool as embedded resources because our old solution does not work for a dotnet global tool.

Blocking for merging of #371

[2019-03-12 22:31] Mobrockers opened #408 "Query myget for new packages since build start to decrease wait time"
Currently we wait a fixed amount for the myget package to be available to download. This generally works because we use a relatively high timeout. Instead we should use invoke rest api to query https://www.myget.org/F/stryker-mutator-integrationtest/api/v2/feed-state?since= where since = either build start time or last build job end time (if that is available to us). As soon as we have any respons

[2019-03-13 19:19] Mobrockers commented on #407
Microsoft.TestPlatform.Portable is now embedded in stryker so we can make sure it is available on the target system. This has caused stryker to grow by about 10MB to about 17MB total currently.

[2019-03-15 10:26] dupdob commented on #388
@Mobrockers
thanks for the proposal, I have made an MVP using pipe communication between the assembly and Stryker, the objective reaching a proof of concept before considering improvement strategies.
Here is what I have achieved and learned so far. Spoiler alert, it is a bit **disappointing** (at least for netcore environment, it may be better with classical .Net)..
1. Overall, VsTest architecture

[2019-03-15 11:33] dupdob commented on #388
OK, went through the code, _ AreTestCaseLevelEventsRequired_ does not serve the purpose I hoped fore (sequential notification)

[2019-03-15 14:16] Mobrockers commented on #388
How do you mean? Dotnet test internally uses vstest, not the other way around

[2019-03-15 14:28] Mobrockers commented on #388
I hope using a datacollector can specifically help really much with this problem because of:

https://github.com/Microsoft/vstest-docs/blob/master/docs/extensions/datacollector.md#datacollectionevents

Example:
https://github.com/Microsoft/vstest/blob/master/test/TestAssets/SimpleDataCollector/Class1.cs

I understand that it's only an MVP of course, so I get that you're not immediately going for a

[2019-03-15 14:28] dupdob commented on #388
Well, I see vstest.console.exe launching dotnet.exe. I guess dotnet integrates some VsTest glue and logic, but from an executable perspective, that's how it works
![image](https://user-images.githubusercontent.com/3131866/54438438-ee1a0700-4736-11e9-9e50-686c4c31248c.png)

[2019-03-15 14:30] Mobrockers commented on #160
I have since changed my mind. Let's improve the report.

[2019-03-15 14:35] Mobrockers commented on #388
You are right in that vstest is internally a big can of worms :) It also internally spawns new processes for dotnet.exe, testhost.exe, and sometimes datacollector.exe and other collectors depending on configurations 💃

[2019-03-15 16:22] richardwerkman commented on #160
Oops, didn't mean to close. Reopening.

[2019-03-15 22:00] rouke-broersma opened #409 "Start signing package versions uploaded to nuget"
https://docs.microsoft.com/en-us/nuget/create-packages/sign-a-package

This allows nuget.org to validate we are uploading the package, and allows nuget clients to validate the package is coming from us.

This requires a valid trusted certificate from a trusted root CA. This certificate needs to be uploaded to nuget.org in the stryker organisation. This certificate must also be uploaded to azure de

[2019-03-15 22:03] Mobrockers opened #410 "Metadata urls are being deprecated by nuget starting with licenseUrl"
https://github.com/NuGet/Announcements/issues/32

Nuget push already warns us that licenseUrl is deprecated and should be replaced by providing the license inside the nuget package. We already have the license in our source repo so we should be able to package that in the azure pipeline instead of using the licenseUrl. We should also check what the future plans are because it looks like other meta

[2019-03-16 14:52] dupdob commented on #388
Quick summary regarding various steps:
1. is pretty solid so far. It still fails sometimes, and I fixed a bunch of edge cases/timing issues regarding the pipe mechanism. There may still be some, but I also assume that AppDomain unloading event is unreliable
1. Is working good, albeit providing only a marginal gain from a performance perspective. But it also provides clear hindsight on non covered

[2019-03-16 14:57] dupdob commented on #388
I just had an idea I find interesting: I am fascinated by the _mutant->tests_ mapping information and I had a hunch there was value in those. And I may has just found it.
We could use coverage information in reports to provide hints. E.G:
- if a mutant is not covered, suggestion should be around adding a test or refactoring code
- otherwise, suggestion could be to consider reviewing some of the te

[2019-03-16 15:00] Mobrockers commented on #388
Perfectly clear to me, sounds awesome!

On Sat, Mar 16, 2019, 15:57 Cyrille DUPUYDAUBY <notifications@github.com>
wrote:

[2019-03-19 07:39] richardwerkman opened #411 "ExpressionStatement breaks stryker"
It seems that some ExpressionStatements containing a lot of mutations break stryker. Example:

[code]

4 mutations are made in this Expression, each rollback step 1 is removed unit this is left:

[code]
This does not compile and stops with exit code 1.

These mutations should not be placed with the `conditional statements` but with `if statements`. Then the mutations would compile and Stryker will

[2019-03-19 07:47] dupdob commented on #411
Hum
Not sure an if is needed here, but ternary operator is ill placed.

Envoyé de mon iPhone

[2019-03-19 14:59] dupdob opened #412 "For statement with empty condition clause breaks Stryker"
Empty condition in for statements raises exception with latest Stryker. I.e
[code]
Triggers exception during mutation phase.

[2019-03-20 09:32] simondel opened #414 ".NET Framework - System.InvalidOperationException: Sequence contains no elements"
When running Stryker.NET 0.10.0-RC1 on my **.NET Framework project** I get the following error:
[code]

Config:
[code]

Logfile with trace logging:
[stryker-output.txt](https://github.com/stryker-mutator/stryker-net/files/2987419/stryker-output.txt)

[2019-03-20 09:36] Mobrockers commented on #414
Fixed in #371

[2019-03-20 16:14] nicojs opened #415 "Better error message when MSBuild fails with error"
When MSBuild exists with error during initial compilation I see the following error:

[code]

I fixed this issue by following fix 2 on this stack overflow question:

https://stackoverflow.com/questions/47797510/the-getreferencenearesttargetframeworktask-task-was-not-found

But I only found this solution after @Mobrockers pointed out to me that I could reproduce this error using MSBuild.exe

My sug

[2019-03-21 15:52] RinivR opened #417 "Stryker should not mutate Excluded file"
Hi,

It seems that the excluded file in `stryker-config.json` can be read by Stryker but somehow Stryker still try to mutate these excluded files.
For example:
When Stryker run:

[code]

[code]

[2019-03-21 20:47] richardwerkman commented on #417
Hi, thanks for letting us know!

My first thought is that the file should indeed not be mutated. You can see here:
https://github.com/stryker-mutator/stryker-net/blob/8da93e52d13241afa013d2cb8a2d6b3220b2b34f/src/Stryker.Core/Stryker.Core/MutationTest/MutationTestProcess.cs#L70
That the mutating is enclosed by the check for excluded files. So I guess your file was somehow not excluded. I could chec

[2019-03-22 07:07] kwlin opened #418 "Failed to restore nuget packages when whitespaces in path"
When the unit test project has whitespaces in the path name, Stryker.NET failed to restore nuget packages. For example:

[code]

[2019-03-22 07:15] kwlin opened #419 "Stryker should abort when no tests found"
When no initial tests found (because of missing nuget package (MSTest.TestAdapter)), stryker should abort the run instead.

For example:

[code]

[2019-03-22 07:39] kwlin opened #420 "Feature request: Support for test filters"
It would be nice to provide a way which tests should be executed within stryker-mutator like: https://docs.microsoft.com/en-us/dotnet/core/testing/selective-unit-tests

Just to prevent (integration/long running)tests will be executed during a stryker run.

[2019-03-22 08:30] richardwerkman commented on #419
This would mean a breaking change. Our "dotnet test" runner parses the console output for the number of tests executed. I've seen an example of a run on a franch system where the parser found 0 tests because the language was different in the console output.

If we stop stryker on 0 tests found, users on a non english system could not use stryker anymore.

I'm more fond of a less rigorous solution

[2019-03-22 08:33] richardwerkman commented on #420
This could potentially conflict with our new feature #388. We have to use the filter there too. If we have a way of combining the users filter with our own filters this would be a nice improvement!

[2019-03-22 10:02] kwlin opened #421 "Should not be a mutant for ConfigureAwait(false)"
We have various async code in our libraries like:

[code]

Stryker-mutator change the false flag to true but most of the time it's for UnitTest purpose not interesting to change the flag to true.

[2019-03-22 10:29] richardwerkman commented on #421
We could check the name of a method before mutating it's arguments. However we can't be sure that if the name is `ConfigureAwait` it is an async configuration. If we exclude this method (or maybe even more) we could also exclude methods that should be mutated. How do you think we should handle this?

[2019-03-22 10:40] simondel commented on #419
Logging a warning sounds like a good idea

[2019-03-22 12:11] #411 closed

[2019-03-22 12:11] #412 closed

[2019-03-22 12:16] richardwerkman opened #422 "Check for errors in mutant orchestrator tests"
## Why?
The unit tests for the mutant orchestrator are increasingly important for the stability of Stryker. We should add a test case to validate if all output is valid syntax.

## Example
For example see #413. All tests were green but the syntax was incorrect. If this would have been merged a lot of mutations would have been rollbacked.

Note: we don't have to compile the output. We can just chec

[2019-03-22 14:44] Mobrockers commented on #419
@richardwerkman We could at the very least implement this for vstest. We could also look into using `-t|--list-tests` to list the found testcases. Depending on the output of this command we might be able to more accurately detect the total number of unit tests independent of language.

[2019-03-22 17:59] shadow-cs commented on #317
@richardwerkman I started working on this, the approach can be tracked in the commit I just pushed. I wanted to add a few integration tests, is there some guide how to do this (or am I free to just modify or add any projects I see fit)? Should I start a MR to the `full-framework` branch and push the changes there that will be squashed later?

[2019-03-22 18:04] Mobrockers commented on #317
Keep in mind that currently the integration tests are ran for very single
build, so any project you add will add extra time to the build. It might be
better to create unit tests wherein you use an actual buildalyzer build but
not a complete Stryker run to validate. This should not add so much time.

On Fri, Mar 22, 2019, 18:59 Honza Rameš <notifications@github.com> wrote:

[2019-03-23 10:21] richardwerkman commented on #317
Yes I agree. This could also be achieved with a unit test which saves time! We have a wrapper around buildalyzer so you could mock the msbuild properties. You don't have to actually run buildalyzer on a project file.

An PR to the full-framework brach seems like the best solution right now, good idea :+1:

Also, thanks for your contribution already!

[2019-03-23 13:33] shadow-cs commented on #317
Thanks for the heads-up @Mobrockers @richardwerkman , actually I didn't want to add new project just a MSBuild `props` files that will ensure the stuff I wanted to fix are indeed working. It should not add any more mutations sot it should not increase the pipeline time dramatically (and if so it should only add seconds during initial build, 2s on my machine, the measurement is highly inaccurate th

[2019-03-25 08:44] dupdob commented on #388
Monday update: I had the opportunity to explore and I made a cool discovery: I can use VsTest data collection architecture to forward coverage results to Stryker, which should help avoid the 'double pipe' strategy proposed by @Mobrockers.
Still far from a finished features, though

[2019-03-25 11:42] Mobrockers commented on #342
Implemented by #424

[2019-03-25 11:42] #342 closed

[2019-03-25 20:03] robertlyson opened #425 "Improve message of exception when directory contains more than one csproj"
Hi,

Just encountered an error when a directory where I try to run Stryker contains more than one csproj:
[code]

Would be great if the exception message could contain details about csprojs found. That could help with a faster investigation with what is wrong.

[2019-03-26 06:16] dupdob commented on #388
Quick update: the vstest runner now uses environment variables to transfer coverage data between test assembly and host. It means we no longer have to run tests in isolation to capture coverage.
Getting closer to a working version!

[2019-03-26 07:16] richardwerkman commented on #388
Cool! Sounds awesome. Keep up the good work!

[2019-03-26 07:29] Mobrockers commented on #388
Sounds good!

[2019-03-26 09:23] RinivR commented on #417
Hi Richard,

I will send you the stryker-config.json file where the files which are excluded are mentioned.
When I run stryker i get the information log that the file is excluded from mutation, but then when stryker starts mutate then those files are tried to be mutated.
I dont know why.
[10:08:13 INF] File C:\git\vec\MP\53-ISMATripleForms\Implementation\Vecozo.ISMATripleForms\04-Implementation\Ag

[2019-03-26 10:13] nicojs commented on #419
That is a bug IMHO. We should be able to parse the lines on all languages. Maybe look for a number in the output, or something a bit stricter, but not exactly text matching. Or at least make the regex configurable, so that people can fix this themselves.

If you know for sure that 0 tests have run, then I would suggest the following:

Mutate like you normally would, but skip the running of the tes

[2019-03-26 10:24] decipherer opened #427 "Feature request: support for signed assemblies"
We (VECOZO, used to) use a lot of signed assemblies here. Unfortunately stryker.net fails if the assembly to mutate is signed. I created a fix locally that works for our projects. It is based on the full-framework branch as we only use full framework for now.

Besides the added support for signed assemblies it contains a fix for certain projects that buildalyzer is not able to analyze well without

[2019-03-26 10:33] Mobrockers commented on #427
A solution file is used only for full framework projects, therefore a solution file should not be required.

[2019-03-26 10:42] decipherer commented on #427
In the full framework branch, the solution path was always passed when analyzing the test project. In my change it is now also passed when analyzing the project under test. It seems the parameter should be optional for both cases then, based on full-framework or not.

I've not looked very deep into it, but it may also be a shortcoming in buildalyzer, as it's 'Succeeded' property is still 'false'.

[2019-03-26 10:49] richardwerkman commented on #417
I see we have some more logging for excluded files. It looks like:
[code]

Do you see that in your output? If not it looks like the IsExcluded flag is somehow switched back after is has been set to true.

[2019-03-26 10:58] dupdob commented on #388
I made a run with NFluent, time is 55 minutes versus 135 minutes without optimisation.
I just pushed the associated code. I would welcome feedbacks using other projects

[2019-03-26 13:44] RinivR opened #429 "Stryker.net Report mutation score 100% is confusing when total mutants = 0"
Hi,

On the Stryker.NET Report the mutation score shows scores of 100% when the Total mutants = # Killed OR also when the Total mutants = 0 (so when in the file no code can be mutated).
This is confusing. I expect when there is no code can be mutanted that the mutation score should be 0% because there is no test can be match against the mutants.

greetz.

[2019-03-26 13:54] richardwerkman commented on #429
We are already working on this in #416! The new scenario will exit Stryker when no mutants have been made, before any reporter is called. This will mean that you won't see a 100% mutation score anymore. Is this a good solution for you?

[2019-03-28 14:09] RinivR commented on #429
Richard, this sounds as a good solution!

[2019-04-01 08:19] dupdob commented on #388
Monday morning status update: still working on this. As environment variables do not seem target to me (performance and available space concerns), I have migrated back to pipes, but this is a constant struggle to make them work properly. Tests deadlock without identifiable cause, debugging is difficult and I can't find a way to log from the InProcDataCollector

[2019-04-01 15:01] robertlyson commented on #421
Maybe we could implement one of following:
1. create a whitelist of public methods to be mutated based on the referenced projects(exclude nuget once).
2. create namespace exclude list which will remove methods from mutation process, in this case System.Threading.Tasks.*

[2019-04-01 15:45] robertlyson opened #434 "Can't use reports option in CLI"
Hi,

Just getting this error when I try to run stryker with two reporters
[code]
![image](https://user-images.githubusercontent.com/2392583/55340759-9a811a80-54a5-11e9-8f48-6f19e2203113.png)

I took this command from [docs](https://github.com/stryker-mutator/stryker-net/blob/master/src/Stryker.CLI/README.md#mutation-testrun-reporters).

System details:
- macOS 10.14.4 (18E226)
- dotnet version: 2.

[2019-04-01 15:48] Mobrockers commented on #388
Can you not log to file?

[2019-04-01 15:51] Mobrockers commented on #434
Nice catch! The docs are wrong unfortunately. Because of the json syntax the value has to be enclosed in quotes.  Try `--reporters "['ConsoleReport', 'ConsoleProgressBar']"` instead. We'll be changing this to be more user friendly in the future.

[2019-04-01 15:55] robertlyson commented on #434
Cool, thanks for pointing me into the good direction. Will send PR to fix the docs if you think that makes sense.

[2019-04-01 16:27] Mobrockers commented on #434
Resolved by #435

[2019-04-01 16:27] #434 closed

[2019-04-01 16:28] Mobrockers commented on #421
Number 2 won't work as we do not have that kind of information available at mutation time. I'm not sure what you have in mind with number 1.

[2019-04-01 16:32] Mobrockers opened #436 "Update system.io.abstractions to V4"
V4 of system.io.abstractions uses interfaces instead of abstract classes as public interface with system.io.abstractions. We need to change our usage to update to V4. See #431 #432 #433

[2019-04-01 16:34] robertlyson commented on #421
Ad1. Ah, cool.
Ad2.
For instance, if we are considering `ConfigureAwait(false)`, first we are checking from what type and then from what namespace it comes. Based on this information we can check if the namespace is being put on blacklist so we are excluding it from being mutated.

[2019-04-01 16:36] dupdob commented on #388
Thanks for the suggestion

The problem is that you have to coordinate the the consumption of the data:
 the mutated assembly side (mutantcontrol side) has no clue when tests start and stop, while the collector side knows but has no direct access to coverage data.
I need to capture covered mutants and reset the list between tests
The pipe is relatively good for that, as it allows synchronous reques

[2019-04-01 16:40] Mobrockers commented on #421
Unfortunately it would be computationally expensive to determine type information for the syntax tree to mutate, so we will not be able to determine whether or not function is a member of a given namespace. We could have a guess based on found namespaces and known method names I suppose, but this would be a guess at best.

[2019-04-01 16:43] Mobrockers commented on #388
Sorry for the confusion, I meant in relation to this part

You could debug-log to file from the datacollector no?

[2019-04-01 16:46] Mobrockers commented on #427
Merged with #428
Not sure when I'll be able to release a new RC or a full release

[2019-04-01 16:46] #427 closed

[2019-04-01 16:47] Mobrockers commented on #425
Fixed #426

[2019-04-01 16:47] #425 closed

[2019-04-01 16:47] Mobrockers commented on #422
Fixed by #430

[2019-04-01 16:47] #422 closed

[2019-04-01 16:47] Mobrockers commented on #429
Implemented by #416
Will release new RC when time permits

[2019-04-01 16:47] #429 closed

[2019-04-01 18:17] robertlyson commented on #160
I had a quick look how could it be improved and here are few propositions for this project structure:

![image](https://user-images.githubusercontent.com/2392583/55349792-db375e80-54ba-11e9-923c-f658002172f1.png)

Report before change:

[code]

1.
[code]

2.
[code]
Notes:
Score aligned to the right.

3.
[code]
Notes:
Score aligned to the right.
Additionl lines to separate mutants from the file str

[2019-04-01 18:51] Mobrockers commented on #160
We have discussed this and we believe the exact mutation information is not really all that useful on the commandline. We propose to use the same reporting as stryker for javascript. Something like this:

[code]

@richardwerkman Still agree?

[2019-04-01 20:25] dupdob commented on #388
Good news, finally spotted the deadlock issue: a bug in my pipe reading class when receiving an empty message. I can keep on improving my code.

[2019-04-01 20:50] Mobrockers commented on #388
Awesome :)

On Mon, Apr 1, 2019, 22:25 Cyrille DUPUYDAUBY <notifications@github.com>
wrote:

[2019-04-02 07:14] decipherer commented on #427
Thanks for merging!

[2019-04-02 20:33] dupdob commented on #388
Deadlock is gone, but I still have what looks like race conditions when capturing coverage.
I think it may relates to [this issue](https://github.com/nunit/nunit3-vs-adapter/issues/560) with Nunit.
If I can confirm this is related to NUnit, I will probably add an option to workaround it until it is fixed on NUnitAdapter side

[2019-04-02 20:40] Mobrockers commented on #388
I think setting the option mentioned in that nunit issue in the runsettings
by default might be an acceptable workaround assuming it fixes the issue.
It should not interfere with other testrunners.

On Tue, Apr 2, 2019, 22:33 Cyrille DUPUYDAUBY <notifications@github.com>
wrote:

[2019-04-03 20:13] dupdob commented on #388
I used it. (Kinda) Interestingly it triggered new deadlock issues. I guess I still have bugs. No worries, I love brainteasers and I am happy to find bugs BEFORE opening a PR.

Note that sequential execution slows test execution.