[2021-03-03 23:29] Mobrockers opened #1457 "Some options are unused because options copy is incomplete"
Diff is broken due to Copy not copying this property from the parent stryker options object:

https://github.com/stryker-mutator/stryker-net/blob/abdca9540e170c03635b090d5fe72e39ec58c43e/src/Stryker.Core/Stryker.Core/Options/StrykerOptions.cs#L198

There might be more missing options.

@richardwerkman

[2021-03-05 12:47] Stijn-Rutten opened #1461 "Integrate libgit2sharp added/deleted line information in the diff filter"
**Is your feature request related to a problem? Please describe.**
Diff filter

**Describe the solution you'd like**
The new release for libgit2sharp allows to inspect the added and deleted lines in the diff information. We can now determine which mutants in a changed file have been deleted, or have been inserted. Allowing for a more precize exclusion.

[2021-03-05 12:51] Mobrockers commented on #1457
Fixed by #1458 #1459

[2021-03-05 12:51] #1457 closed

[2021-03-06 01:11] wiciok commented on #1380
I'm working on this issue now. It is not related directly to HTML reporter - affects JsonReporter as well.
In general, there are two related issues here.
First is improper handling of files located in project root - it affects also project runs.
Second is general topic of handling separate directories for projects in solution runs.

[2021-03-06 01:24] wiciok commented on #1379
I quite consistently observed 4 different results when using solution runs on 0.21.1
Of course this may apply only for my particular solution (4 projects, 3 test projects), but what it usually happens is either:
1. No mutatations produced at all (and no report generated)
2. Just 0 mutants killed
3. Result that is roughly at 50% of expected mutations score
4. Result that is kinda close to running a

[2021-03-06 18:20] Mobrockers commented on #1380
That's awesome! If it is a quick fix please create the change from the master branch. If it requires significant effort please create the change to the v1.0 branch.

[2021-03-09 08:01] rouke-broersma opened #1467 "Improve diff feature docs"
When I run the diff feature on your example this is my result:

**[15:29:52 INF] 1 files changed**
[code]

The git diff feature tests only those files that have been changed **since** the target you provide. So if you have a feature branch you might want to test those mutants that are new or that have been changed since master. You would then set -gdt to master. Or, you might want to test the muta

[2021-03-13 00:27] ivancea opened #1470 "Mutator for individual statements"
**Is your feature request related to a problem? Please describe.**
It would be useful to have single statement mutators (removing method calls, assignments, any statement)

**Describe the solution you'd like**
There is already a block statement mutator (not in Stryket.NET as I see in the docs). I think it may be modified to remove individual statements instead of complete blocks. It would generate

[2021-03-13 13:02] raschmitt opened #1471 "v0.22.0 is breaking with a null ref"
**Describe the bug**

Stryker fails with a null ref exception while trying to mutate a project.

Parameters:

[code]

Error:

[code]

**Expected behavior**

I expected stryker to mutated my project.

**Desktop (please complete the following information):**
 - OS: ubuntu-20.04 (Az Devops)
 - Type of project: .Nwt Core
 - Framework Version: 3.1
 - Stryker Version: beta 0.22.0

**Additional context**

[2021-03-13 16:06] ivancea commented on #1470
I'll work on this if there is not a problem with it 😃
I'll just replace every StatementSyntax with an EmptyStatementSyntax, with some exceptions:
- ReturnStatementSyntax: It may result in an error if it is the last return of a non-void function. The "last return" part is relatively complex, so I'll probably just check if it is a void return.
- LocalDeclarationStatementSyntax: Removing a declaratio

[2021-03-17 21:04] ggreig opened #1475 "Stryker hangs with multi-targeted test project"
**Describe the bug**
When run against a multi-targeted test project, Stryker hangs indefinitely when attempting to initialise test runners.

**Log**
[log-20210317.txt](https://github.com/stryker-mutator/stryker-net/files/6159585/log-20210317.txt)

**Expected behavior**
I expected the tests to be run for each version of the .NET framework targeted by the test assembly, and results grouped by framew

[2021-03-17 22:26] Mobrockers commented on #1475
Could you try switching the order of the targets in the test project to `netstandard2.0;net5.0`?

[2021-03-17 23:15] ggreig commented on #1475
I've now tried that; it didn't change the behaviour.

[2021-03-18 15:29] dupdob opened #1476 "Refactor tests integration (coverage & testing phase)"
**Is your feature request related to a problem? Please describe.**
As of V0.22, the integration of tests (test cases, test results, test lists..) is sub par. The current design does not support NUnit's TestCases and xUnit Theories, which lead to issues with coverage capture and mutant testing.
Timing informations as well as initial test results could be captured to improve the overall behaviour of

[2021-03-19 02:59] kreghek opened #1477 "--ignore-methods doesn't work"
**Describe the bug**

I use Stryker to test my project. And I want to exclude some "auto-generated" methods like ToString and GetHashCode.

The command to run Stryker looks like:
dotnet stryker --project-file=[path-to-project]/Zilon.Core.csproj --ignore-methods "['ToString', 'ConfigureAwait', '*Exception.ctor', 'Equals', 'GetHashCode']" --excluded-mutations "['string']"

But I has no effect:
![ima

[2021-03-19 07:55] Mobrockers commented on #1477
Hi @kreghek

The ignore methods option only ignores methods **calls**, not method bodies. For method bodies you'll want to use the ignore code coverage attribute.

[2021-03-19 12:02] Mobrockers commented on #1475
I will reopen the feature request we used to have for this. #137

[2021-03-19 12:02] #1475 closed

[2021-03-22 08:50] #1477 closed

[2021-03-22 09:58] #1428 closed

[2021-03-22 09:58] #1448 closed

[2021-03-22 09:59] #1393 closed

[2021-03-22 10:42] rouke-broersma opened #1481 "Implement html report extra data"
**Is your feature request related to a problem? Please describe.**
https://github.com/stryker-mutator/mutation-testing-elements/pull/893

[2021-03-22 11:42] #1471 closed

[2021-03-22 13:03] #1423 closed

[2021-03-22 13:19] #1388 closed

[2021-03-22 13:19] Mobrockers commented on #1390
Is this problem still present with 0.22.1?

[2021-03-22 13:21] Mobrockers commented on #1317
Duplicate of #1136

[2021-03-22 13:21] #1317 closed

[2021-03-22 13:25] #910 closed

[2021-03-22 17:30] rouke-broersma opened #1482 "Change file pattern spans from person.cs{10..100} to person.cs:10:0:100:0"
**Is your feature request related to a problem? Please describe.**
Other tools show file spans in format person.cs:10:0:120:0

[2021-03-23 20:24] Terebi42 opened #1486 "Support for blazor"
**Describe the bug**
Doesnt work at all.

**Logs**
attached

**Expected behavior**
It Works

**Desktop (please complete the following information):**
 - OS: Win10
 - Type of project Core Blazor
 - Framework Version 3.1
 - Stryker Version latest

**Additional context**
Very first try. Using Blazor empty template pretty much

[VsTest-log.host.21-03-23_15-21-50_54782_9.txt](https://github.com/stryker

[2021-03-23 20:56] Mobrockers commented on #1486
We have never tried Stryker on blazor, we'll need to figure out what's happening here and build support for it. Thank you for letting us know blazor does not work out of the box!

[2021-03-24 15:52] psfinaki opened #1487 "An option to specify target framework for build"
**Is your feature request related to a problem? Please describe.**
I have found that Stryker runs are inconsistent for projects with multiple targets. For example, for a project targeting both .NET Core and .NET Framework, Stryker sometimes builds against .NET Core and sometimes against .NET Framework. This leads to inconsistent results due to platform-specific code, also such executions may requi

[2021-03-24 15:59] richardwerkman commented on #1487
Yes we can add a new option for this. We have been struggling with multiple target frameworks. This seems like a good solution.

However I'd like to wait with writing this feature until we have finished working on #1273 as this is a complete rework on the options. If we add a new option now this will result in a huge merge confict.

[2021-03-24 16:20] psfinaki commented on #1487
@richardwerkman thanks for the quick response! Do you have any idea when that PR is expected to get merged? And is there any way to help there?

[2021-03-24 16:27] Mobrockers commented on #1487
Hi 🙋‍♀️

I have modified #137 for this feature request.

We are mostly done with the design of #1273, we just need to fix/create all unit tests for all the new options. It should be merged relatively soon.

[2021-03-24 17:04] raschmitt commented on #1390
@Mobrockers I'm gonna have a try tonight.

[2021-03-24 20:18] psfinaki commented on #1487
@Mobrockers, great. Alright, I will create a PR in the upcoming days :)

[2021-03-26 19:49] JoshuaRowland opened #1493 "System.ApplicationException: VsTest extensions not found"
**Describe the bug**
Stryker was throwing a System.ApplicationException while attempting to run a mutation test.

**Logs**
[log.txt](https://github.com/stryker-mutator/stryker-net/files/6213969/log.txt)

**Expected behavior**
The Stryker.NET application to execute successfully.

**Desktop (please complete the following information):**
 - OS: Windows 10
 - Type of project: Console Application
 - Fr

[2021-03-26 22:39] raschmitt commented on #1390
@Mobrockers Sorry for the late, I run it just onde but it seems to be working just fine on 0.22.1.

Here is the pipeline where I run it https://dev.azure.com/raschmitt/raschmitt/_build/results?buildId=679&view=results

I think we might close this issue for now.

[2021-03-26 22:39] #1390 closed

[2021-03-26 22:48] Mobrockers commented on #1390
No problem :) Glad to hear it works now!

[2021-04-01 15:27] DaveSenn opened #1496 "Add option to not mutate certain methods (not only parameters passed to method)"
**Is your feature request related to a problem? Please describe.**
If we have to do string operations to log some data, we first check if the log level is enabled. Only if the level is enabled, we perform the string operations.
I don’t really care about log being written or not during (unit) testing. I would like to have an option to exclude the log level checks from mutation.

Code example:
[code

[2021-04-01 15:31] DaveSenn opened #1497 "Add option to not mutate exception messages"
**Is your feature request related to a problem? Please describe.**
Often exception messages are not used to change the behavior of any code (usually the exception type or additional properties on the exception type will be used for this).
Changing a exception message does not fail our tests since we use the message only as meta information for the dev taking a look at a log.
I would like to have a

[2021-04-02 07:38] Mobrockers commented on #1496
You can use the [Mutate](https://github.com/stryker-mutator/stryker-net/blob/master/docs/Configuration.md#mutate) argument to ignore specific filespans from mutation.

You can also use `[ExcludeFromCodeCoverageAttribute]` to ignore from mutation.

Are those not sufficient?

[2021-04-02 07:43] dupdob commented on #1400
I am not sure we can implement the logic along those lines, i.e. : not reporting when roll backing known problematic constructs. Mostly because it is going to be difficult to identify the bad constructs once we are rollbacking the method, the main problem being that the error messages is reported at some other place.

I would suggest a slightly alternative approach:
**Solution**
- skip mutation of

[2021-04-02 07:53] Mobrockers commented on #1497
Let's say someone removes all exception messages from your code base, would your team be happy about that? Would you be able to troubleshoot properly without the messages in the logs? If the answer is yes, why do you have the messages in the first place? It's still code you have to maintain, if it's not important it's better to cut it.
If the answer is no, why would you not at least want to test t

[2021-04-02 07:57] Mobrockers commented on #1400
@dupdob Ideally we should of course fix the problems our users report asap. But in practice this is not always possible. This feature would be used in between when a user reports an issue and when we have had time to fix the problem, so that we do not keep asking users to report the same issues over and over again.

What I was thinking was that we might detect at creation time that a mutation is a

[2021-04-02 12:48] Mobrockers commented on #1487
Closing in favor of #137

[2021-04-02 12:48] #1487 closed

[2021-04-02 14:00] #1470 closed

[2021-04-02 14:23] dupdob commented on #1400
@Mobrockers : thanks for the clarification.
I definitely think we can add a tagging logic so that the warning is not produced on roll back (i.e. do not report if the method contains the 'do not report' tag).
I sill not convinced it is needed because I see little difference between 'tagging' and 'skipping', but this is easy to implement and see if the future proves me wrong 😉.

[2021-04-02 14:29] Mobrockers commented on #1400
The difference is that we that if we tag and we made a mistake or could not oversee how many different constructs would be affected (ie not actually a faulty mutation) then there won't be a compile error and the mutation will still be applied and tested. If we skip and we made a mistake, the mutation will not be placed in the first place which means missing mutations.

I do doubt myself if this si

[2021-04-02 14:54] #1493 closed

[2021-04-02 21:50] DaveSenn commented on #1497
Hi @Mobrockers

Thank you for your answer. I see your point and I partially agree.
But I think there are different scenarios. There are exception messages which are important because they are: visible to a user, the only information available to a dev to understand a bug, are being thrown in a library used by other devs… but there are also some exceptions for which the error message is not importa

[2021-04-02 22:00] DaveSenn commented on #1496
Hi Mobrockers

Thank you for your answer.
I am not sure if I misunderstand the documentation but as I understand it is not possible to make sure the return value of ` IsInfoEnabled` does not get changed.
-	_logger is of type ILogger defined in another (3rd party) assembly.
-	IsInfoEnabled is property and I would need to make sure the value returned by the getter will never be changed
-	I would lik

[2021-04-03 18:43] Mobrockers commented on #1496
I'm not 100 percent sure but I think you can put the ignore coverage attribute on the smallest scope near the mutation (possibly even inside the if) to ignore just that smallest scope.

[2021-04-03 21:35] DaveSenn commented on #1496
The smallest scope I could add the attribute to would be the method.
Trying to add the attribute to the if will result in `CS7014 C# Attributes are not valid in this context.`

[code]

[2021-04-03 22:01] Mobrockers commented on #1496
I see, that is unfortunate. Then currently we have no good way to ignore this specific mutation.

[2021-04-07 09:38] FrankvdStam opened #1501 "Bug? in Mono.Cecil causes confusing warnings/errors in CLI runner"
**Describe the bug**
When running on a .NET framework project, I'm getting a confusing warning and the same exception is raised 3 times. After this, it properly runs the tests with the mutations.

**Logs**
[16:39:25 INF] Identifying project to mutate.
[16:39:27 INF] The project [path to class library I want mutated] will be mutated.
[16:39:29 INF] Analysis complete.
[16:39:29 INF] Building test pr

[2021-04-09 07:54] pscheicher opened #1504 "Test-Run fails with "Internal error due to compile error" on generated code"
The generated code for a dto by an OpenApi-generator ("csharp-netcore") contains the following method:

[code]

This results in the following message for every dto in the project when running stryker.net:
[code]
Stopping with
[code]

[2021-04-09 07:59] psfinaki commented on #1504
#1413 - related?

[2021-04-09 08:37] dupdob commented on #1504
I don't think this is related to generated code. There is two issues here:
1) Stryker injects a `return default(type)` or `yield return default(type)` at the end of methods. It should have inject a `yield return` here. The decision is based on the (pre)existence of a `yield return` in the code. We did not think about having only `yield break`.
2) The rollback mechanism should have removed the inje

[2021-04-11 19:10] dogac00 opened #1505 "String Mutation Should Be Applied to Constant Fields"
**Describe the bug**
I don't know if this behavior is a bug or not. String mutation applies when a string literal is used within a method. But it doesn't apply when a constant is used instead of string literal. Knowing `const` fields being a compile-time constant and replaced with the string literal in the compilation, we should apply string mutation to constant fields in the methods too.

Here's

[2021-04-12 15:17] dupdob commented on #1505
Hi @dogac00,
this is not really a bug, more like a limitation of what can be achieved with the overall architecture of Stryker, let me explain:

- Stryker generates a single mutated assembly that contain all mutations
- The active mutant is then controlled at run time.

Full support for build time mutations, such as mutating `const` values, requires building multiple versions of the assembly, whic

[2021-04-13 10:10] cmenzi opened #1506 "Fatal error on partial sealed generated class "enumeration type""
**Describe the bug**
When executing stryker it tries to mutate a partial class where one part is generated through T4 template. It tries it several times and finally fails, with the message I should report the bug 😃

**Logs**
[log-20210413.txt](https://github.com/stryker-mutator/stryker-net/files/6302914/log-20210413.txt)
[VsTest-log.host.21-04-13_12-07-32_06992_9.txt](https://github.com/stryker-m

[2021-04-14 15:55] dupdob commented on #1504
opened a PR which contains (only) fixes for those 2 problem

[2021-04-15 10:24] dupdob commented on #1506
Hi any chance we could the could access the source project? or maybe identify a reproducible scenario?

First, no mutator tries to change a base class on purpose, so it looks that Stryker parser was somehow fooled by some code construction it does not handle properly, so having the source code could help.

*Partial declarations of 'xxx' must not specify different base classes* is a worst case for

[2021-04-15 11:13] rouke-broersma commented on #1504
The fix for this issue is being released shortly. Could you let us know if the fix works for your case?

[2021-04-15 11:13] #1504 closed

[2021-04-15 19:41] dupdob commented on #1476
## Update
1. Performance: memory usage as dropped significantly by reusing VsTest raw data as much as possible. It will impact performance for large projects (large as in _tests_ * _mutations_)
1. Implemented proper support for test cases with multiple results. Current design could lead to false positive (i.e. undue survivor) but only in rare situations so it should not have visible impact.
1. Not

[2021-04-15 21:55] cmenzi commented on #1506
I will try to reproduce it and push the code to my github repo. I cannot share the whole code in public.

[2021-04-16 05:24] cmenzi commented on #1506
@dupdob

I was able to seperate the "malicious" code :-)

https://github.com/cmenzi/stryker-repro

[2021-04-16 05:44] dupdob commented on #1506
that's awesome. thank. I'll try to have a stab at it today

[2021-04-16 06:02] dupdob commented on #1506
Thanks. I can reproduce. I must stay that I am stumped at this stage, as I have not the faintest clue at what is the cause for this compilation error. I mean, mutated source code looks ok....

[2021-04-16 06:05] dupdob commented on #1506
My best guess at this stage is that this is a red herring. The actual problem is that Stryker may not actually support TT files, due to compilation happening in memory. I don't have time now for further debugging. I'll update when I have time, hopefully later today

[2021-04-16 07:37] rouke-broersma commented on #1506
T4 templating sounds like some visual studio magic that uses a **Custom Tool** called **TextTemplatingFilePreprocessor**. Since this is a part of visual studio, and stryker does not (cannot) use visual studio during the build process, this custom tool is not executed and the code is not generated. As @dupdob guesses it seems like the generated part of the partial class simply does not exist.

[Thi

[2021-04-16 07:39] rouke-broersma commented on #1476
Nice findings! (Or annoying findings 😂)

[2021-04-16 08:42] cmenzi commented on #1506
No, we usually generate them upfront and also check the generated code into the repo in order to track changes. So, it's not invoked as part of the build.

Just for my understanding:
- Do you "copy" the project and source to somewhere and execute a build with the mutations?
- And as this CustomTool (T4) is not executed, there are no generated files

This seems to be the latest documentation about

[2021-04-16 08:51] rouke-broersma commented on #1506
We copy the code from the filesystem into memory, and we perform the mutating and compilation in-memory. We do this for a couple reasons, mostly notably it's very very fast and also we get very specific feedback on compilation errors so we can remove bad mutations easily.

[2021-04-16 08:53] cmenzi commented on #1506
But the initial generated files also lying on the filesystem in this case.

[2021-04-16 09:03] rouke-broersma commented on #1506
Mhm yes, they should be picked up if they are already on the filesystem..

[code]

They are detected 🤔

[2021-04-16 10:06] cmenzi commented on #1506
I've figured it out! https://github.com/cmenzi/stryker-repro/compare/fix/partial-class

There was even a little sign to it on latest version of stryker:

_**Partial declarations of 'SupportedTypes' must not specify different base classes**_.

I've removed the derived class from the generated file and it worked. So, the message should be called:

Partial declarations of 'SupportedTypes' must not sp

[2021-04-16 10:21] cmenzi commented on #1506
My guess is that each file is treated individually, so they get mutated differently and that's why they don't compile anymore.

[2021-04-16 11:25] rouke-broersma commented on #1506
That should not be happening because of the auto-generated annotations. We detect those and skip mutating on those files.

[2021-04-16 16:15] dupdob commented on #1506
let me share some early findings to guide your guessing:
- the generated file is **not** mutated
- the generated file is **included** in the build
- mutated source code shows absolutely no sign of any offending mutation that would result in such an error
I'll keep you posted

[2021-04-16 16:30] bcollamore opened #1511 "System.InvalidOperationException: Expected a block containing a conditional expression"
**Describe the bug**
Stryker fails

**Logs**
See attached

**Expected behavior**
Stryker succeeds

**Desktop (please complete the following information):**
 - OS: Windows
 - Type of project: Full Framework
 - Framework Version: net48
 - Stryker Version: 0.22.2

Here is the original method:
		private List<string> ExtractXmlMessages(string message, out string partialMessage)
		{
			List<string> xmlM

[2021-04-16 16:32] bcollamore commented on #1511
Also of note: previous runs used version 0.22.1, and had the "this should not happen" message, but it went unnoticed.

[2021-04-16 16:36] dupdob commented on #1506
This is **not** a mutation issue, but a **build** issue. I still face this problem when disabling mutation.

[2021-04-16 16:43] bcollamore opened #1512 "System.InvalidOperationException: No return at the end of"
**Describe the bug**
Stryker failed

**Logs**
Logs attached.  Notes below.

**Expected behavior**
Stryker succeeds

**Desktop (please complete the following information):**
 - OS: Linux
 - Type of project: .NET Standard
 - Framework Version: Standard 1.3
 - Stryker Version: 0.22.2

**Additional context**

Version 0.21.1 reported "this should not happen" but we missed it in the CI pipeline.

[stryk

[2021-04-16 16:51] rouke-broersma commented on #1511
Is that a stryker github action I see there? 😍😍😍

We fixed an issue with instrumentation removing in 0.22.2, looks like it might have had some unintended side effects @dupdob

I suggest you revert back to 0.22.1 for now if the issue fixed with 0.22.2 does not affect you.

[2021-04-16 17:32] dupdob commented on #1506
New findings: this is related to **partial** classes.
I still have this issue without TT. My guess is that some specific care must be taken to compile partial classes with Roslyn

[2021-04-16 17:50] dupdob commented on #1506
There is an issue on Roslyn about a somewhat similar issue
https://github.com/dotnet/roslyn/issues/45960

[2021-04-16 18:10] cmenzi commented on #1506
@dupdob Yes, the roslyn issue results in a similar error. But it doesn't seems it have much attention.

At least we can guide people with partial classes to only to specify the derived classes or interfaces only once, like I did on my branch.

[2021-04-16 22:19] cmenzi opened #1513 "Last folder with version is not created"
**Describe the bug**

When using AzureFileStorage for baseline the folder with the version number gets not created on the Azure storage. It initially knows where to put the file: `Creating directories for file https://xxx.file.core.windows.net/yyy/StrykerOutput/Baselines/dashboard-compare/2.0.0/stryker-report.json`, but when trying to allocating storage then the folder `2.0.0` is not created, yet.

[2021-04-16 23:05] rouke-broersma commented on #1513
@Stijn-Rutten someone is using this feature 😃😃 go fix!

[2021-04-17 07:32] dupdob commented on #1511
note that issue #1512 is linked to the same problem.

It looks like a multi factor problem here, the most obvious one being that Stryker removes all trailing returns thinking they are helpers.

Here is a status: Stryker injects helpers in order to reduce the risk of mutations leading to compilation error, hence increase the total number of mutants. Those helpers do not change the behavior of the c

[2021-04-17 12:38] rouke-broersma commented on #1513
The fix should have been released!

[2021-04-17 12:53] cmenzi commented on #1513
@rouke-broersma Yes, it somehow defaulted me `v1.0`. Will look at this next time. Will now test it in my solution.

Thank you very much for fast releasing! This is how it makes fun!

[2021-04-17 14:38] #1513 closed

[2021-04-17 18:38] sbergen opened #1515 "Restore original dlls after run"
**Is your feature request related to a problem? Please describe.**
When running tests in Rider, it will not recompile the main project dlls if there are no changes in the source files. When running Stryker, it will modify the dlls in a way that breaks test runs in Rider. This forces me to recompile the project manually in Rider after running Stryker.

**Describe the solution you'd like**
It would

[2021-04-17 18:52] rouke-broersma commented on #1515
Stryker always performs an initial clean build of the project to make sure the original source is buildable (and any build issues must thus be caused by stryker) so the original dll will always be available after the initial build stage. We should cache the dll just before compilation because just before compilation we have all information we might have needed to extract from the original dll so i

[2021-04-17 21:09] rouke-broersma opened #1517 "Unit test failing on v1.0 branch"
**Describe the bug**
Unit test MutantOrchestratorTests.ShouldNotAddReturnDefaultToEnumerationMethods is failing due to what seem to be whitespace issues.

**Logs**
[code]

**Additional context**
https://dev.azure.com/stryker-mutator/Stryker/_build/results?buildId=7118&view=results

[2021-04-18 20:19] dupdob commented on #1506
For the short term, this is probably the best course of action, indeed.
That being said, I am not sure the roslyn issue is an actual issue: I am not familiar enough on the design of the updated nullable/non nullable logic, but it is likely it relies on specific types, hence difference in types with or without nullable logic.

I have made some attempts to reproduce the issue with partial classes in

[2021-04-18 20:28] dupdob commented on #1511
Update on my first analysis: it was only partially right.
What I got right: the annotation signaling a helper were not removed. I have a fix for that, but I want first to try and improve unit testing to prevent regresion.
What I got wrong: this was not linked to new compilation attempts (no trace in log of this); so this is more likely there were several errors signaled for this method, resulting

[2021-04-19 04:56] cmenzi opened #1525 "Subfolders are not created on AzureStorageFile"
**Describe the bug**
When specifying a subfolder in the azure-storage-url (https://storageaccountname.file.core.windows.net/azurefilesharename/my-project-key-01), then it results in an error creating the directories on storage.

I'm not sure if it a bug or a feature. Let me describe the use case we looking for.

We have several projects, which should upload their mutation test reports. As they are

[2021-04-19 06:27] rouke-broersma commented on #1525
I suppose the docs are unclear. The subfolder must already exist, Stryker does not create it. Stryker only creates its own folders within the subfolder.

[2021-04-19 08:43] cmenzi commented on #1525
Ok, then the question is, if this have to stay like this? This is very cumbersome to create a Azure File Share upfront per project instead of creating just one.

We may can add the `IStrykerOptions.ProjectName` to the uri, so that it either results in:

Possible Azure File Storage URI:
- https://storageaccountname.file.core.windows.net/azurefilesharename (Must exists, as is)
- https://storageaccou

[2021-04-19 10:12] rouke-broersma commented on #1525
You won't have to create a whole new fileshare sorry it that wasn't clear. Only the subfolder needs to be created inside the fileshare.

I am fine with allowing the projectname to be used in the fileshare path. I think option a fits best as it would be comparable to the stryker dashboard reporter and baseline provider. I would say if the projectname does not exist use StrykerOutput, if it does exi

[2021-04-19 10:19] cmenzi commented on #1525
Ok, I will submit a PR.

[2021-04-19 18:21] sbergen commented on #1517
In addition to the whitespace issue on the first diff (line 11), there's also a problem with what the test is testing:
[code]

at the end.

[2021-04-19 19:23] sbergen commented on #1517
I was not quite on point with my previous comment, the second change is due to #1472 not being taken into account. #1507 seems to be the cause for the whitespace breakage (reverting it fixed the test).

But wether or not this means that the test data should just be updated, or if code changes are required is beyond me. Hope this helps :)

[2021-04-19 19:25] rouke-broersma commented on #1517
This should not have happened... No clue why the pipeline didn't catch this before merge.

[2021-04-19 19:37] sbergen commented on #1517
To clarify, v1.0 broke at 17bf601, when master was merged in. So I'm saying merging #1507 into v1.0 was the issue. I'm not sure of the details of how your pipelines are set up, but one way to prevent this is always running tests against a merged version of the target and base branch, and always merging branches through PRs (including "special" branches like v1.0 and master).

[2021-04-19 19:43] sbergen commented on #1517
If making pipelines work with the merged state is out of the scope, you can also do
[code]
and open a PR out of that (I didn't find a PR like that, sorry if I missed it).

[2021-04-19 20:29] rouke-broersma commented on #1517
Mhm I think we forgot to set the merged state requirement on v1 when we made that our main branch. Fixed that now thank you! This was already set-up on master..

[2021-04-20 07:52] marcin-golebiowski opened #1527 "Cannot inject mutation '{}' in '_collection' because we cannot find the original code."
**Describe the bug**

Stryker.NET has a problem with mutating following code:

[code]

Message:
    System.InvalidOperationException : Cannot inject mutation '{}' in '_collection' because we cannot find the original code.
  Stack Trace:
    RoslynHelper.InjectMutation[T](T original, Mutation mutation) line 52
    <>c__DisplayClass1_0.<InjectMutations>b__0(Mutation toConvert) line 37
    <>c__Displ

[2021-04-20 08:42] dupdob commented on #1517
Yes, that is the source of the problem. #1507 is a fix for master, and #1472 is only present in V1.
The test code needs to be amended to match the actual value (in V1 branch, not master)

[2021-04-20 11:36] dupdob commented on #1527
I can reproduce the issue on master too. I am analyzing this.

[2021-04-20 19:00] dupdob commented on #1527
This is again an issue of mutation 'spillage', i.e Stryker generates an array initializer mutation (that need to be controlled by an `If` statement) that ends up in the next method/accessor. And then it fails since the mutation can no longer be injected.

[2021-04-21 11:56] dupdob commented on #1511
Update report:
0) fix is implemented and looking good in terms of design
1) unit testing has been improved (try to remove helpers twice)
2) I have reproduced the problem, in a simpler context
3) I no longer think there is a (new) larger problem. It turns out this issue occurs when safe mode will be triggered anyway
4) now the interesting part is what triggered the safe mode here!

The compilation

[2021-04-21 11:58] dupdob commented on #1512
Update report:
0) fix is implemented and looking good in terms of design
1) unit testing has been improved (try to remove helpers twice)
2) I have reproduced the problem, in a simpler context
3) I no longer think there is a (new) larger problem. It turns out this issue occurs when safe mode will be triggered anyway
4) now the interesting part is what triggered the safe mode here!

The compilation

[2021-04-21 19:32] rouke-broersma commented on #1077
The option will be gone after #1273 so we can also remove the implementations.

[2021-04-23 09:01] D9bolic commented on #1387
@rouke-broersma  Hi! Could you provide any updates on this issue? We have really fallen in love with stryker in our project pipeline so want to return it on board.

[2021-04-23 15:03] #1527 closed

[2021-04-23 15:04] #1512 closed

[2021-04-23 15:04] #1511 closed

[2021-04-23 15:24] rouke-broersma commented on #1517
Fixed

[2021-04-23 15:24] #1517 closed

[2021-04-23 16:05] #1515 closed

[2021-04-24 12:55] marcin-golebiowski opened #1533 "Problems with mutation of LINQ code - cannot implicitly convert type 'double[]' to 'int[]'"
**Describe the bug**
Stryker.NET is not able to mutate a method with some LINQ. All mutations are rollbacked.

[code]

Following mutant is created:

[code]
which fails compilation because double[] cannot be converted to int[].

Unit test with problem:

[code]

**Expected behavior**
A mutant can be compiled and has some mutation.

**Desktop (please complete the following information):**
 - OS: Wind

[2021-04-24 13:31] dupdob commented on #1533
Thank you for the report and thank you for providing a way to reproduce this.
Can you please clarify something for us: here you have a single mutation that will be rollbacked because it triggers compilation error.
This is normal and an expected behavior: Stryker generates mutation that may lead to compilation errors, relying on the rollback logic to catch them up later.

So if your issue is having

[2021-04-24 14:18] marcin-golebiowski commented on #1533
I've reported this issue due to the error message when I was running Stryker.NET:

"Safe Mode! Stryker will try to continue by rolling back all mutations in method. This should not happen, please report this as an issue on github with the previous error message."

The better example will be following code:

[code]
And corresponding unit test that should pass (I hope I got this right):

[code]

[2021-04-25 06:17] MelbourneDeveloper opened #1534 "Stryker Does Not Honour Static Analysis"
**Describe the bug**
Static analysis disallows the mutation, but Stryker ignores this.

**Expected behavior**
Stryker should not add mutations that don't compile due to static analysis via Roslyn code rules

**Desktop (please complete the following information):**
 - OS: Windows
 - Type of project .NET Core
 - Framework Version 5
 - Stryker Version  0.22.3 (beta)

**Additional context**

Here is t

[2021-04-25 09:55] rouke-broersma commented on #1534
To implement analysers we need to figure out how msbuild passes them to roslyn and recreate this. Seeing as analysers are simple csharp classes or dlls I think we can just pass them straight into the compilation either as syntax yree or as assembly reference. Hopefully the analysers are exposed as msbuild properties in which case buildalyzer can probably pass them to us.

[2021-04-25 21:51] MelbourneDeveloper commented on #1534
@rouke-broersma it seems odd that you would need to do anything at all. If you depend on Roslyn for compilation, it should fail when code rules are violated. The important thing is the analysers Nuget package.

[2021-04-25 21:56] MelbourneDeveloper commented on #1534
Philosophical point:

What is the point of mutation testing?

It's to eliminate the possibility of  potential code entering the system that would destroy the fundamental correctness of the system.

Static analysis has the same end goal but achieves it through a different means. It reduces possible code paths where it is clear that the system will behave incorrectly.

For example, static analysis c

[2021-04-26 07:13] rouke-broersma commented on #1534
I agree that so long as the rule is active and causes compilation errors that mutation testing does not need to point out the possible mutations as well.

[2021-04-26 07:31] rouke-broersma commented on #1534
It's not so much that we depend on Roslyn, but we use the Roslyn SDK directly from code. This means we replace MSBuild as project manager and that also means that any transformations MSBuild performs before handoff to Roslyn need to be performed in stryker as well.
Since MSBuild is proprietary and MSBuild internal logic is mostly trial-by-error and information in old thick books that my generation

[2021-04-27 06:57] dupdob commented on #1400
I am still working and coverage and testing redesign (as well as bug fixing along the way) so not started yet on the tagging logic (note that my idea is to simply add a tagging logic to prevent the warning to be displayed, nothing about when to tag).
I reopen the discussion due to issue #1533; it clearly shows we need to improve on the reporting process for those.
I was thinking about either addin

[2021-04-27 10:33] rouke-broersma commented on #1400
Yes having a new issue template specifically for these kinds of bugs sounds great so we can more easily track them with tags and such.

[2021-04-27 20:23] rouke-broersma opened #1540 "Add readme to nuget package"
**Is your feature request related to a problem? Please describe.**
https://twitter.com/nuget/status/1385344580128854034

We can add the readme to the nuget package. If we do this quickly we might get features on the nuget.org blog. Eyeballs!

[2021-04-28 06:22] corentinaltepe opened #1541 "Add support for dotnet test --filter option"
Does stryker-net currently support passing the command line argument `--filter` to `dotnet test` as [documented here](https://docs.microsoft.com/en-us/dotnet/core/testing/selective-unit-tests?pivots=nunit)?

If so, could we add documentation about its usage, as I couldn't find any? (I'd be glad to contribute).

If not, could we add support for it?

### Use Case
I currently have a single NUnit test

[2021-04-28 06:24] corentinaltepe commented on #1541
I realize this request is a duplicate of #420, sorry about this.
Closing this ticket in favor of the original one.

[2021-04-28 06:24] #1541 closed

[2021-04-28 06:26] corentinaltepe commented on #420
I would be very interested in implementing such feature. I'm unfamiliar with the code base. Would anyone have pointers to how to get started, which classes the option is likely to be added, what implementation you think would work? Thanks.

[2021-04-28 07:41] rouke-broersma commented on #420
We execute the tests using vstest here: https://github.com/stryker-mutator/stryker-net/blob/v1.0/src/Stryker.Core/Stryker.Core/TestRunners/VsTest/VsTestRunner.cs

This class also does test discovery. It's been a while since I touched this but I think the flow would generally be as follows:

1. user passes filter to stryker as an option according to new standard: https://github.com/stryker-mutator/

[2021-04-28 07:52] dupdob commented on #420
hello
@corentinaltepe : for information, I am a bout to open a PR with a redesign (and simplification) of tests and coverage management components. I still have some use case tests to add to my work, but I can open the PR in draft and then we can discuss how to implement this. Do you have access to Stryker's Slack?

[2021-04-28 08:12] dupdob commented on #420
See PR: #1542

[2021-04-28 10:24] dupdob commented on #1534
By the way, looking into this issue, I just ran into this: MSBuildWorkspace
https://gist.github.com/DustinCampbell/32cd69d04ea1c08a16ae5c4cd21dd3a3

The text hints it should be easy to achieve (but still no clue on how), but at works, `MSBuildWorkSpace` could be an interesting options to increase Stryker compatibility with project with custom build steps.

[2021-04-28 10:53] rouke-broersma commented on #1534
Last time we looked into msbuild workspace it did not work on dotnet core which is why we don't use it. Perhaps these days it works on core.

[2021-04-28 15:05] dupdob commented on #1534
Just did a quick repro: it turns out that Buildalyzer lists analyzers separately, i.e. they are not in the 'AssemblyReferences' list.

[2021-04-28 15:34] rouke-broersma commented on #1534
I expected as much

[2021-04-30 09:00] richardwerkman opened #1545 "Default source branch master/main"
**Is your feature request related to a problem? Please describe.**
Currently the default branch for diff/since is `master`. But `main` is also standard now.

**Describe the solution you'd like**
Stryker should check if master is available as branch. If not it should choose `main` as default branch

**Describe alternatives you've considered**
We can also just switch the default to `main` but this w

[2021-04-30 20:24] leonardosimoura opened #1546 "Options to include or exclude LinqExpressions on LinqMutator"
**Is your feature request related to a problem? Please describe.**
Options to include or exclude LinqExpressions on LinqMutator. Ex. Not run FirstOrDefault mutations

**Describe the solution you'd like**
A additional parameter to configure

**Describe alternatives you've considered**
I tried the mutate example !MyFolder/MyService.cs{10..100} but it ignore logic inside some linq methods ( example (

[2021-04-30 22:21] MelbourneDeveloper commented on #1534
Here is another scenario:

![image](https://user-images.githubusercontent.com/16697547/116759640-2899a780-aa56-11eb-8ce5-9878b5b13465.png)

FirstOrDefault is not valid because it could return null and nullable reference types are turned on.

![image](https://user-images.githubusercontent.com/16697547/116759687-47983980-aa56-11eb-83ed-125c4c183193.png)

[2021-04-30 22:22] MelbourneDeveloper commented on #1534
The whole nullable reference types ecosystem depends on static analysis to work. If you take away static analysis, you are left with buggy code.

[2021-04-30 23:05] MelbourneDeveloper opened #1548 "Mutant Survives Even When Tests Fail"
**Describe the bug**
Stryker is saying that a mutant is surviving but when I use the mutant locally, the test fails

**Expected behavior**
Mutant does not survive

**Desktop (please complete the following information):**
 - OS: Windows
 - Framework Version: 5
 - Stryker Version : 22.3 (Beta)

**Additional context**
Stryker picks up this mutation in complete mode:

![image](https://user-images.gith

[2021-05-01 11:58] rouke-broersma commented on #1534
Nullable reference types are not roslyn analyzer rules, they're their own compiler feature. They also don't generate errors by default. We already enable Nullable reference types during the compilation but it could be we need to extract your warnings as errors rules to be able to use them during mutation testing.

[2021-05-01 13:31] dupdob commented on #1548
Thanks for this report. This is a problem linked to `static` values and coverage. Code coverage cannot identify relevant tests for those, that's why Stryker marks related mutants as to be tested against all tests.
We forgot to cover for static properties' default initializer.

[2021-05-01 16:17] corentinaltepe commented on #420
Hello. Thank you both for your guidance.

@dupdob: Thank you. I'll base my work off #1542 if I manage to offer any solution. Sorry, I don't use Slack but I'll make sure to post updated/questions I might have here or on #1542.

[2021-05-01 19:54] rouke-broersma commented on #420
That's no problem!

[2021-05-01 20:37] dupdob commented on #1548
updated my PR (#1539) to implement a fix for this

[2021-05-01 21:47] rouke-broersma opened #1549 "Support dotnet6 linq updates"
**Is your feature request related to a problem? Please describe.**
Linq will get many upgrades in dotnet6. Some of these might causes problems for Stryker. We need to be prepared when dotnet6 hits GA, possibly even before because we have noticed that people interested in mutation testing also like to install preview versions of dotnet...

**Additional context**
https://www.infoq.com/news/2021/04/N

[2021-05-01 23:03] MelbourneDeveloper commented on #1548
@dupdob awesome. I think that Urls will be able to score 100% on Complete after this fix.

[2021-05-02 08:57] dupdob commented on #1548
A couple of remarks:
1. As a workaround, you can turn `Empty` into a static [readonly] field, it will work as expected
1. In general, static values can lead to false positive (i.e. undue survivors) as they may introduce coupling across tests. Cache typically can be problematic.

[2021-05-02 09:11] MelbourneDeveloper commented on #1548
All the Empty properties are read only static variables from what I can tell

[2021-05-03 07:32] pscheicher commented on #1504
This fix solves my problem.
Thank you

[2021-05-03 10:06] Si1ver commented on #1387
Hello.

I have same issue in slightly different project setup. I decided to share my experience and some debugging I've done.

I have solution file in root directory and C# projects in folders
[code]

I was using command `dotnet stryker --test-projects "['./Project.Tests/Project.Tests.csproj']"` to run Stryker from the root directory of the project.

The only Stryker version that works for me is `

[2021-05-07 22:20] rouke-broersma opened #1556 "Enable reproducible builds"
Yeah, it's basically as simple as adding this package reference:
[code]

_Originally posted by @0xced in https://github.com/stryker-mutator/stryker-net/issues/1532#issuecomment-834815548_

[2021-05-07 22:20] #1548 closed

[2021-05-07 22:21] #1533 closed

[2021-05-07 22:22] #1525 closed

[2021-05-07 22:34] MelbourneDeveloper commented on #1548
@rouke-broersma did this get fixed?

[2021-05-07 22:49] rouke-broersma commented on #1548
Yes, however the fix has not yet been released. I'll try to do that soon (but not tonight).

[2021-05-07 23:44] MelbourneDeveloper commented on #1548
Awesome! Will keep an eye out for the release

[2021-05-08 08:19] 0xced commented on #1556
Even better, use [DotNet.ReproducibleBuilds](https://www.nuget.org/packages/DotNet.ReproducibleBuilds/)
[code]

[2021-05-13 08:39] GrahamTheCoder commented on #1534
It does work for both, but iirc you can't build a framework assembly from a core process. I ended up with two exes, the core one delegates to the framework one when needed. Then there's a bit of assembly binding faff too. This might be a good starter:
https://github.com/icsharpcode/CodeConverter/blob/1817d3a504dbd04c0bb63b225d1aa3dbb1c2bb96/CommandLine/CodeConv.Shared/MSBuildWorkspaceConverter.cs#

[2021-05-14 08:17] rouke-broersma opened #1558 "Generate filled stryker config file with cli command"
**Is your feature request related to a problem? Please describe.**
I would be nice if stryker can generate a complete stryker config file with all defaults filled in.

**Describe the solution you'd like**
`dotnet stryker init` generates a config file with all defaults. No stryker run is started.
If a stryker config already exists, it is overwritten.

[2021-05-14 08:22] rouke-broersma opened #1559 "Option to update stryker config file with current run settings"
**Is your feature request related to a problem? Please describe.**
It would be nice to be able to save and update a stryker config file with current run settings

**Describe the solution you'd like**
`dotnet stryker --save-config` updates the stryker config file with any new options. Uses current run settings including command line options as values.

**Additional context**
#1558

[2021-05-14 08:29] rouke-broersma opened #1560 "Commands for baseline and since (git diff) features"
**Is your feature request related to a problem? Please describe.**
Baseline and since (git diff) are currently commandline options. It might be nice to make these options specific commands (so specific flavors of stryker runs).

**Describe the solution you'd like**
Run stryker in since mode:
`dotnet stryker since --target "main" --mutation-level "Basic"`

Run stryker in baseline mode:
`dotnet stry

[2021-05-14 08:36] TiagoOliveiraMarques opened #1561 "Support for mutating calls to `System.Linq.Expressions.Expression`"
**Is your feature request related to a problem? Please describe.**

I have this use case in which a string containing a logical expression is parsed and a lambda expression created and compiled. This enables running arbitrary DSLs with little overhead (comparing to modeling the whole syntax tree in handcrafted objects).

For instance: The string `1 = 1` would be created using

[code]

So I want to

[2021-05-14 09:13] richardwerkman commented on #1561
For most projects this would not do much as most projects won't use Expression. So I'd say we would not want this is Stryker.

But I like your idea about custom mutators. Would you be able to create a seperate issue for that? Than we can discuss how that would work there.

In general we could just look at a specific assembly and look for classes that implement the `IMutator` interface. The difficu

[2021-05-14 10:45] TiagoOliveiraMarques opened #1562 "Support for custom mutators"
**Is your feature request related to a problem? Please describe.**

Follow up of https://github.com/stryker-mutator/stryker-net/issues/1561

There may be scenarios where the implemented mutators do not fit the application needs, nor the maintenance burden in the library justifies adding those mutators to core library. For that it would be nice to have some sort of plugin system: new mutators can b

[2021-05-14 10:45] TiagoOliveiraMarques commented on #1561
Opened a new issue for custom mutators feature. Closing this issue.

[2021-05-14 10:45] #1561 closed

[2021-05-14 11:04] richardwerkman commented on #1562
Out of curiosity, would you want to create the mutator and make it open source so others can use it? Or would you keep the implementation for yourself. If it would be made open source we can link to it in our docs.

Another thought: we might want to put the interface (maybe together with all our interfaces) in a seperate library. Otherwise the plugin would need a reference to the Stryker.Core pack

[2021-05-14 11:07] rouke-broersma opened #1563 "Implement new docusaurus autogenerated sidebar"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

See: https://github.com/stryker-mutator/stryker-mutator.github.io/pull/284 and https://docusaurus.io/docs/sidebar#sidebar-item-autogenerated

[2021-05-14 11:08] richardwerkman commented on #1562
As for the implementation. I suggest stryker looks in a certain folder (C:/Stryker/Plugins) and checks all assembly files (.dll) with reflection for mutator classes and invokes them. We could also add a option to change the directory to look for plugins. This would be needed for build servers.

Thoughts?

[2021-05-14 11:11] rouke-broersma commented on #1562
I suggest a config option with custom mutator names (to add to default mutators) and searching in the project output folders (bin/debug) for dll's matching a predefined format. This is how vstest for example also works (all vstest adapters must end in .testadapter.dll).

[2021-05-14 11:13] TiagoOliveiraMarques commented on #1562
I'm willing to make it open source as a contrib package but others might not so maybe we should not tie the general design to this fact.

[2021-05-14 12:50] #1501 closed

[2021-05-14 13:18] rouke-broersma opened #1565 "Report on tests in stryker report (json/html)"
Update to the latest mutation testing elements
Gather test run information and provide this data to the report

https://github.com/stryker-mutator/mutation-testing-elements/pull/893

**Tasks**

- [ ] Disable bail from commandline #1784
- [x] Create json report components to hold test data #1802
- [x] Create project components to hold test data #1820
- [ ] Fill test project components with data #18

[2021-05-14 14:25] richardwerkman commented on #1562
@rouke-broersma So one can install a custom mutator by adding it as a nuget reference in the test project? How would that work with multi project runs and solution runs?

But I like the idea to add them using nuget. That makes keeping custom mutators up-to-date super easy.

[2021-05-14 14:33] rouke-broersma commented on #1562
Only needs to be available in one of the targeted projects to work because we will scan all output folders. Can be available in all if the user wants it 🤷

[2021-05-14 15:35] rouke-broersma commented on #1481
Close in favor of #1565

[2021-05-14 15:35] #1481 closed

[2021-05-14 21:43] dupdob commented on #1562
Having add-in mutations could help corner cases, but could also be interesting (libraries could distribute their specific mutators).
Bur, in order to avoid having to deal with the dependencies, I would suggest either:
- reduce or remove the IMutator depdencies with the rest of NFluent
- publishing the needed dependencies for mutators in a dedicated, very stable assembly.

Currently, the dependenci

[2021-05-15 04:17] RaimondB commented on #1387
I am seeing the same issue. We have a quite large solution with around 50 projects, half of them being test projects. What I would like to do, is to run stryker using the Solution file, and simply do a run with mutations for each of the test projects.

We are using .NET 5.

As I understand, this shoudl be possible using the above described patterns? I'll try the above fixes and see if this will wo

[2021-05-15 15:49] rouke-broersma commented on #1387
Hi @RaimondB

Solution runs are an experimental feature. We have found several problems that can cause inconsistent results. Use at your own caution until these problems are fixed.

[2021-05-17 23:10] cfindlayvcs opened #1568 "Can't Install"
When I try to install, I get this:

![image](https://user-images.githubusercontent.com/73087164/118567299-e5129d80-b7b8-11eb-89fa-90a2e400c242.png)

It also doesn't tell me what the current version is so I can't specify the version

[2021-05-18 06:34] #1568 closed

[2021-05-21 13:36] dupdob opened #1570 "Offer source level fine grained control of mutations and mutators"
**Is your feature request related to a problem? Please describe.**
Controlling mutations and mutators within the tested project source code for fine grained control.
Proposed syntax looks like this
[code]

Somer users want to keep their mutation coverage at 100%. But Stryker.Net may generates mutation that cannot be killed due to some external dependencies or (user project) internal design choices

[2021-05-23 14:23] mwo-danskecommodities opened #1571 "Let HTML reporter write to a single file"
Using the html-reporter, it's frustrating to have to open a new file after each mutation test.

It would be nice, if the html-reporter was able to write its report to a single file instead of creating a new folder and file after each mutation test. This way, you could simply keep the same page open i your browser and refresh after each run.

From the top of my head, I'd suggest that the file locat

[2021-05-24 06:30] psfinaki commented on #1571
Just wanted to share an opinion - I actually think it's good that the path is unique every time, I can then compare the reports after some changes.

I mean this probably can be implemented, just it shouldn't be the default and the only behavior :)

[2021-05-24 06:48] mwo-danskecommodities commented on #1571
I agree, this shouldn't be default the behavior. But it would be nice to be able to configure another path.

[2021-05-26 14:43] psfinaki opened #1576 "Stryker doesn't ignore methods if they are not called on an object"
**Describe the bug**
Practically, that means that `Dispose` cannot be ignored, and this is how I discovered the problem.
But then I started to play around with this and it looks like whatever method a class has, it won't be ignored if needed.

That is, in case I have `DoSomething` among ignored methods:
`someObject.DoSomething()` will be ignored
`DoSomething()` won't be ignored

**Expected behavio

[2021-05-27 06:55] richardwerkman commented on #1576
Hmm thats weird. Those statements are both of type `InvocationExpression`. So I'd expect it to work on both. I'll look into this.

[2021-05-27 11:41] richardwerkman commented on #1571
@mwo-danskecommodities If your project is open source you could look into using the stryker dashboard. This uploads your report to a online store and you'll have the latest report available at a url. This kinda does what you suggest but online. And you'll get a cool badge for your readme 😄

And as a response to your suggestion: yeah this should be an option, not default behaviour.

Since this is d

[2021-05-27 19:41] richardwerkman commented on #1576
I found the issue! Should be fixed in our next release 👍

[2021-05-27 22:17] dupdob commented on #1570
I have a working prototype that support in line mutation disabling, both for a scope (i.e from the commented statement up to the last statement in the same block) or for a single line.
Need to add support for individual mutator control

[2021-05-28 07:25] psfinaki commented on #1576
Amazing, thanks!

[2021-05-28 07:36] #1576 closed

[2021-05-28 07:43] rouke-broersma commented on #137
Blocked by #578

[2021-05-28 08:54] dupdob commented on #1570
update: while refactoring the code, I realized I could go further: you can disable mutations for almost **any subpart** of the code. For example:
[code]
works as expected, i.e we will have `*`  ⇒ `/` and `/`  ⇒ `*` mutations, but the `+` part will not be mutated.
As it looks ugly, I added support for multiline comments, so this should work too:
[code]
Alas, multi line comments are attached as a _t

[2021-05-28 09:28] rouke-broersma commented on #1570
I propose we simply disallow multiline comments and inline comments. Only normal comments are allowed and they must be on their own line.

If someone really wants to disable part of a statement or expression mutation they can use the ugly example which works and is imo very clear in showing that something funky is going on there.

[2021-05-28 13:41] richardwerkman opened #1581 "Mutator idea: string.IsNullOrEmpty"
**Is your feature request related to a problem? Please describe.**
When using string.IsNullOrEmpty most of the times only null is tested.

**Describe the solution you'd like**
If we mutate `string.IsNullOrEmpty(x)` into `(x != null)` and `(x != string.Empty)` it's clear both are tested.

[2021-05-29 05:39] HakamFostok opened #1582 "Add more mutants to the UpdateOpeartors"
The [Update Operators](https://stryker-mutator.io/docs/stryker-net/Mutators#update-operators) just reverse the operator in its place, so ++ will be -- in the same way -- will be ++

this is good but should the following mutants be added?

Original              Mutant
variable++  => ++variable
++variable  => variable++
variable--    => --variable
--variable  => variable--

I know it could produce m

[2021-05-29 14:55] dupdob commented on #1582
The main problem is that incrementor/decrementor are used in various contexts, and are often used on their own (in a `for` statement for example).
`for(...;...;i++)` is the same than `for(...;...;++i)`
It could make sense for when the value is also used, as a parameter:
`f(i++);` is not the same than `f(++i);`
or as the right hand expression of an assignment
`var x = i++;` is not the same then `va

[2021-05-30 05:58] HakamFostok commented on #1582
@dupdob Yes I totally agree with you, wish this could be available,
by the way, thank you very much for this great library

[2021-06-01 07:03] dupdob commented on #1570
Now that the PR is open, there are two decisions to take now
1. **Should the comment part be required ?** on the up side, this is a good practice to justify disabling a quality tool, on the down side, we cannot check the quality of the comment, and a default comment is better than a bunch of random characters typed by a fed up coder
2. Should we stick to the proposed js naming of ```next``` instea

[2021-06-01 07:38] sbergen commented on #1570
In addition to your good justifications, I think it would be good to stay consistent with other tools and not *require* a comment (also see similar reasoning below).

There's some related discussion [here](https://github.com/dotnet/csharplang/discussions/1070) about adding this kind of support for `#pragma warning disable` into C# itself. They are also discussing the alternative of using `suppress

[2021-06-01 09:37] psfinaki commented on #1570
OK, you convinced me with not requiring a comment :)

As for _once_ vs _next_, I slightly tilt to _once_, it clearly means "one case", whereas _next_ could refer to some next lines. There is also "ad hoc" expression, but it adds a bit different vibe probably.

[2021-06-01 13:25] psfinaki commented on #1576
That's still not released, right?

[2021-06-01 16:14] rouke-broersma commented on #1576
Not yet. When it's released we will remove the fixed in master label.

[2021-06-08 12:09] psfinaki opened #1586 "Coverage analysis filter overwrites Ignored mutant statuses while it should ignore them"
**Describe the bug**
Let's say I have a project with two identical classes (attached to this ticket).
Initially (_initial commit, hash d242de36_) I have poor test coverage:

`dotnet stryker`
![image](https://user-images.githubusercontent.com/5451366/121179575-31a14400-c860-11eb-9759-64d15d56b1c2.png)

This makes me sad, so I do some refactoring and add a bunch of tests for the first class (_added

[2021-06-11 05:55] psfinaki commented on #1586
Knock-knock :)

[2021-06-11 05:56] rouke-broersma commented on #1586
Hi @psfinaki

2 Mutants were ignored so they are not taken into account for the mutation score calculation. So your score is 4/6 not 4/8. I can see how this is confusing seeing the number 6 (total tested mutants) is not mentioned anywhere.

[2021-06-11 06:32] #1297 closed

[2021-06-11 07:56] psfinaki commented on #1586
Alright, thanks for reaching back. Okay, so I understood the theory correctly :)

[2021-06-11 08:15] richardwerkman opened #1591 "Unable to parse framework version string net5. Please fix the framework version in the csproj."
**Describe the bug**
When running against a net5.0 project you see the error: `Unable to parse framework version string net5. Please fix the framework version in the csproj.`

**Expected behavior**
I expect stryker to parse version 5.0 correctly.

**Additional context**
It seems to be returned wrongly by buildalyzer. It changes `net5.0` to `net5`

[2021-06-11 11:25] psfinaki commented on #1576
Aaaand so when can we expect the release? :)
I thought releases happened after every reasonable merge so just want to clarify this or maybe help with something.

[2021-06-11 11:33] richardwerkman commented on #1576
Usually we wait a few weeks to save up some features/bugs to all release at once. To prevent having releases every week. But at the moment we have two bug fixes on master so it's indeed a good idea to do a release. We will do one today!

[2021-06-11 13:24] psfinaki commented on #1576
Amazing, thanks!

[2021-06-11 19:02] rouke-broersma opened #1593 "Uncaught exception when copy of original source dll was not properly cleaned up"
**Describe the bug**
When something happens in the mutation testrun to cause stryker to quit early the .stryker-unchanged copy of the original source code dll is not removed. Subsequent stryker runs will fail because that file already exists.

**Logs**
[code]

**Additional context**
https://github.com/stryker-mutator/stryker-net/blob/v1.0/src/Stryker.Core/Stryker.Core/MutationTest/CsharpMutationPr

[2021-06-11 19:04] #1591 closed

[2021-06-11 22:10] dupdob commented on #1593
I implemented a fix in one of my two PRs. Can’t remember which one, but I think it is the refactoring one.

[2021-06-12 07:16] #1570 closed

[2021-06-17 17:54] rodri-oliveira-dev opened #1599 "No tests found in projects using MSTest.TestAdapter > 2.2.3"
**Describe the bug**
Erro on execute dotnet stryker, configure in file att

**Logs**
   at Stryker.Core.MutationTest.MutationTestProcess.Test(IEnumerable`1 mutantsToTest) in D:\a\1\s\src\Stryker.Core\Stryker.Core\MutationTest\MutationTestProcess.cs:line 90
   at Stryker.Core.StrykerRunner.RunMutationTest(StrykerOptions options, IEnumerable`1 initialLogMessages) in D:\a\1\s\src\Stryker.Core\Stryker

[2021-06-18 07:59] rouke-broersma commented on #1599
Hi @RodrigoDotNet,

Could you send us the console logging as well? Particularly the logging about the discovered tests. Or better yet, could you run stryker with -f and send us the complete logfile from <testproject>/StrykerOutput/<timestamp>

[2021-06-21 17:28] psfinaki commented on #1576
Don't want to be "that guy" but... any ideas when this can actually happen?

[2021-06-21 19:18] JasonBock opened #1602 "Stryker Output Is Difficult to Read Due to Color Choices"
**Is your feature request related to a problem? Please describe.**
It's not a big problem per-se, just something to hopefully make it easier to read output.

**Describe the solution you'd like**
When I run Stryker from the command line, this is what I see:
![image](https://user-images.githubusercontent.com/904213/122815701-6cad6980-d29b-11eb-9700-f204af8f43c3.png)
The output is really hard for me

[2021-06-21 19:20] JasonBock opened #1603 "Add Summary Value in the Report"
**Is your feature request related to a problem? Please describe.**
Not a problem, just a feature request

**Describe the solution you'd like**
When Stryker is done, I see this in the report:
![image](https://user-images.githubusercontent.com/904213/122815961-c0b84e00-d29b-11eb-8afe-f8bad79697c6.png)
It would be nice to see a summary percentage/row somewhere in the report. That way I can quickly se

[2021-06-21 19:27] JasonBock opened #1604 "CompilerError Mutates Code Incorrectly for Reverse() Call"
**Describe the bug**
When I run Stryker against my project with a method called `Reverse()`, I get a compiler error. The code can be found [here](https://github.com/JasonBock/SpackleNet/blob/main/Spackle/Extensions/RangeExtensions.cs#L136). This is not the LINQ `Reverse()` method, so this shouldn't be changed.

**Expected behavior**
Stryker runs without causing a Compiler Error.

**Desktop (please

[2021-06-21 19:29] JasonBock opened #1605 "Compiler Error is Caused With `^` in Code"
**Describe the bug**
When I run Stryker on my code (which can be found [here](https://github.com/JasonBock/SpackleNet/blob/main/Spackle/SecureRandom.cs#L158)), it tries to replace `^` with `==`, and in this case, that's incorrect.

**Expected behavior**
Stryker runs without generating a compiler error.

**Desktop (please complete the following information):**
 - OS: Windows
 - Type of project: .NE

[2021-06-21 20:26] rouke-broersma commented on #1604
Hi @JasonBock

Does this crash Stryker or are we able to recover safely and remove the faulty mutation?

[2021-06-21 20:32] JasonBock commented on #1604
Sorry, I should've been clearer with this one (and the other issue I reported on a compiler error). Stryker recovers safely so that's good.

[2021-06-22 07:27] rouke-broersma commented on #1576
@richardwerkman keep your promises man ;)

[2021-06-22 07:29] rouke-broersma commented on #1603
Hi @JasonBock

The 'All files' row has the total mutation score in the next column. Is your suggestion different from that summary?

[2021-06-22 07:34] rouke-broersma commented on #1604
In that case unfortunately there's not a lot we can do about this at the moment. We should probably not log a warning for this specific mutation since we are aware of it.

#1400

[2021-06-22 07:39] rouke-broersma commented on #1605
This is a known bad mutation that is a consequence of not having type information available. This mutation is valid for bool but not byte (I believe). We should not warn for this.

#1400

[2021-06-22 08:02] richardwerkman commented on #1576
@psfinaki Please be "that guy" since I apparently need that... Sorry I forgot! I've just done the release, a new version should appear within minutes on nuget 👍

[2021-06-22 08:37] dupdob commented on #1605
It turns out this by design; see issue #664 for reference : Stryker deliberately injects both a logical AND an (bitwise) arithmetic mutation, knowing one of them will be removed.

But my understanding is that this error is properly removed and does not trigger a local rollback. If this is the case, this should not be viewed as an issue.

[2021-06-22 08:44] psfinaki commented on #1576
Oh thanks! I saw failing builds and thought it's very hard to release right now so I was too shy to remind last week :D

[2021-06-22 12:02] JasonBock commented on #1603
Ah, got it. I didn't realize that's what the row is for :)

[2021-06-22 12:02] #1603 closed

[2021-06-22 12:05] richardwerkman commented on #1602
We use serilog for those messages. I don't know if we have any influence over the colour it's printed in... To fix this a change in serilog sourcecode might be needed. You could try to create an issue there too? Maybe link to this repo as an example of how we use it.

[2021-06-22 12:12] JasonBock commented on #1605
I haven't looked at the implementation of Stryker, but, if you're using the Compiler API to analyze the code under test, it might be possible to determine if the two nodes of an `ExclusiveOrExpressionSyntax` are targeting boolean or integral numeric values.

[2021-06-22 12:46] dupdob commented on #1605
In order to keep the mutator code base simple andStryker fast, the mutation philosophy is:
1) work with the syntax tree and not the semantic model; the semantic model is slower to get and requires solving dependencies
2) for each error, remove related mutations.

Note that (2) is required because:
1) experience has taught us that some mutators can lead to unpredictable errors with some constructio

[2021-06-22 14:56] JasonBock commented on #1605
I understand the point about the semantic model that it does add some overhead. For the `ExclusiveOrExpressionSyntax` node case, is it more expensive to get the semantic model in play and determine if a mutation is valid, or simply make the mutation and see that the compiler has an error? I don't know, I'm assuming that's perf work you've already done.

[2021-06-22 17:20] JasonBock commented on #1602
Interesting, my original screen shot came from VS2022 Preview 1. In 2019 it looks much better:
![image](https://user-images.githubusercontent.com/904213/122971007-29fb9800-d354-11eb-9f63-018babec3730.png)

[2021-06-22 17:36] JasonBock opened #1606 "Fixing Test Does Not Remove Mutant"
**Describe the bug**
Stryker reported a mutant that wasn't killed:
![image](https://user-images.githubusercontent.com/904213/122973013-60d2ad80-d356-11eb-861d-6df5f11a325c.png)
So I changed the test, but the mutant doesn't go away. You can check out the branch [here](https://github.com/JasonBock/Transpire/tree/4_add_stryker). The test is `FindNewGuidViaConstructorAnalyzerTests.VerifySupportedDiagn

[2021-06-22 18:22] rouke-broersma commented on #1605
I have not personally ran the perf work (@richardwerkman has but not specifically for this case) but Roslyn is so blazing fast at compiling, and remove a bad mutation is so 'trivial', that I am easily willing to bet it will be way way way faster than using the semantic model.

[2021-06-22 18:24] rouke-broersma commented on #1576
@psfinaki The failing builds are due to our CI infra being flaky unfortunately. Nothing serious to worry about.

[2021-06-22 18:25] rouke-broersma opened #1607 "Clean up sonarqube issues"
**Describe the bug**
We've let our code quality slip

**Logs**
https://github.com/stryker-mutator/stryker-net/runs/2882596005

**Expected behavior**
Clean it all up

[2021-06-22 19:00] JasonBock commented on #1605
I wouldn't argue that bet. But with anything perf-related, it's always good to get the numbers.

But here's another thought. In the case that I presented, the code is doing `^` on two `NumericLiteralExpressionSyntax` nodes. Would it be possible to do a look at the nodes being used for `ExclusiveOrExpressionSyntax`, and for the simple cases you can run into (e.g. it's using `NumericLiteralExpressio

[2021-06-23 08:11] dupdob commented on #1606
Thanks.
# Explanation
This typically happens when some tests are not completely isolated, which results in incorrect coverage information. I have traced the code, and in this instance the problem is that the tested `FindNewGuidViaConstructorDescriptor` is stored in a [static field](https://github.com/JasonBock/Transpire/blob/ad844b4e57e285ca0470fecb6f6e5c670f5d70ac/src/Transpire/FindNewGuidViaCons

[2021-06-23 09:40] rouke-broersma commented on #1605
That would be a good improvement!

[2021-06-23 12:50] dupdob commented on #1607
I had a quicklook, and at least one bug refers to code that is no longer in V1. Should not we focus on the V1 branch and disregard `master` from no on?

[2021-06-23 14:25] rouke-broersma commented on #1607
We should probably pick this up after merging V1 for sure, I just noticed it now and made an issue to not forget. I don't think we need to pick this up right this second.

[2021-06-23 14:49] dupdob commented on #1607
I had a look because I was worried it was linked to my last two PRs. 😄

[2021-06-23 19:46] rouke-broersma commented on #1607
Nah :)

[2021-06-25 08:52] fiegam commented on #1387
Hi

I have a similar issue with multiple test projects setup. I'm trying to run stryker from the location where project under test exists, and pass the test projects location as parameter, according to the documentation
[https://stryker-mutator.io/docs/stryker-net/Configuration#test-projects](url)
But seems that the project from current location is considered as test project, and I'm getting error

[2021-06-25 10:37] rouke-broersma commented on #1387
Hi @fiegam,

Could you provide us with a description of the filesystem, the project references (redacted) of all test projects and the name (redacted) of the project under test passed to -p?

[2021-06-25 13:12] #772 closed

[2021-06-25 13:12] #843 closed

[2021-06-25 13:12] #949 closed

[2021-06-25 13:12] #1077 closed

[2021-06-25 13:12] #1434 closed

[2021-06-25 13:12] #1476 closed

[2021-06-25 13:12] #1593 closed

[2021-06-25 14:32] fiegam commented on #1387
Thanks for reply,

I've created test solution to reproduce this issue.
The projects structure looks like this:
ClassLibrary1
ClassLibrary2
ProjectToTest (reference to ClassLibrary1 and 2) <WORKING DIRECTORY>
TestProject (reference to ProjectToTest)

command: dotnet stryker -tp "['../TestProject/TestProject.csproj']" -p ProjectToTest.csproj -f

[StrykerTest.zip](https://github.com/stryker-mutator/s

[2021-06-25 14:40] rouke-broersma commented on #1387
Hi @fiegam

Do you in reality only have one test project? If so, this feature is not really for you. You should run stryker from the test project folder if you have one test project.

[2021-06-25 15:11] fiegam commented on #1387
Hi @rouke-broersma,
No, this is only for reproduction purposes. In real application I have multiple test projects, and I need to use all of them to cover all functionality from "ProjectToTest".
I also tried to test the whole solution at once, but this also does not seems to work correctly in my case (I need some more time to investigate and describe those problems)

For other project from th same

[2021-06-28 14:00] JasonBock opened #1608 "Error During Analysis"
**Describe the bug**
I ran Stryker against [this code base](https://github.com/JasonBock/wsharp), and during the analysis, this showed up in the logs:
[code]
I'm reporting it because it asked me to :)

**Desktop (please complete the following information):**
 - OS: Windows
 - Framework Version: .NET 5
 - Stryker Version [e.g. beta 0.22.5]

[2021-06-28 15:35] dupdob commented on #1608
Thanks for reporting this!
## Error message explanation
Safe mode triggers when Stryker cannot identify which mutation(s) resulted in compilation errors. All mutations are then removed from the method to ensure Stryker can go complete the testing session.

The impact of the safe mode is that some mutations are lost in the process. So this is not a problem per se, just a sub par situation.

## Work

[2021-06-29 10:15] rouke-broersma opened #1611 "Docusaurus sidebar is broken on V1"
**Describe the bug**
Error: Invalid sidebar file at "sidebars.js".
These sidebar document ids do not exist:
- stryker-net/technical-reference/fsharp/Classes.md
- stryker-net/technical-reference/fsharp/CurrentState.md
- stryker-net/technical-reference/fsharp/Packages.md

[2021-06-30 14:59] petertiedemann opened #1612 "NullReference in Stryker.Core.Instrumentation.EndingReturnEngine.InjectReturn"
**Describe the bug**
NullReference in Stryker.Core.Instrumentation.EndingReturnEngine.InjectReturn when generating mutants.

**Logs**
[logs.zip](https://github.com/stryker-mutator/stryker-net/files/6741819/logs.zip)

**Expected behavior**
Not crashing while generating mutants.

**Desktop (please complete the following information):**
 - OS: Windows 10
 - Type of project: netstandard2.0
 - Framewor

[2021-06-30 15:41] dupdob commented on #1612
Thanks for the reporting. I had a quick look at Stryker's code, it turns out the conversion operator are not properly supported. Code is present but there was no test for it, and it does not work.

[2021-06-30 15:47] richardwerkman commented on #1612
@dupdob are you looking into this? I have time to look into this as well

[2021-06-30 16:11] richardwerkman commented on #1612
@petertiedemann it seems like you are the first one to use stryker in combination with `ConversionOperator`. What a scoop! I will release the fix immediately as this is a breaking bug.

Thank you for using Stryker 🚀

[2021-06-30 16:13] dupdob commented on #1612
Just opened a PR for this :-)

Envoyé de mon iPhone

[2021-06-30 16:55] richardwerkman commented on #1612
Stryker version 0.22.6 should be available in a few minutes with the fix!

Closing issue

[2021-06-30 16:55] #1612 closed

[2021-07-01 16:23] mcastror-prft commented on #1586
Hello Guys, Is there any update on this one?. I have added stryker as a step in a project's pipeline so I have to use the file diff feature due to step execution time limit restrictions. It looks like I'm experiencing the same issue, the score is messed up. I think it calculated correctly when I turned off coverage analysis but then it took longer so didn't work for me.

[2021-07-02 23:14] JohnMcGlynnMSFT commented on #1413
I've created a [Pull Request](https://github.com/stryker-mutator/stryker-net/pull/1617) that demonstrates how to integrate source generators.

[2021-07-03 08:55] rouke-broersma commented on #1413
That's amazing thank you!

[2021-07-03 09:18] dupdob commented on #1586
I have opened a PR with a probable fix for this, but it made us that it may need a bit of redesign to ensure correct results.

[2021-07-09 09:25] #1611 closed

[2021-07-09 09:27] rouke-broersma opened #1620 "BaseLine feature throws exception on new files"
**Describe the bug**
When a new (instead of changed) file is detected during baseline scanning, an exception is thrown.

**Logs**
[code]

**Expected behavior**
File should be skipped as it will not exist in the baseline.

**Desktop (please complete the following information):**
 - Stryker Version  <= 0.22.6

[2021-07-09 13:17] rouke-broersma opened #1621 "When there are no mutants to test the reporters should still execute"
**Is your feature request related to a problem? Please describe.**
When you have no mutants to test due to your mutants not being covered by tests we should still give the user a report so they can identify which mutants they should test.

[2021-07-09 14:39] rouke-broersma opened #1622 "Dashboard Compare does not reuse NoCoverage results"
**Describe the bug**
Due to #1614 Dashboard Compare no longer reuses the NoCoverage results on files that have not been changed

The Diff Compare feature resets NoCoverage to Ignored after Dashboard Compare has executed which overwrites the cached result.

[2021-07-10 11:12] #1586 closed

[2021-07-10 11:13] #1620 closed

[2021-07-10 11:44] richardwerkman opened #1623 "Logging in new inputs not working"
**Describe the bug**
When using logging in the new inputs no message appears in the logs. We have a log buffer that tracks logging before the actual logger is setup. But the logger is set up after the inputs are validated. And the buffer is read before the inputs are validated. So the inputs have no way of logging right now.

**Potential fix**
Move the logger initialisation to CLI. That way we don

[2021-07-12 02:39] jafin commented on #1602
Seems more of an issue with VS2022  https://developercommunity.visualstudio.com/t/terminal-colors-are-wrong/1454753

[2021-07-12 05:09] rouke-broersma commented on #1602
@JasonBock would appreciate if you could let us know if this is fixed when vs2022 releases. For now I would like to close this as vs2022 is in preview and a bug report has been filed with their team. If this ends up being a permanent problem we should reopen.

[2021-07-12 05:09] #1602 closed

[2021-07-13 16:45] psfinaki commented on #1586
A bit late to the party, but just wanted to confirm that this all works for me as I would imagine. Thanks!

[2021-07-22 13:12] psfinaki opened #1630 "Cannot specify full method name within ignored methods"
**Describe the bug**

So imagine I have the following code:
[code]

For `dotnet stryker`, Stryker produces two mutations here, as expected:

![image](https://user-images.githubusercontent.com/5451366/126636289-da492741-3de4-402d-8736-ba98d075e42e.png)

Now I want to ignore the exception text mutation. I run Stryker like `dotnet stryker -im "['CrashWithException']"`.

This also works as expected:

[2021-07-22 13:36] richardwerkman commented on #1630
I think we might run into some weird situation as we have to look at the whole `SimpleMemberAccessExpression` for this. Those can contain class names when static, or variable names or even namespaces or namespace aliasses. So that could potentially cause some unexpected behaviour. For example your class could have a property called Crash and if that object has this method if would be ignored as we

[2021-07-22 14:50] richardwerkman commented on #1630
No in C#. For your example:
[code]
could also be written as
[code]
So if we check for the full string of the call we might miss some method invocations to ignore

[2021-07-22 15:22] psfinaki commented on #1630
Oh right, I see. Yeah, fair point. So you think we can do that end string check?

[2021-07-22 17:28] jchesshir commented on #420
Can I get an update on the progress of this issue?  Being able to knock certain tests out of the running would be a HUGE improvement IMHO.

[2021-07-22 17:47] rouke-broersma commented on #420
A wip pull request has been contributed that will probably be included in v1 which should implement this feature request. We don't have an eta for v1, sorry. The options rework is way more effort that we thought it would be.

[2021-07-22 19:15] richardwerkman commented on #1630
Sure, should be no problem 👍

[2021-07-23 12:04] psfinaki commented on #1630
@richardwerkman do you plan to take it? If not, maybe you could point out to the place where to fix that or so?

[2021-07-23 12:37] richardwerkman commented on #1630
@psfinaki I don't have time to look into this. But I think I can help you get started.

You have to change to following line to fix this: https://github.com/stryker-mutator/stryker-net/blob/ef16398589a2e34733652b97d84dc05dd106ef51/src/Stryker.Core/Stryker.Core/MutantFilters/IgnoredMethodMutantFilter.cs#L36

As you can see we currently only match the member name to the regex. This should be the com

[2021-07-23 16:07] psfinaki commented on #1630
@richardwerkman
Thank you very much for the info! Expect a PR on that next week :)

[2021-07-23 16:12] richardwerkman commented on #1630
Awesome! Good luck.

And a tip: if you want to quickly check how a syntaxtree for this looks like use this website [sharplab.io](https://sharplab.io/#v2:C4LghgzsA0AmIGoA+ABADAAhQRgHQBkBLAOwEcBuAWACh0tsAWK6mlAZiwCYMBhDAbxoZhWDigYYAsgAoAlAKEilANzAAnDABtCUDAF4MxAKYB3DESgAeHGgB8c5kqXaouAOoALI2qPSAHvq2GAF6BgBEJmoA9sQA5hhgxBAm3mGyuAAqURbADorCAL40BUA)

[2021-07-28 19:43] richardwerkman opened #1638 "Setup code coverage for full project"
**Describe the bug**
Sonarcloud only runs Stryker.Core unitests when calculating code coverage. CLI files always get 0% coverage. We can't run all unit tests yet as sonarcloud doesn't support multiple coverage files.

**Expected behavior**
I expect all unit tests to run when calculating code coverage.

**Additional context**
We can use coverlet to generate only one single coverage file for all pro

[2021-07-28 20:03] #578 closed

[2021-07-28 20:03] #1399 closed

[2021-07-28 20:12] rouke-broersma opened #1639 "Check docs are up to date"
Before we release we should make sure all docs are up to date with V1 release

[2021-07-28 20:13] rouke-broersma opened #1640 "Check all options are working correctly"
https://docs.google.com/spreadsheets/d/1fyKeqWhROup1yxZLqeQ5OV5bOSV5hej1eNKiH7lVRBU/edit#gid=0

[2021-07-28 20:15] rouke-broersma opened #1641 "Prepare v0 -> v1 migration guide"
V1 has breaking changes from V0 that will impact almost all users. Prepare a migration guide in the docs.

[2021-07-28 20:17] rouke-broersma opened #1642 "Release RC's for V1"
V1 contains breaking changes. We should release RC builds so users can test V1 before release.

[2021-07-29 13:22] bcollamore commented on #1599
We ran into this exception as well. It's looks like upgrading MSTest.TestAdapter from 2.2.3 to 2.2.4 causes Stryker to erroneously find no tests (reporting success), then upgrading to 2.2.5 causes the Sequence exception (failure).  Note: this only affected 1 of our ~70 repos.

[2021-07-29 17:53] psfinaki commented on #1630
Also, @richardwerkman, shall I close this already? I understood there are some procedures about the tickets here so I better ask :)

[2021-07-29 19:20] rouke-broersma commented on #1630
Right sorry it should have been closed with the merge but because we changed the default branch github won't auto close.

[2021-07-29 19:20] #1630 closed

[2021-07-29 20:00] psfinaki commented on #1630
That's alright, watching the issue close is anyway more pleasant than watching it open :D

Thanks! Looking forward to this being released - I guess with that we'll finally have the Stryker configuration we want :)

[2021-07-29 21:50] rouke-broersma opened #1644 "Mutate control based on c# concepts"
**Is your feature request related to a problem? Please describe.**
The mutate option can be used to control which files should or should not be mutated. This can be useful to exclude certain file paths but also to only mutate a small portion of the code base (say you only changed one file and you want to test that file). File based control makes it hard to mutation test anything smaller in scope t

[2021-07-30 13:25] rouke-broersma commented on #1599
Nice investigative work @bcollamore

So it is caused by upgrading MsTest in the test project? Is this still happening in the latest stryker release where we should have the latest vstest bindings?

[2021-07-31 12:00] bcollamore commented on #1599
That's correct @rouke-broersma  - upgrading MsTest in the test project triggered it.  It was observed on "Version: 0.22.8 (beta)".

Below is the output.  Let me know if you would like the Debug level logging!

   _____ _              _               _   _ ______ _______
  / ____| |            | |             | \ | |  ____|__   __|
 | (___ | |_ _ __ _   _| | _____ _ __  |  \| | |__     | |
  \___ \

[2021-08-02 06:33] rouke-broersma commented on #1599
Hi @bcollamore I don't think we will learn more from debug logging. This sounds like an integration issue between stryker and vstest. I think we will have to hope to find a reproduction project and report this issue to microsoft for a fix.

[2021-08-02 22:22] pinkfloydx33 opened #1647 "Class-level exclusions and mutation options"
**Is your feature request related to a problem? Please describe.**
We have a set of helper functions in an library we reference related to argument validation, each which takes an optional message that will eventually become the exception message. It's quite frustrating that Stryker marks the strings as survived mutants as we don't check the messages in our tests (and it would be an undertaking to

[2021-08-02 22:38] psfinaki commented on #1647
Well from what I understand that's pretty much what I raised [here](https://github.com/stryker-mutator/stryker-net/issues/1630) and what was then addressed and merged [here](https://github.com/stryker-mutator/stryker-net/pull/1635).

We just need to get this released and then you should be able to specify "Requires.*" in the ignored methods list!

@rouke-broersma can we expect 0.22.9 anytime soon?

[2021-08-03 07:16] rouke-broersma commented on #1647
I'll trigger the release

[2021-08-03 07:45] rouke-broersma commented on #1647
@pinkfloydx33 Do you think the solution from #1635 is sufficient to solve your problem?

[2021-08-03 07:54] pinkfloydx33 commented on #1647
Yes it does. And my apologies I looked through all the open/closed issues prior to posting. I'm not sure how I missed that.

[2021-08-03 07:54] #1647 closed

[2021-08-03 07:56] rouke-broersma commented on #1647
Not a problem. The update has been released.

[2021-08-03 11:44] psfinaki commented on #1647
@rouke-broersma just saying that I didn't want to sound annoying with that, it was just a question :) Thanks for release though!

[2021-08-03 11:48] rouke-broersma commented on #1647
@psfinaki I don't mind when you ask for a release and it's not a lot of effort. It's more that historically we haven't released every commit unless it had been some time in between or there is a specific need such as in this case. So I often forget to release 🤷‍♂️. I'm happy you remind us to release stuff no worries.

[2021-08-03 12:12] psfinaki commented on #1647
Alright, thanks for calming me down :)

[2021-08-05 10:21] pinkfloydx33 commented on #1647
Should a filter like `*Something.*` work? I can't tell based on looking at the tests.

I have multiple classes called `AbcSomething`, `DefSomething` and `XyzSomething` of which I want to exclude all methods. I added a `*Something.*` method exclusion but it doesn't seem to be taking hold.

Of note is that they all inherit from an abstract class `SomethingBase` (which doesn't match that pattern) and

[2021-08-05 10:52] rouke-broersma commented on #1647
I tested your regex and I think the issue is that you need to escape your *.

See: https://regex101.com/r/MxUDN7/1

I am not sure if it's intentional that you should have to escape your * with `\\` but as you can see once you do that the `\\*` gets replaced with `[^.]*` and there will be a match. @grbell-ms or @psfinaki can you confirm that this is intentional? Perhaps we should document this beha

[2021-08-05 14:07] pinkfloydx33 opened #1648 "Stryker Randomly Reports NoCoverage for all mutants"
**Describe the bug**
Stryker randomly reports `NoCoverage` for **all** non-excluded mutants.

When running against multiple projects (individually) I can almost always reproduce the problem in at least one of them by specifying `max-concurrent-test-runners` with a value _other_ than the default. I was originally going to say that was necessary to reproduce the issue, but I am still getting random

[2021-08-05 14:42] rouke-broersma commented on #1648
Do you know if this happens with any other version of stryker? For example in 0.22.6?

Also could you list the testframework you use?

On your other notes:
Could you create a new bug for the incorrect core-count issue?

As for Microsoft.CodeAnalysis.*, do you use any of these packages in your project? If not, could you create a new issue and could you provide the part of the logging around where t

[2021-08-05 16:36] psfinaki opened #1649 "Broken docs link"
Hey I want to fix some docs but the link to fix the docs is broken :)

The link "edit this page" here
![image](https://user-images.githubusercontent.com/5451366/128387554-64609dad-0646-4500-b194-b2f5ce4a649e.png)

leads here
![image](https://user-images.githubusercontent.com/5451366/128387453-85f6d35a-b7a4-4b45-9ed6-aebbbe79f1c8.png)

[2021-08-05 16:53] pinkfloydx33 commented on #1648
Sure. I use Xunit as my test framework. Looking at the various logged output files (Stryker and vstest) it appears that *maybe* test fixtures are breaking things but I'm not sure.

Re: logs, do you want the ones I've collected on this specific issue? I have them zipped up but I'd prefer providing them via alternative means.

I am not using Microsoft.CodeAnalysis in any project (at least directly).

[2021-08-05 17:10] rouke-broersma commented on #1649
Looks like the edit link points to master while the page content comes from the v1 branch 🙃.. This will be fixed when we finally merge v1 to master..

Remind me to never again mess with long living branches... So many problems..

Thanks for reporting this! 😣

[2021-08-05 17:17] pinkfloydx33 opened #1650 "Stryker Logs Warnings For .NET 5.0 Analyzers"
**Describe the bug**
When running Stryker against a .NET 5.0 project, errors/`FileNotFoundException`s are logged to the console as warnings. These appear to be related to built-in analyzers automatically added when targeting .NET 5.0.

This behavior is exhibited in 0.22.9 but not in 0.22.6

**Logs**

**Expected behavior**
No exceptions are logged

**Desktop (please complete the following informati

[2021-08-05 17:18] pinkfloydx33 commented on #1648
It looks like .NET5.0 automatically includes some analyzers and they come from `Microsoft.CodeAnalysis.CSharp.Analyzers` and `Microsoft.CodeAnalysis.NetAnalyzers`. These are where the errors are generating out of.  Interestingly, I don't get the errors on Stryker 0.22.6. I opened #1650

[2021-08-05 17:19] rouke-broersma commented on #1648
Let's see if we can figure this out without you having to share privileged information first. A small repro would probably be more useful if that's possible.

Yes please.

Thank you!

[2021-08-05 17:31] psfinaki commented on #1649
Yeah I didn't want to disappoint with that information yet :D

[2021-08-05 17:44] pinkfloydx33 commented on #1648
It looks like the core count is something Azure related as .NET (via Powershell) is only reporting 2 which would give Stryker the correct default value of 1.

I am not sure how to create a small repro of the reported issue as I have no idea what's causing it. The only thing I can think of is perhaps the cross-targeting as I cannot reproduce in one of my other solutions which is .net5.0 only.

What

[2021-08-05 17:45] rouke-broersma commented on #1650
In 0.22.8 we added support for c# source analyzers. I wonder if this change caused the problem.

[2021-08-05 17:48] rouke-broersma commented on #1648
Mhm I think we have another issue about the missing System.Runtime, let me look.

[2021-08-05 18:51] pinkfloydx33 commented on #1650
So far as I can tell that is correct. It just blurts out the warnings to the console

[2021-08-05 20:11] pinkfloydx33 commented on #1647
Are these values supposed to be *actual* regexes though? The source code does a `Regex.Escape` on the value and then does some tinkering to ensure  `*` is interpreted as `[^.]*` (anything except a period any number of times). My leading asterisk should already be covered since Regex.Escape turns an asterisk into `\*` (the double slash is just escaping the slash itself within the c# string, it does

[2021-08-05 20:24] rouke-broersma commented on #1647
Oh I completely skipped over the regex escape.. Like I said I'm not very used to working with regex. If you feel this is a bug or you think this is something we should support please open a new bug or feature request with the improvements you would like!

[2021-08-05 20:35] pinkfloydx33 commented on #1647
I think whatever rules are in place are OK, no sense making it overly complicated. I just don't know what those rules are supposed to technically be and I'm still confused as to why my leading star doesn't work. If it's not meant to, that's fine. But if it _is_ then I'd say it's a bug which is why I asked for clarification about it.

[2021-08-05 21:08] psfinaki commented on #1647
Ha I wonder if there is anyone good at RegEx apart from people who actually create RegEx engines :D In this case I guess only @grbell-ms and @thegod can help.

I was testing only things like Something* (not *Something), because that was the usecase. However looking at the tests *Something should kind of work as well I think... In either case we should adjust either the code or the regex comment +

[2021-08-05 21:15] rouke-broersma opened #1651 "Expand ignore method to allow wildcards in the class name"
_Originally posted by @pinkfloydx33 in https://github.com/stryker-mutator/stryker-net/issues/1647#issuecomment-893344042_

[2021-08-05 21:20] psfinaki commented on #1650
Yeah I can confirm this noise has appeared. Nothing bad happens really but those messages probably shouldn't be there or at least should be "quieter". @JohnMcGlynnMSFT FYI.

[2021-08-05 21:23] psfinaki commented on #1649
Can I actually help here in any way? Docs are important :)

[2021-08-06 01:44] rouke-broersma commented on #1649
We have our open source day tomorrow. We will go through what's left for v1 and decide what to do. Perhaps we'll be ready to merge to master in which case we won't have to fix anything for this.

[2021-08-06 07:35] dupdob commented on #1650
For clarifications, this messages are here on purpose: I asked for them. They come from the support of Roslyn source code generator and they signal Stryker failed to load an assembly that may contain a generator; a situation that would likely lead to failed build.
In this case, this is clearly an analyzer that failed to load (based on the assembly name), so it may be seen as noise. Sadly, the situ

[2021-08-06 07:53] rouke-broersma commented on #1650
Thank you for the clarification @dupdob. I agree that we should keep this logging. Perhaps we could downgrade the exception to debug logging but keep the warning message above it as warning so we don't alarm users as much as we currently do. And also explain in the logging that if the warning is about an expected Analyzer that it can be ignored and if it's referencing a source generator that it co

[2021-08-06 08:46] psfinaki commented on #1649
Alright, feel free to ping me here if you need to have some "consistency checks" and so on, I'm good at that :D

[2021-08-06 09:28] pinkfloydx33 commented on #1650
That all makes sense to me.

Would it make sense (or even be possible) to automatically exclude the framework analyzers by name, ie. the ones that come just from using net5.0/net6.0 and aspnetcore? Those are never going to be "user" code so loading them seems unnecessary. That  would prevent the warning and exception logged for those cases but keep them for others, without changing the log level.

[2021-08-06 10:14] rouke-broersma commented on #1650
I do wonder what these built in analyzers.. Do exactly. Perhaps they do stuff with editorconfig and such and then it still can explain certain behaviors when they don't work.

[2021-08-06 10:16] pinkfloydx33 commented on #1650
The add a lot of built in code fixes, new configurable diagnostics, usage/best practices tweaks and the like. A lot of stuff requested by the community that doesn't need to be a part of the actual language spec. They're adding more and more of them with each release.

[2021-08-06 11:17] rouke-broersma opened #1652 "Since: Only log changed files that are relevant to the project being tested"
**Is your feature request related to a problem? Please describe.**
When running since we log every file change in the git repo. However if you have multiple projects in a repo we will log much more than necessary.

**Describe the solution you'd like**
Don't log files that are excluded by `since.ignore-changes-in`.
Log only the csharp files that are relevant for the project under test.
Log all non-

[2021-08-06 11:18] dupdob commented on #1650
Priority is to have analyzers working 😉. Every analyzer I tested exhibits this very problem: being unable to resolve basic analyzer dependencies, so fixing it once should fix it everywhere.
As a workaround, we can treat specifically assemblies that fail to load due to `Microsoft.CodeAnalysis.Workspaces`

[2021-08-06 12:05] rouke-broersma opened #1653 "Since: from commandline does not work"
**Describe the bug**
When  `--since` is passed on the commandline the since feature is not turned on.

**Expected behavior**
The `--since` option should turn on the since feature.

[2021-08-06 12:10] rouke-broersma commented on #1653
PEBKAC

[2021-08-06 12:10] #1653 closed

[2021-08-09 18:04] JPTouron opened #1655 "Configuration Documentation for C# in website and this Repo is out of sync with actual commands in v0.22.9"
**Describe the bug**
The [documentation for the configuration for the C# version](https://stryker-mutator.io/docs/stryker-net/configuration) does not correspond with the actual commands listed with the --help option

**Example**
`dotnet Stryker.CLI.dll --help`

_Outputs_

`Options:
  -cp|--config-file-path <path>                             Sets the config-file-path relative to current workingDire

[2021-08-09 18:54] richardwerkman commented on #1655
The website gets the content directly from github. We just completed a complete rework for the options. But now that we merged the website updated as well... This is indeed unfortunate as we are not ready to release the new version yet.

We'll try to fix the website by targeting the master branch. But for now you can see the (current) documentation on our [master branch under /docs](https://github

[2021-08-10 18:46] richardwerkman commented on #1546
I'm curious why you want to exclude FirstOrDefault mutations. If you think the mutation is irrelevant we could make this issue about that. It is a very hard mutation to kill so I do understand your issue with it.

I was thinking about moving that mutation to a higher mutation level. So that some linq mutations will be turned on by default and some only if you increase the mutation level.

[2021-08-10 19:09] richardwerkman opened #1656 "Extend exclude mutations"
**Is your feature request related to a problem? Please describe.**
With the current exclude mutations I can only filter all string mutations or all linq mutations. I'd rather have some more finegrained controll.

**Describe the solution you'd like**
Extend the ignore-mutations option like this:

[code]

This is not specific for linq mutations but could be used for every mutation. This means we hav

[2021-08-11 13:06] JSmits-utwente commented on #1565
For my graduation assignment I need a more complete JSON report from Stryker.NET according to the mutation-testing-elements [schema](https://github.com/stryker-mutator/mutation-testing-elements/blob/master/packages/report-schema/src/mutation-testing-report-schema.json). In particular I need to know for each mutant the properties `killedBy` and `coveredBy`. For this each test case must be given an

[2021-08-11 18:40] rouke-broersma commented on #1565
@JSmits-utwente AFAIK we should already have all this information, we just need to make it available in the report json.

[2021-08-12 09:30] #1623 closed

[2021-08-12 14:47] psfinaki opened #1659 "Random crashes with FileNotFoundException"
**Describe the bug**

Sometimes Stryker crashes for random projects with this error
<img width="323" alt="error" src="https://user-images.githubusercontent.com/5451366/129216325-ff02dd81-8968-4fef-b600-7f67aa23f175.png">

This happens after throwing a bunch of exceptions with the `FileNotFoundException` on the top, see logs attached.
The process exit code is `-532462766`.

It's important to say th

[2021-08-12 14:56] richardwerkman commented on #1659
Hmm this doesn't look good. We get the references directly from Buildalyzer. So it seems that buildalyzer returns a wrong path sometimes? We might have to look into how buildalyzer gets those references projects.

[2021-08-12 16:24] rouke-broersma commented on #1659
It seems unlikely that buildalyzer is returning the wrong path here. More seems like perhaps it was cleaned up by something.

@psfinaki can you confirm whether the given path is where your project dll should exist?

[2021-08-12 17:35] psfinaki commented on #1659
Absolutely. And I mean... I don't change anything. I literally put together a script to run Stryker the same way 20 times and it went like
`all good`
`all good`
`all good`
`all good`
`all good`
`BAMMMM`
`all good`
`all good`
`BAMMMM`
`all good`
`all good`
...

You get the point :D

[2021-08-12 18:13] rouke-broersma commented on #1659
Is this a multi targeted project? Or do you use multi (test) project? I feel like buildalyzer or something else is doing a clean somewhere in between causing a race condition.

[2021-08-12 18:28] psfinaki commented on #1659
This particular one I was running Stryker against for 20 times is multi targeted, yes :)
In general - I can try to collect some stats on that tomorrow.

[2021-08-12 21:46] rouke-broersma commented on #1659
Currently on multi targeted projects we use the first result buildalyzer has. We have seen some reports before that this is not deterministic (but trends to one over the other) and that stryker sometimes has issues with the 'other framework' result. We really need to make the target framework selectable and build in some heuristics to select the best possible target framework by default.

[2021-08-13 08:05] richardwerkman commented on #1649
We set master as our default branch again. That should fix the website on the next update

[2021-08-13 09:31] #1649 closed

[2021-08-13 09:32] rouke-broersma commented on #1655
Should be fixed by next website update (should be tonight)

[2021-08-13 09:32] #1655 closed

[2021-08-13 11:41] psfinaki commented on #1649
Amazing, thanks!

[2021-08-13 13:08] psfinaki commented on #1659
Yeah I will take [this](https://github.com/stryker-mutator/stryker-net/issues/1487) during the upcoming weeks. But if you want I can probably hack things around here, like handle this particular thing in the code.

[2021-08-13 13:23] rouke-broersma commented on #1659
What's your idea for handling this?

[2021-08-13 13:44] psfinaki commented on #1659
Well as per my observations, reruns help in 100% cases :D But I don't know if it's easy to rerun the whole thing from within the Stryker execution.

[2021-08-14 14:27] leonardosimoura commented on #1546
The ideia is just disable them temporarily so is possible to focus on other mutations first.
Think in a project with half of its mutations as Linq mutations, but for the bussiness team  the most impotant mutations are others mutations and only a few linq mutations.

Sorry but i made the PR #1660  before read this,
I like the ideia to filter the expressions based on mutation level.
I created a Excl

[2021-08-16 08:06] richardwerkman commented on #1546
What about?
Basic: Any, Count, All
Standard: Min, Max, Sum, Average, OrderBy, OrderByDescending, First, Single, Last,
Advanced: Skip, Take, SkipWhile, TakeWhile, ThenBy, ThenByDescending,
Complete: All Expressions

I think order of items is very important to test. So it should be enabled standard. This means OrderBy but also First and Last as they are ordering as well. But they won't be mutated to

[2021-08-16 09:55] rouke-broersma commented on #1546
Perhaps this should be a separate issue

[2021-08-16 12:26] dupdob commented on #1659
I'm interested in fixing this. It seems difficult to reproduce, so the logs are valuable.
Quick question: is this path ok to you, @psfinaki ? `C:\code\REPOSITORYNAME\test\PROJECTCATEGORYNAME\` ?
It looks like something which failed env variables expansion?

[2021-08-16 13:10] rouke-broersma commented on #1659
@dupdob I think that's just to obfuscate the specific project names they are working on as it's replaced like that everywhere in the logs.

[2021-08-16 13:16] psfinaki commented on #1659
@dupdob, yes, that's just find-and-replace for privacy and confidentiality so that they don't throw me into prison :D

[2021-08-16 13:59] dupdob commented on #1659
Thanks. So, you are mutating `PROJECTNAME`, right?
And the test seems to fail because Stryker cannot find `DEPENDENTPROJECTNAME` assembly. Is there any other concurrent processes running on this machine when this happens? like a VS(Code?) with `DEPENDENTPROJECTNAME` open ? or another Stryker session?
If not, could you try using `fuslogvw`  (see [here](https://docs.microsoft.com/fr-fr/dotnet/framew

[2021-08-16 14:11] psfinaki commented on #1659
Hmm well this happens also on the build server where technically there shouldn't be many processes involved.
As for the util, I will try and update you :)

[2021-08-16 14:26] dupdob commented on #1659
well, if a build happens on DEPENDENTPROJECTNAME while mutating PROJECTNAME....
thanks for your support

[2021-08-16 16:05] dupdob opened #1662 "Provide a way to remove sensitive information from logs"
**Is your feature request related to a problem? Please describe.**
People using Stryker as part of their daily job often have troubles to provide logs as they may contain sensitive information, such as projet names or source files.
As such, it delays and complexifies bug analysis.

**Describe the solution you'd like**
Stryker could have an option to remove potential sensitive information from the

[2021-08-16 16:11] rouke-broersma commented on #1662
Excellent idea! Hope we can find a good balance where logs are sanitized but still useful.

[2021-08-18 13:11] psfinaki opened #1665 "Stryker freezes with too many concurrent test runners"
**Describe the bug**

We are now executing Stryker during the night against a big codebase. Recently we switched to very strong machines and Stryker suddenly started to "freeze" during executions. After a few days of frustration I figured out that concurrency is the issue. The machines we use now have 16 logical processors so Stryker spins up 8 concurrent test runners and that occasionally (actual

[2021-08-18 13:23] rouke-broersma commented on #1665
We have actually experienced this ourselves before but only when using the solution run or multiple test projects feature! We had never had a user report before as far as I know.

We have a bug report open for this with the vstest team 😉😉😉

[2021-08-18 13:35] psfinaki commented on #1665
Well we don't use the solution run, rather I wrote a script back in a day to glue project runs together heh :D

I will try to get VsTest logs and verify then. So we could push together :)

[2021-08-18 13:58] psfinaki commented on #1649
@rouke-broersma is this supposed to be in? The web seems to show the same thing unless I'm missing something.
(not urgent as I have a secret link to docs in code but just wondering)

[2021-08-18 14:08] rouke-broersma commented on #1649
We use static site generation for the docs and turned out there was a build issue on master (which we didn't detect because we didn't use master). I have fixed the issue and tonight the fixed site should deploy. I will check tomorrow that it worked.

[2021-08-18 14:09] rouke-broersma commented on #1665
Well good because solution runs are **not** recommended (because of this problem but also because of inaccuracies).

[2021-08-18 14:53] richardwerkman commented on #1665
This does sound different from issue #1136. We have crashing testrunners there. So lowering the number of testrunners should *increase* the chance of stryker hanging. But you could check. If you find this in strykers logs (not vstest logging) it's the same issue: `[Error] Cancelling the operation as requested.`

[2021-08-19 00:59] leonardosimoura commented on #1546
I agree,  i will create a new one soo we can focus only in the expressions filter here

[2021-08-19 01:17] leonardosimoura opened #1668 "Configure default linq mutations based on mutation level"
**Is your feature request related to a problem? Please describe.**
Create linq mutations based on mutation level
Moved from #1546
**Describe the solution you'd like**
Configure default linq mutations based on mutation level:
https://github.com/stryker-mutator/stryker-net/issues/1546#issuecomment-899309955
Basic: Any, Count, All
Standard: Min, Max, Sum, Average, OrderBy, OrderByDescending, First, S

[2021-08-20 13:30] rouke-broersma commented on #1496
A feature has been merged to our v1 branch that will help you with this issue. You will be able to use it once we are ready to release v1. See: https://github.com/stryker-mutator/stryker-net/issues/1570

[2021-08-20 13:30] #1496 closed

[2021-08-20 13:31] #1413 closed

[2021-08-20 19:25] #1546 closed

[2021-08-21 21:02] rouke-broersma opened #1670 "Update all assembly versions when releasing new Stryker package"
We should probably add the updating of this version number to the prepare-release.js script we use to bump the version number in the other assemblies.

_Originally posted by @rouke-broersma in https://github.com/stryker-mutator/stryker-net/pull/1664#discussion_r693360626_

[2021-08-23 16:38] psfinaki opened #1671 "Can't set Threshold Break to 100%"
**Describe the bug**

We currently have per-project mutation scoring and want to have there a flow similar to code coverage, that is to "lock in" mutation score so that it cannot decrease with further changes. This is quite easy to implement thanks to `threshold-break` option but looks like it cannot be 100 (found that in code as well).

Why so? Is this on purpose for some reason?

**Expected beha

[2021-08-23 17:33] rouke-broersma commented on #1671
I think this is fixed on v1 😁😁

[2021-08-23 17:46] psfinaki opened #1672 "Cannot distinguish some errors by exit code"
**Describe the bug**

Given that Stryker is still not entirely stable, our mutation testing script reruns the execution in case of errors (I should actually publish our script one day here, it is now quite elaborate and can be useful for others). But we actually want to rerun it differently depending on what exactly happened and I haven't found a better way to make a decision rather than looking a

[2021-08-23 17:49] psfinaki commented on #1671
Oh okay. Do you have a rough idea when 1.0.0 is coming? Does it make sense to fix it in 0.22.X? I can push the change, I think it's not a big deal :D

[2021-08-23 18:27] rouke-broersma commented on #1671
Sure go ahead

[2021-08-23 18:31] rouke-broersma commented on #1672
There is no specific reason for exit 1. We could actually change that to something meaningful. Good idea!

[2021-08-24 11:07] psfinaki commented on #1672
I can think of a way to make this more "meaningful" although maybe we could start documenting the codes somewhere?

[2021-08-24 14:47] #1672 closed

[2021-08-24 17:07] psfinaki opened #1676 "Reporters should report in a mutant-free world"
**Is your feature request related to a problem? Please describe.**

We run Stryker against a bunch of projects and then merge the reports using a custom script. This works but in the full report we basically miss the projects without mutants which sort of hinders the general visibility of the situation.

**Describe the solution you'd like**

I wonder could there be an alternative approach? For sta

[2021-08-24 17:46] rouke-broersma commented on #1676
This sounds similar to this: https://github.com/stryker-mutator/stryker-net/issues/1621

[2021-08-24 17:49] psfinaki commented on #1676
I checked that before yeah, and well the heading is similar but the scenario is actually somewhat different:

Here I mean that there are just no mutants generated whatsoever. We have a bunch of projects like this, quite primitive but important ones.

[2021-08-24 17:54] rouke-broersma commented on #1676
Should be the same implementation, it was not my intention with that feature request to limit it to only when you have mutants but no tests. I'll close that one in favor of yours.

[2021-08-24 17:54] #1621 closed

[2021-08-24 18:19] psfinaki commented on #1676
Oh alright! Well so at least you are for it :) Do you have an idea on how hard this can be to implement and where to start?

[2021-08-25 20:06] veikkoeeva opened #1677 "Stryket.NET crashes on .NET6, reported here as log instructing"
**Describe the bug**
Stryker.NET crashes. The error message instructors to report it here. The following is a quote of the message:

[19:51:40 WRN] Safe Mode! Stryker will try to continue by rolling back all mutations in method. This should not happen, please report this as an issue on github with the previous error message.
[19:51:40 FTL] Stryker.NET could not compile the project after mutation.

[2021-09-03 11:42] rouke-broersma commented on #1212
Simple start: https://github.com/stryker-mutator/stryker-net/tree/github-actions

[2021-09-03 21:25] rouke-broersma commented on #1556
Hi @0xced I was looking to implement this in stryker and found the package [DotNet.ReproducibleBuilds.Isolated](https://github.com/dotnet/reproducible-builds#dotnetreproduciblebuildsisolated-documentation-and-nuget-package).

The documentation is kinda sparce so I was wondering if you had any more insights into if this would be useful to us on top of `DotNet.ReproducibleBuilds`

[2021-09-03 21:43] rouke-broersma opened #1683 "Use SourceLink to determine version for Baseline compare"
**Is your feature request related to a problem? Please describe.**
With #1663 we have SourceLink support to fill in the version number for the dashboard reporter. However this saves the version info in the dashboard reporter and not in the options. This means the baseline feature cannot take advantage of this information from SourceLink.

**Describe the solution you'd like**
Provide the SourceLink

[2021-09-03 21:46] #1556 closed

[2021-09-03 22:11] #1670 closed

[2021-09-05 14:10] #420 closed

[2021-09-07 15:57] psfinaki commented on #1659
@dupdob Okay so I finally got back to that and reproduced the whole thing using that `fuslogvw` utility.

Here are the logs... To be honest, I am not sure if this is 100% related although looks somewhat relevant. I don't know how to interpret that really though, as this is the first time I'm using this tool. But - maybe you're a guru and it somehow helps :D
[MSBuild.exe.zip](https://github.com/str

[2021-09-08 15:37] psfinaki commented on #1665
@rouke-broersma @richardwerkman okay sorry it took so much time, I was implementing mutation score lock in solution wide and it took a while :D

Now I got back to this, seems like VsTest is indeed the issue. I cannot collect VsTest logs from the build machine (I guess for that I would need to execute custom Stryker version there?) but I collected Stryker logs for hung executions and I see this `[E

[2021-09-08 15:39] dupdob commented on #1659
Thank you. I think I need this kind of log files but for `vstest.console`. Those log files point to binding problem for MsBuid. Do you have any other log files?

[2021-09-08 16:10] rouke-broersma commented on #1665
If you could do that, that would be amazing :)

[2021-09-08 16:21] psfinaki commented on #1659
Yes, here they are :)
[vstest.console.exe.zip](https://github.com/stryker-mutator/stryker-net/files/7130351/vstest.console.exe.zip)

[2021-09-08 16:38] psfinaki commented on #1665
Oh alright. Thanks! I'll see what I can do. This is maybe causing us problems even with running unit tests, we're investigating this now. I'll keep you posted on that.

[2021-09-09 15:57] dupdob commented on #1659
I had a look, but I see no actual issues in those logs. So this is either a trace for a non crashing session, or this is kept in another process (vstesthost maybe) or this is not captured at all (sad panda then)

[2021-09-09 17:28] #1642 closed

[2021-09-09 17:29] #1606 closed

[2021-09-09 17:29] #1608 closed

[2021-09-10 13:27] corentinaltepe opened #1685 "[1.0.0-rc1] - DeployEmbeddedVsTestBinaries() Sequence contains no matching element"
**Describe the bug**
Hello. I'm stoked about the newly released v1.0.0-rc1. I tried it out on a real-world project. Unfortunately, I run against an error.

Here's the command line I execute:
`dotnet stryker -p C:\src\[MyProductionProject].csproj -L > debug.log`

**Logs**
I appologize, the logs are more detailed than what I'm willing to submit. Here's the end of the logs. Please let me know if ther

[2021-09-10 13:42] rouke-broersma commented on #1685
I think this is my bad! I had to deploy the rc package by hand and I think I missed a step, sorry!

[2021-09-10 13:58] rouke-broersma commented on #1685
I have released rc2 which should fix this issue. Thank you for letting us know! See: https://www.nuget.org/packages/dotnet-stryker/1.0.0-rc2

[2021-09-10 14:54] corentinaltepe commented on #1685
Thank you for being so reactive! The issue is solved with rc2.
Best Regards

[2021-09-10 14:54] #1685 closed

[2021-09-11 09:32] corentinaltepe opened #1686 "[1.0.0-rc2] --project-file becomes --project"
**Describe the bug**
Hello. When I run stryker on a test project pointing to several `*.csproj`, the command line says `Test project contains more than one project reference` and gives an example: `Example: --project-file=C:\Users\altepe\source\repos\[Redacted].csproj`.

However, running the command line with option `--project-file` fails because it has been updated to `--project` in v1.

**Logs**

[2021-09-14 13:13] rouke-broersma opened #1687 "Dashboard api key option not working"
**Logs**
[code]

https://stryker-mutator.slack.com/team/UUQ9T0LQN

[2021-09-14 14:14] philrowan-mtb commented on #1687
Hello, I also hit this issue in the RC. The input validation [requires a baseline input ](https://github.com/stryker-mutator/stryker-net/blob/v1.0/src/Stryker.Core/Stryker.Core/Options/StrykerInputs.cs#L137) else it just skips setting the dashboard api key. I believe this check should instead ensure that at least one of the reporters is the dashboard reporter.

[2021-09-14 14:36] rouke-broersma commented on #1687
Yes thank you for looking into it, that is the problem. It should check 2 things; 1: Is the dashboard reporter enabled, 2: Is the dasboard storage location enabled for the with-baseline feature AND is the with-baseline feature enabled.

[2021-09-14 14:40] philrowan-mtb commented on #1687
Maybe I am missing some other changes happening in the 1.0 or just misunderstanding this feature release but shouldn't I be able to report to the dashboard _without_ a baseline to push a full report in order to establish the baseline? Either way, I could start work on this.

[2021-09-14 15:32] rouke-broersma commented on #1687
Dashboard reporter and baseline (with dashboard as storage location) are two separate features that both use the dashboard.

[2021-09-15 13:21] riezebosch opened #1689 "Project discovery failing for multiple test projects"
**Describe the bug**
https://github.com/riezebosch/MassTransit.CloudEvents

Target project is covered by Tests and IntegrationTests project.
Tests project only has a single reference.
IntegrationTests project also references a web application project.

Running stryker from the Tests project works just fine and when including the -p it also works from the IntegrationTests.

Since both test projects

[2021-09-15 14:27] #1687 closed

[2021-09-15 17:05] psfinaki opened #1690 "Ignored methods are not ignored in V1"
**Describe the bug**
The mutations in ignored methods are not ignored anymore.

**Expected behavior**
Mutations are ignored, as they used to be.

**Desktop (please complete the following information):**
 - OS: Windows
 - Type of project: core
 - Framework Version: net5.0
 - Stryker Version: 1.0.0-rc2

**Additional context**
Demo: [IgnoreMethodsDemo.zip](https://github.com/stryker-mutator/stryker-n

[2021-09-15 17:32] rouke-broersma commented on #1690
I think this has not yet been merged from master to V1 🙈

[2021-09-15 19:04] psfinaki commented on #1690
Oh no! Alright then, good that I checked that before migrating all our code to the new version :D Alright then, hope it gets there soon

[2021-09-15 20:09] rouke-broersma commented on #1690
I started on the merge but it was trickier than I had the effort for so I released the rc instead 😁 I'll probably do it on Friday and release a new rc.

[2021-09-15 20:35] psfinaki commented on #1690
Sure, thanks!

[2021-09-15 23:00] philrowan-mtb commented on #1686
That link https://stryker-mutator.io/docs/stryker-net/configuration#project-file-name does not exist in the current beta but actually will be fine with the 1.0.0 docs since the configuration page is updated (see https://github.com/stryker-mutator/stryker-net/blob/v1.0/docs/configuration.md#project-file-name). However, I do think that `#project` would be a nicer link. If the type info were moved in

[2021-09-17 07:46] rouke-broersma opened #1692 "test"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-09-17 07:47] #1692 closed

[2021-09-17 07:47] rouke-broersma opened #1693 "testtest"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-09-17 07:47] #1693 closed

[2021-09-17 07:57] mapspiral opened #1694 "Stryker 1.0.0-rc2 fails with error about missing log-level property"
**Describe the bug**
Running `dotnet stryker` on my machine fails with the following error after upgrading from 0.22.7 to 1.0.0-rc2:

[code]
The stryker-config.json looks like this:

[code]
It looks as if the log-level is present in the file.

**Logs**
No logs are generated using the '--log-to-file' option.

**Expected behavior**
I expect Stryker to run and complete as it did in my original versio

[2021-09-17 08:00] rouke-broersma commented on #1694
Hi @mapspiral

log-level has been renamed to verbosity in v1. We will publish a migration guide for v0 to v1 when we release a final version for v1. You can downgrade to v0.22.10 until v1 is released to get back the old configuration options.

I will fix the upgrade notice today, it should not suggest to install preview versions, sorry about that!

[2021-09-17 08:00] #1694 closed

[2021-09-17 08:38] richardwerkman commented on #1689
I tried to reproduce the issue and on 0.22.10 I see the same error. But when I try using v1 this seems to work fine. So maybe we fixed this by accident? Anyway. For me it's not worth it to look into why it doesn't work on 0.x since we want te release v1 as soon as possible and the issue is already fixed there. You could try to also run with v1?

[2021-09-17 15:31] #666 closed

[2021-09-17 19:00] rouke-broersma commented on #1641
https://github.com/stryker-mutator/stryker-mutator.github.io/pull/340

[2021-09-18 11:27] rouke-broersma commented on #1690
The merge was trickier than I thought so it wasn't fixed on Friday but as soon as it's done I'll release a new rc.

[2021-09-18 12:09] psfinaki commented on #1690
Sure, thanks for headsup!

[2021-09-18 12:53] corentinaltepe commented on #1686
Thank you @philrowan-mtb. My assumption about markdown links was wrong, and the link was correct. So I did not modify it.

I agree with your proposition to restructure documentation. It would offer better clarity. Should we go for it? We'd have to search for all links to the doc to update them.

[2021-09-18 14:28] rouke-broersma commented on #1686
The configuration docs are modeled after the [stryker-js](https://stryker-mutator.io/docs/stryker-js/configuration) and the [stryker4s](https://stryker-mutator.io/docs/stryker4s/configuration) docs to bring them more in line with eachother. I used `<>` instead of `[]` because in my experience `[]` usually means optional argument and is also used for options that accept multiple arguments so I foun

[2021-09-19 16:56] #1686 closed

[2021-09-19 17:48] rouke-broersma commented on #1690
I just released rc3. It should include the ignore methods feature and it should have the so far reported v1 issues resolved.

[2021-09-19 17:48] #1690 closed

[2021-09-19 20:34] psfinaki commented on #1690
Thanks! I will be on vacation for a few weeks so won't be able to check so just silently hope everything is working :)

[2021-09-25 02:08] JohnMcGlynnMSFT commented on #1650
Give this a whirl: https://github.com/stryker-mutator/stryker-net/pull/1702

[2021-09-30 10:17] #1650 closed

[2021-10-04 08:56] jaspervhaastert opened #1711 "Compilation error when using file scoped namespaces"
**Describe the bug**
Stryker.NET cannot compile the project when using C# 10 file scoped namespaces, even with `--language-version preview`.

**Logs**
[log-20211004.txt](https://github.com/stryker-mutator/stryker-net/files/7276758/log-20211004.txt)

**Expected behavior**
I expect it to be able to compile the project.

**Desktop (please complete the following information):**
 - OS: Windows
 - Type

[2021-10-04 11:09] dupdob commented on #1711
This is a limitation of Stryker architecture: `Preview` is a placeholder for the preview version from the Net framework used to build Stryker (5.0 as of today). As such, it does not support C#10 features.

This will be fixed when a Net 6.0 Stryker version is available.

[2021-10-04 17:17] rouke-broersma commented on #1711
To be clear, we do not claim to nor can we provide full compatibility with preview versions of dotnet or csharp as this would require shipping preview versions of the compiler sdk. Using preview versions of dotnet/csharp is on a best effort basis. If this issue persists after the full release of csharp 10 and a stryker update (to update the compiler sdk) we would love to know. For now I'll close t

[2021-10-04 17:17] #1711 closed

[2021-10-06 12:29] richardwerkman commented on #870
I don't think statement mutator will place this kind of mutations. But it does lessen the need for this mutator. So closing this is fine by me

[2021-10-08 10:08] petertiedemann opened #1713 "Bug report template mentions obsolete `--log-file` option"
When reporting a bug the template says:

However, the option is now called --log-to-file ?

[2021-10-08 10:11] petertiedemann opened #1714 "Project reference issue suggests --profile-file option that is now called --project"
**Describe the bug**
When none or multiple project references matches, the following is reported:

Project reference issue.

No project reference matched your --project-file=../../src/Model.Logic/Model.Logic.csproj

The option is now called --project it seeems? (v1.0.0 here)

[2021-10-13 18:51] AlbertoMonteiro opened #1715 "Unhandled exception. System.ComponentModel.Win32Exception (2): No such file or directory"
**Describe the bug**
When running `dotnet-stryker` I get the error

<details>
<summary>
Logs
</summary>

[code]

</details>

**Expected behavior**
The mutation test should happen properly

**Desktop:**

<details>
<summary>
OS
</summary>

[code]

</details>

 - Type of project: **Core**
 - Framework Version:  5.0.103
 - Stryker Version: 0.22.9

**Additional context**
Also tried with version: 0.22.1

[2021-10-14 06:39] rouke-broersma commented on #1715
It looks like a dependency we use to scan your project cannot find the dotnet core executable on your system. Have you installed dotnet core in a non-standard way?

[2021-10-14 12:01] AlbertoMonteiro commented on #1715
@rouke-broersma Thanks for the fast anwser.
The instalation is basically that
[code]

[2021-10-14 13:28] #1715 closed, assigned to nobody

[2021-10-17 05:25] felipebaltazar commented on #572
Hey everyone!
I've been able to solve this problem by copying the Xamarin.Forms.Xaml.dll from the `.nuget` folder to the working directory (normally project tests folder).
I tested in my personal projects and with attached sample on this issue

I opened a PR with a suggestion that copies the `Xamarin.Forms.Xaml.dll` to working directory
https://github.com/stryker-mutator/stryker-net/pull/1716

[2021-10-19 08:44] IlyaAtGitHub opened #1718 "Exception when use flag -v or --version"
dotnet-stryker -v

Specify --help for a list of available options and commands.
Unhandled exception. McMaster.Extensions.CommandLineUtils.CommandParsingException: Missing value for option 'v'
   at McMaster.Extensions.CommandLineUtils.CommandLineProcessor.ProcessOption(OptionArgument arg)
   at McMaster.Extensions.CommandLineUtils.CommandLineProcessor.ProcessNext()
   at McMaster.Extensions.Comman

[2021-10-19 08:46] rouke-broersma commented on #1718
`-v/--version` is used to set the csharp language version used and not to print the stryker version. You should pass a csharp version with the `--version` option. Example: `--version csharp8`

[2021-10-19 13:22] rouke-broersma opened #1721 "Exclude method from config file option not implemented in v1-rc3"
### Discussed in https://github.com/stryker-mutator/stryker-net/discussions/1720

<div type='discussions-op-text'>

<sup>Originally posted by **IlyaAtGitHub** October 19, 2021</sup>
Did you remove -im option?
It doesn't presented when run: dotnet-stryker -h
And when i run:

dotnet-stryker -im "{'*LogInformation'}"

Specify --help for a list of available options and commands.
Unhandled exception. M

[2021-10-21 13:59] ViniciusLelis opened #1722 "Option to set html output file name when html reporter is used"
I would like to have the option to set the output html file name when html reporter is used.
In our project we use a provider and interceptors architecture, so we have multiple test projects.
I would like to set the Stryker output file for each according to the name of the test project.
Instead of having them all called mutation-report.html, each of them would have a specific name.

[2021-10-26 08:42] nicojs opened #1723 "Stryker.NET install can fail when nuget config contains private nuget registries"
**Is your feature request related to a problem? Please describe.**

Stryker.NET installation can fail when your nuget config contains private nuget registries.

![image](https://user-images.githubusercontent.com/1828233/138843335-4e27effa-73ac-4067-bff4-72ca25d6ec64.png)

[code]

**Describe the solution you'd like**

Improve the getting-started.md to describe the best solution. We simply removed a

[2021-10-27 20:17] BrunoRM opened #1724 "Error during test execution"
**Describe the bug**
I'm trying to run mutation tests in my local environment and in Azure Pipelines, both throws an exception and exits with error. The exception description is:

[code]
Doing a checkout to previous commit before the feature I implemented, tests executes successfuly, with my changes, it starts to break.

**Logs**
[VsTest-log.txt](https://github.com/stryker-mutator/stryker-net/file

[2021-10-28 05:41] #1724 closed, assigned to nobody

[2021-10-28 14:50] Kuinox opened #1725 "Mutation survive despite being unable to reproduce manually."
**Describe the bug**
Stryker showed on multiple report that this mutation is surviving:
![image](https://user-images.githubusercontent.com/18743295/139272268-0b7246b9-9b4f-4be3-8459-db2ade225c07.png)
If I manually do this modification, a single test, instead of passing, now deadlock.

**Logs**
[log-20211028.txt](https://github.com/stryker-mutator/stryker-net/files/7435003/log-20211028.txt)

**Expe

[2021-10-29 00:23] Kuinox opened #1726 "Allow mutating transitive project references."
**Is your feature request related to a problem? Please describe.**
First I recommend this blogposts about testing: https://blog.7mind.io/constructive-test-taxonomy.html
For these reason, I prefer to do E2E/Integrations tests over unit tests when possible and cost efficient, to reduce maintenance cost.

Doing this lead thats some internal libraries are mostly indirectly tested through the test suit

[2021-10-29 10:48] richardwerkman opened #1745 "Whole method is rollbacked for specific assignment"
**Describe the bug**
Since the introduction of the block mutator it's clear rollbacking assignment errors isn't correct.

[code]

In the above method all mutations are rollbacked. The linq select mutation (Count to Sum) changes the return value from double to int. So the assignment will fail.

[2021-10-29 15:13] #1718 closed, assigned to nobody

[2021-10-29 21:27] #1640 closed

[2021-10-30 09:35] #1132 closed

[2021-10-30 10:07] #1713 closed

[2021-10-30 10:50] #1277 closed

[2021-10-31 10:15] richardwerkman commented on #1639
Done prior to release

[2021-10-31 10:15] #1639 closed

[2021-10-31 10:48] loop54-christoffer opened #1757 "`ignore-methods` not working for constructors of generic types"
**Describe the bug**
When I instantiate a type such as `new InputArgument<int>(true)` while simultaneously having specified in my config

[code]

Stryker will still attempt to mutate the boolean given to the constructor. With this configuration, I would expect it not to.

**Logs**
I think the problem is clear enough even without logs. For easy reproduction, [one could add a test case with a constr

[2021-10-31 11:40] psfinaki commented on #1757
Hi there, I think this was already reported [here](https://github.com/stryker-mutator/stryker-net/issues/1690) and [here](https://github.com/stryker-mutator/stryker-net/issues/1721) and the reason for the behavior was that Stryker RC versions didn't have all the features merged yet.

But it's claimed that V1.0.0 has this working. I can't test this myself right now - maybe you have a chance to veri

[2021-10-31 12:41] loop54-christoffer commented on #1757
Ah! I must have missed that. The reason I'm still on 1.0.0-rc3 is that I'm running into something similar to #1387 when I try to run the stable 1.0.0, which makes it impossible for me to verify that it's working in 1.0.0 now.

(I haven't chimed in on that issue (or created a new one myself) yet because I want to do some additional troubleshooting of why 1.0.0 fails before I do so.)

[2021-10-31 12:53] rouke-broersma commented on #1757
1.0.0-rc3 should already include the ignore mutants changes and should work if you're using the config file instead of cli. I think it's very possible that we simply never tested this feature with generic constructors and that the feature does not currently work when generics are in play.

I am curious what issues you have with v1 because there shouldn't be that many changes since rc3.

[2021-10-31 13:09] loop54-christoffer commented on #1757
I think there was a bugfix/optimisation in 1.0 that wasn't in rc3, which made my setup accidentally work, when it "shouldn't" have. One of the test projects does not directly reference the mutated project, but is able to call it indirectly through a reference to the other test project, which does reference the mutated project.

This worked in rc3 because it, apparently, allowed me to specify as th

[2021-10-31 13:23] loop54-christoffer commented on #1757
However, now that I figured out the above, I've been able to test 1.0 on my project and it does indeed ignore constructors of generic types. However, if I try to add a unit test for it, the test fails. Do you want me to close this because it's fixed for me in practise, or keep it open because you want to try adding the test yourself?

[2021-10-31 14:32] Deneas opened #1760 "When using --since:<commitish> filtered mutants in changed files are run anyway"
**Describe the bug**
In my project I disabled LINQ mutations for one location with `// Stryker disable once Linq`, because the mutant there is unkillable.
When now running `dotnet stryker` while in the corresponding test project, the mutant correctly gets ignored.
If I run `dotnet stryker --since:c76f6c8f53ba30efb3ff081c95867977548d2e2f` instead, the mutant is not ignored because the file has chan

[2021-10-31 15:03] rouke-broersma commented on #1757
If you're sure your problem is solved in v1 you can go ahead and close the issue. If you're not sure and want us to take a look keep it open.

[2021-10-31 15:06] rouke-broersma commented on #1760
Thank you for letting us know! Sounds like we have a problem with the order in which the different filters are executed.

[2021-10-31 15:37] loop54-christoffer commented on #1757
I'm absolutely sure it's fixed for me – the problematic mutations are marked as "ignored" in the HTML report and the overall mutation score reflects this too.

[2021-10-31 15:37] #1757 closed

[2021-10-31 15:42] loop54-christoffer commented on #1757
Thank you for an amazing tool, by the way! I first stumbled over mutation testing back in 2012, but at that point I did *not* expect I would be able to apply it in practise with a cross-platform, user-friendly interface within ten years. I'm ecstatic about it!

[2021-10-31 17:13] rouke-broersma commented on #1757
That's great to hear 😄

[2021-11-01 10:32] psfinaki commented on #1757
Just a small update - ignore-methods option work for me as well :)

[2021-11-01 10:43] psfinaki opened #1761 "Incorrect CLI message when updating Stryker to 1.0.0"
**Describe the bug**
First, one picture instead of a thousand words:

![image](https://user-images.githubusercontent.com/5451366/139659336-4299aa42-fe88-4d3a-846e-b95804c83884.png)

Hopefully you can see things despite my amazing skills of sticking to the company's NDA :D

I tried different ways: updating the tool directly, uninstalling + installing with the version specified, uninstalling + insta

[2021-11-01 10:54] psfinaki commented on #1761
Can reproduce locally from the master:
![image](https://user-images.githubusercontent.com/5451366/139660950-6063a958-4ba9-48a8-8e18-53abaf4c8d28.png)

[2021-11-01 10:58] rouke-broersma commented on #1761
This appears to be by design 😇

https://github.com/stryker-mutator/stryker-net/blob/42d3b4b31e6722d5d8dd2fd76e6d90da4e36bad5/src/Stryker.CLI/Stryker.CLI/Stryker.CLI.csproj#L14
https://github.com/stryker-mutator/stryker-net/blob/42d3b4b31e6722d5d8dd2fd76e6d90da4e36bad5/package.json#L4

@richardwerkman I think we have a bug in our nodejs script causing a variable to be undefined for the version suff

[2021-11-01 10:58] rouke-broersma commented on #1761
It also probably causes the preview version message to print

[2021-11-01 12:10] richardwerkman commented on #1761
Huh, I thought I tested that as well. But this is indeed incorrect. I'll take a look at this tonight

[2021-11-01 12:54] psfinaki opened #1762 "Statement mutation cannot be ignored entirely"
**Describe the bug**
I want to migrate to Stryker 1.0.0 and I also need to keep the scores (as we lock them in), so I need to temporarily ignore the statement mutation for now. However this works weirdly.

Here's my code missing some tests:
![image](https://user-images.githubusercontent.com/5451366/139673917-3b4290af-27ae-4b43-a517-351c22d008b5.png)

Here's the report when nothing is ignored:
![im

[2021-11-01 14:24] richardwerkman commented on #1762
How exactly did you ignore the statement mutations? Did you add the following to your config file?
[code]

[2021-11-01 14:25] richardwerkman commented on #1762
Oh I now see your repro... You did. So I would expect it to work indeed. I'll take a look at this

[2021-11-01 14:32] psfinaki commented on #1762
Yes, all is in the repro. Thanks :)

[2021-11-01 19:38] #1761 closed

[2021-11-01 19:57] richardwerkman commented on #1762
I found the issue. When passing "statement" as ignored mutation it was interpreted as "block". This was because the full name for "block" is "block statements" which contains "statements". This bug should be fixed in our next release!

[2021-11-01 20:00] #1762 closed

[2021-11-01 23:34] jedielson opened #1767 "Allow run mutation tests against same project"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
Given a lib, where the code and tests lives together, As a developer, I'd like to use mutation tests in same lib where my tests live.

**Describe alternatives you've considered**
In .NET ecossystem, we usually have a project for our prod code and another project that contains the tests for

[2021-11-02 00:07] Kuinox opened #1768 "Version parsing error on 1.0.0, ask to upgrade to 1.0.0"
**Describe the bug**
On the 1.0.0 release, the CLI output this:
[code]

[2021-11-02 00:25] Kuinox opened #1769 "Project not found when using / instead of \."
**Describe the bug**
In my config, when I use `"project": "CK.MQTT.Client/CK.MQTT.Client.csproj"`, stryker doesn't find the project. Using a backslash solve the issue.

**Expected behavior**
I can use both slash or backslash in the config.

**Desktop (please complete the following information):**
 - OS: Windows
 - Type of project: Library
 - Framework Version: .NET 5
 - Stryker Version: 1.0.0

**A

[2021-11-02 06:35] rouke-broersma commented on #1768
See #1765

[2021-11-02 07:37] dupdob commented on #1767
Thanks for this proposal.

TLDR;
this cannot be implemented without establishing some standard naming for this practice which are beyond the objectives of Stryker.

Putting aside wether this practice is good or not, this is practically impossible to implement (in the general case). Mutation testing relies on being able to distinguish between 'production code', that must be mutated, and 'test code'

[2021-11-02 07:39] dupdob commented on #1745
Do you mean the problem is in a branch or is it fixed now ?
Just asking because I was interested (mostly curious) in fixing this 😄 .

[2021-11-02 07:42] dupdob commented on #1144
Should we close this issue?

[2021-11-02 08:51] richardwerkman commented on #1745
The problem is still present. In that commit there is a test that displays the issue. On master I changed that test so it won't fail. So it you checkout the above commit you should see what the issue is

[2021-11-02 10:47] rouke-broersma commented on #1144
I am slightly worried by the fix being installing vs2017 but let's close this for now.

[2021-11-02 10:47] #1144 closed

[2021-11-02 12:44] psfinaki commented on #1762
Amazing, thanks for quick fix! I can verify I get the same numbers now. When can we expect the release?

[2021-11-02 13:12] richardwerkman commented on #1762
I was hoping to squeeze some more PRs in one release. But it seems they are not done soon so I will release these fixes tonight!

[2021-11-02 13:15] psfinaki commented on #1762
Amazing, looking forward :)

[2021-11-02 14:45] dupdob commented on #1745
I did not try this commit, as I don't want to go through the hassle of reintegrating any change back in the head.
But I saw this [comment](https://github.com/stryker-mutator/stryker-net/blob/18b5a5dbbabbce6cdb5cb3387923bad5c03637f2/src/Stryker.Core/Stryker.Core.UnitTest/Compiling/RollbackProcessTests.cs#L162) but it does not match your description of the issue.

Yes, there are more than mutations

[2021-11-02 15:43] dupdob commented on #1745
ok,
this is due to the rollback logic scanning UP the syntax tree before scanning down. So it first removes the enclosing block mutator, which does not resolve the problem and then digs into the expression and removes the Linq mutation.

[2021-11-02 16:02] dupdob commented on #1745
I have changed the scanning logic to dig into expression before moving up. All tests are ok.
Testing this with NFluent.
I think next step will be to see if I can add some stop conditions (scanning up and/or down) to improve performance

[2021-11-02 16:50] rouke-broersma commented on #1745
@dupdob we had actually tried the same already and had also decided that scanning down before scanning up causes way too many mutations to be removed when they are perfectly valid otherwise.

[2021-11-02 17:49] psfinaki opened #1775 "Minor: block mutations are not formatted correctly in the reports"
**Describe the bug**
Not sure if this is the right place for the bug but here's the thing:
![image](https://user-images.githubusercontent.com/5451366/139918700-3e42ffc2-e08f-4a34-b7fe-a4db620f0e9c.png)

**Expected behavior**
There should be a space there :)

[2021-11-02 18:07] rouke-broersma commented on #1775
Could you show what the json report looks like for this node? Then we can determine if this is a problem with the display or with the actual mutant generation.

[2021-11-02 18:29] rouke-broersma commented on #1775
How does that compile 😂

[2021-11-02 18:53] gmdunlop opened #1776 "Unhandled System.InvalidOperationException"
**Describe the bug**
There is an unhandled exception being thrown during stryker run. This was not an issue until we updated to 1.0.0. Here we are running stryker on a template project, which doesn't have any code or tests. Previously, stryker would run successfully and produce a mutation score of 0.

**Logs**
[18:07:36 INF] Logging enabled at level Info
Version: 1.0.0-undefined

[18:07:36 DBG] St

[2021-11-02 19:09] richardwerkman commented on #1776
I suspect this has something to do with the message:
`[18:07:50 INF] Total number of tests found: Unable to detect.`

The same data is used for coverage analysis. Thats why I think we get a sequence contains no elements. But this will be hard to solve without a reproduction project.

As you removed the paths I take it we can't get access to your project to reproduct this bug?

Btw, if you turn off

[2021-11-02 19:11] richardwerkman commented on #1775
We compile straigt from the AST. So if the AST is correct but missing trivia it will compile. But yeah this looks bad indeed

[2021-11-02 19:38] richardwerkman opened #1777 "Changelog generator doesn't add version number heading"
**Describe the bug**
Pre 1.0.0 version numbers were added automatically to the changelog. Now it just places an empty link.

[2021-11-02 19:51] richardwerkman commented on #1768
Version 1.0.1 has been released with a fix for this

[2021-11-02 19:51] #1768 closed

[2021-11-02 19:52] richardwerkman commented on #1762
Released :) Should be available in a few minutes

[2021-11-02 19:55] richardwerkman commented on #1665
@psfinaki Could you try pushing the vstest team again? I've been trying for over a year now but the issue is still open... Maybe with some internal force we can get this issue out of our way 👼

[2021-11-02 20:13] gmdunlop commented on #1776
Correct, you won't be able to access the exact project, but it is basically just an empty NET core project with an empty test project. I think I will turn off coverage analysis for now since it's not necessary for us.

[2021-11-02 20:13] jedielson commented on #1767
Thanks for your answer @dupdob! 😄

I agree this is a big issue. In those languages I've mentioned, there are built in features that make things workout.
My suggestion would be using a class name suffix, like `Test`. In golang and python, this is the criteria. 😅

It is relativelly easy to resolve, just by putting something like this in .csproj. The drawback is that it has to be done by some develop

[2021-11-03 01:56] Kuinox opened #1778 "Ignore block mutation of ignored method."
**Describe the bug**
![image](https://user-images.githubusercontent.com/18743295/140000125-9f349e01-75cf-4e6c-a53a-11c5d5b6d17f.png)
Here , we can see Warn is ignored (string mutation of warn is ignored).

**Expected behavior**
Replacing this method call by an empty statement should also be ignored

**Desktop (please complete the following information):**
 - OS: Windows: 11
 - Type of project: Lib

[2021-11-03 06:50] dupdob commented on #1745
that is what I figured out. working on this

[2021-11-03 12:25] psfinaki commented on #1665
Yyyyep, taking action right now :)

[2021-11-03 12:49] #1722 closed

[2021-11-03 13:10] psfinaki opened #1779 "Allow the break threshold to be higher than others"
**Is your feature request related to a problem? Please describe.**
Here's my "customer case" :)

Currently we execute Stryker in different ways:
1) We have nightly executions for all the projects (about 200 of them right now) to have the "big picture"
2) We execute it in PRs for changed projects to see if the changes don't lower the current mutation score (we have an original mechanism of keeping

[2021-11-03 13:11] psfinaki commented on #1665
Okay so they are working on that and should update you in that issue - I've subscribed to the PR mentioned there so will follow as well.

[2021-11-03 13:33] rouke-broersma commented on #1779
They way I see it is, you have two sets of metrics. One for overall/nightly builds and one for 'new code' (new code period in sonarqube if you're familiar). This means two configs with different allowed values.

I can see that allowing the break threshold higher than the low threshold would fix your specific use case but I don't think this is semantically correct. A score can't both be 'good enoug

[2021-11-03 14:17] richardwerkman commented on #1779
@rouke-broersma I think adding threshold-high and threshold-low back to the CLI is more efficient than adding multiple config support. Especially since we don't know it multiple config support is needed for any other scenario.

[2021-11-03 15:00] psfinaki commented on #1779
@rouke-broersma Your logic is correct, nevertheless I believe it partly depends on devs' interpretations of all those colors. I think universally "red" is something "bad" and "green" is something "not bad" and everything else depends :D But yeah that's why I suggested a warning in case the developers agreed on the color interpretation and now know what they are doing.

That said, bringing back the

[2021-11-03 15:35] psfinaki commented on #1779
Well blocked is a strong word... It's not blocking our migration per se and I think we will go for two configs for now. Rather it's a "regression" in some sense. So it probably should be mentioned in the migration guide and addressed sooner than later :)

[2021-11-03 17:29] richardwerkman commented on #1665
Thanks! Let's hope we can go forward quickly!

[2021-11-05 13:51] psfinaki opened #1781 "Disabling all mutations is not working"
**Describe the bug**
This:
![image](https://user-images.githubusercontent.com/5451366/140519340-c3d42e30-2707-42e6-989a-c95f5ddb1060.png)

Leads to this:
![image](https://user-images.githubusercontent.com/5451366/140519443-037a9239-790a-4c16-8ccd-123f015caf27.png)

And as a result to this:
![image](https://user-images.githubusercontent.com/5451366/140519552-dce3ff71-60f5-44f9-8570-6ab964cce8f4.png

[2021-11-05 14:36] psfinaki commented on #1781
The `restore all` is also **working**.

[2021-11-05 15:36] psfinaki opened #1782 "Some inline-disabled mutations look strange in the reports"
**Describe the bug**
So as you can guess, we've updated to Stryker 1.0 and are now making use of the new opportunities so I'm reporting whatever I discover :D That said, the update went quite smoothly, the logs are much cleaner and things work faster for us.

Here's a minor thing. Consider this code:
[code]

Stryker respects the directives but for some reason in the first case the report shows the

[2021-11-05 15:42] rouke-broersma commented on #1782
That is weird 😄

[2021-11-05 20:40] dupdob commented on #1781
thanks for reporting.
I reproduces this problem and I think I have identified the issue.
Could you please try without any trailing whitespaces after `all` ? Like this: `// Stryker disable all: testing`

I think it should work; in any case, trailing whitespaces prevent identification of `all`

[2021-11-06 09:06] psfinaki commented on #1781
Mhm this actually throws:
![image](https://user-images.githubusercontent.com/5451366/140604253-4ff24f2c-43c6-4410-b5e1-5696e2580688.png)

So no this didn't help :)

Regardless, I took this from the example in the [migration guide](https://stryker-mutator.io/blog/2021-30-10-announcing-stryker-net-1.md#ignore-mutations) so that one might need to be addressed:
![image](https://user-images.githubuserc

[2021-11-06 10:20] dupdob commented on #1745
update: the work to do appears harder by the day. I think the two most complicated things are:
1. restoring rolledback mutations
2. tracking errors across mutant versions
But, I just found out yesterday that my initial problem (excessive number of compile error) was **due to the block mutator** and not to the mutation identification strategy (upward vs downward). Initial count was close to 500. In

[2021-11-06 10:34] dupdob commented on #1781
Thanks for the update. This is another issue actually, but I have got a repro thanks to you. This exception happens because every mutation is ignored.
I fixed and added a test for that.

[2021-11-06 10:35] dupdob commented on #1781
see #1776

[2021-11-06 10:36] dupdob commented on #1776
This problem has been reported also as part of #1781. Latest version of Stryker crashes when there is no mutant.
I have a fix ready, I will open a PR shortly.

[2021-11-06 11:38] rouke-broersma commented on #1767
Building a custom test case resolver is IMO not within the scope of stryker.net and for that reason I doubt we will want to support this scenario. Even if this was contributed by a 3rd party I unfortunately don't think we will merge such a pull request because frankly I don't want to take up the burden of supporting such unorthodox functionality and if in the future it breaks we will probably have

[2021-11-06 11:38] #1767 closed

[2021-11-06 11:45] rouke-broersma commented on #1677
Let's revisit this next week when .NET 6 is released so we can confirm if the issue persists after updating the Roslyn SDK with the stable .NET 6 platform SDK.

[2021-11-06 11:48] rouke-broersma commented on #520
I think this has been improved sufficiently

[2021-11-06 11:48] #520 closed

[2021-11-06 11:50] rouke-broersma commented on #208
Implemented by #1717

[2021-11-06 11:50] #208 closed

[2021-11-06 11:58] #1325 closed

[2021-11-06 15:41] rouke-broersma commented on #1565
We should make disable-bail available as a cli option so that users can on-demand request a html report with all test information.

[2021-11-06 15:42] rouke-broersma opened #1784 "Disable-bail available as a cli option"
We should make disable-bail available as a cli option so that users can on-demand request a html report with all test information. Relevant after #1565

_Originally posted by @rouke-broersma in https://github.com/stryker-mutator/stryker-net/issues/1565#issuecomment-962469428_

[2021-11-06 21:36] dupdob commented on #1745
update: digging into these issues revealed that anonymous function orchestrator was missing (as well as helper engines). This was already a potential issue, but BlockMutator exacerbates the problem. I am currently adding them.

[2021-11-07 09:06] psfinaki commented on #1781
Great, thanks for prompt response @dupdob, looking forward to the fix :)

[2021-11-07 14:19] veikkoeeva commented on #1677
@rouke-broersma I've tested a bit already. It won't crash, but some other issues cropped in the aforementioned codebase (some getters won't compile after mutation). I get back sometime next week, almost no sleep due to a few hackathons. :D

[2021-11-07 14:22] rouke-broersma commented on #1677
Awesome, thanks for getting back to me so soon :)

[2021-11-09 21:17] ewancoder opened #1791 "Ability to disable mutation for lines of code based on pattern / method"
It would be a nice feature to have an abitily to disable mutation of specific lines of code based on pattern. For example, I don't want this

[code]

mutated into this

[code]

(deleted line)

There are a lot of lines of code related to logging and we don't have any tests that test that we log precise strings. I would like to have an ability to have something similar to "exclude-methods" so that I

[2021-11-12 15:23] #1375 closed

[2021-11-12 18:20] #1404 closed

[2021-11-12 20:35] richardwerkman commented on #973
I think this is already done. I added a test and it succeeded without a code change. I'll create a PR

[2021-11-12 20:47] richardwerkman commented on #1651
Seems to work for me already. Closing for now, feel free to open again is someone runs into this issue

[2021-11-12 20:47] #1651 closed

[2021-11-12 20:57] richardwerkman commented on #1778
This would be a bit tricky to implement. I would rather take a different approach that's a bit broader than this. Block mutations are unwanted when another mutation is already present in the block. So I would like a way to skip placing the block mutation if another mutation is present in it. That would also solve your issue as it would contain a (ignored) mutation.

The same would also work for st

[2021-11-12 21:27] #973 closed

[2021-11-12 22:02] #1781 closed

[2021-11-12 22:02] #1776 closed

[2021-11-13 11:31] sbergen opened #1797 "Disk baseline not being saved unless baseline reporter is manually enabled"
**Describe the bug**

When using
[code]

a baseline report is never saved, unless the `baseline` reporter is manually enabled.

`DiskBaselineProvider.Save` is only called from `GitBaselineReporter.OnAllMutantsTested`, so the reporter should probably be implicitly enabled if the baseline feature is in use?

**Logs**
I can provide logs if necessary, but I feel the issue is pretty clear.

**Expected

[2021-11-13 11:39] sbergen opened #1798 "Fallback Disk baseline report is not looked for in the correct location"
**Describe the bug**

When using
[code]

(see #1797 for details on why the baseline reporter has to be manually enabled)

1. Generate a baseline report on the `main` branch
2. Run Stryker on a branch that is not `main`
3. The baseline report can't be found, because it is looked for in the wrong directory:

`GitBaselineReporter.OnAllMutantsTested` and `DashboardMutantFilter.GetBaselineAsync` use `d

[2021-11-13 12:00] rouke-broersma commented on #1797
Yep! The reporter should be enabled, thank you for reporting!

[2021-11-13 12:01] rouke-broersma commented on #1798
Thank you for reporting these issues! I'll take a look soon.

[2021-11-13 13:21] #1797 closed

[2021-11-14 15:42] rouke-broersma commented on #1545
This would bring checking git info into the options. I would prefer to keep this out of there. Users have the capability to change their target branch to main if they use main. I think that's good enough. In some years when the majority use main instead of master we can switch the default to main imo, for now I don't see the point.

[2021-11-14 17:19] rouke-broersma opened #1803 "Full baseline is never generated because since filter marks mutations as unchanged"
**Describe the bug**
The since filter marks mutations as unchanged based on git information, this causes the full baseline for the baseline feature to never be generated making the baseline feature useless.

**Expected behavior**
If a baseline does not exist, a full mutation report should be generated even if there were no changes based on git information.

**Additional context**
Probably a proble

[2021-11-14 19:11] rouke-broersma commented on #1803
This is a problem because the baseline filter implicitly enables the since filter. We should remove this implicit enable. However we then lose the capability of determining that the baseline is incorrect due to undetected changes..

@richardwerkman @Stijn-Rutten what do you think

[2021-11-14 19:30] Stijn-Rutten commented on #1803
Removing the implicit enable would not fix anything. When the since feature is disabled we would place all the results from the baseline in the current test run. Then we would not edit any  mutant results and thus none of the mutants covered by the baseline would change. Only new mutants would get a new result. All mutants covered by the old result could have wrong results. The most viable option

[2021-11-14 22:08] rouke-broersma commented on #1659
@psfinaki Does this still occur? Not sure if this is fixed now that you can select the target framework ( thank for you for contributing this :) ).

[2021-11-14 22:09] rouke-broersma commented on #1782
The whole mutation report is getting an overhaul soon. Let's look into this after we have upgraded to the fancier report.

[2021-11-15 13:49] #1779 closed

[2021-11-15 15:12] psfinaki commented on #1782
Sure!

[2021-11-15 17:52] richardwerkman commented on #1803
We could add a `create-baseline` command that stores the baseline in the desired storage provider after doing a complete run.

[2021-11-15 18:01] rouke-broersma commented on #1803
Wouldn't want to put the burden on the user when we can already detect that there is no baseline. This was supposed to be automatic (and used to be automatic).

[2021-11-15 18:13] rouke-broersma commented on #1803
The best solution IMO is to extract the actual git logic into a new class. Use this class both in the since filter and the baseline filter. Then we should not allow since and baseline to be enabled at the same time. This way both filters can share the existing logic but the baseline filter can choose not to enable the git filtering when there is no existing baseline.

[2021-11-15 18:14] rouke-broersma opened #1805 "dotnet stryker baseline recreate command"
We could add a `create-baseline` command that stores the baseline in the desired storage provider after doing a complete run.

_Originally posted by @richardwerkman in https://github.com/stryker-mutator/stryker-net/issues/1803#issuecomment-969165641_

Users can use this option to generate a completely fresh baseline even if a baseline already exists. This is useful when you baseline is very old or

[2021-11-15 18:15] Stijn-Rutten commented on #1803
@rouke-broersma would that mean either one is active at a given time? If baseline is enabled, since is disabled and vice versa?

[2021-11-15 18:19] rouke-broersma commented on #1803
Yes, at that point they cannot be enabled at the same time and there would also be no reason for the to be enabled at the same time. Since does since without the baseline stuff and baseline makes sure it takes git information into account to make sure the report is as correct as possible. Enabling both would then be pointless.

[2021-11-15 19:34] rouke-broersma commented on #1676
Fixed by https://github.com/stryker-mutator/stryker-net/commit/982c30d7d28d7d0081cba66ca5fc37f34c49cc07

[2021-11-15 19:34] #1676 closed

[2021-11-15 20:25] richardwerkman commented on #1803
Then it would make sense to turn them into commands like we wanted to. However that would introduce a breaking change

[2021-11-15 21:35] rouke-broersma commented on #1803
We can have them as both commands and options until the next major update and simply show a validation error if both are turned on for now.

[2021-11-15 21:50] #1798 closed

[2021-11-15 22:09] #1760 closed

[2021-11-16 10:46] psfinaki commented on #1676
Damn :D Thanks, @rouke-broersma!

[2021-11-16 13:06] psfinaki opened #1806 "Stryker throws for the mutant-free world"
**Describe the bug**
Wanted to test the latest feature but got an exception:
[code]

So I guess things work in general, it's just the latest mutation report voodoo broke something.

**Expected behavior**
Generated report with the mutation score 100 - or at least no exception.

**Desktop (please complete the following information):**
 - OS: Windows
 - Type of project: core
 - Framework Version: net

[2021-11-16 13:10] rouke-broersma commented on #1806
I think this might be specifically the progressbar that's broken. I did not run my test with it enabled 🙈

[2021-11-16 13:20] psfinaki commented on #1806
Yes, I confirm this :)

[2021-11-16 22:08] gmdunlop opened #1807 "Json report formatting error"
**Describe the bug**
Getting a parsing error trying to read json report. Looks like the formatting on the json is off.

**Logs**
     | Conversion from JSON failed with error: Invalid character
     | after parsing property name. Expected ':' but got: ,. Path
     | 'projectRoot', line 8, position 9.

![stryker-logs](https://user-images.githubusercontent.com/82120675/142073681-16902182-de33-4879-8

[2021-11-17 10:38] richardwerkman commented on #1807
Hmm that's odd... We just use the default JSON serializer from .net core. Wouldn't expect something like this to happen. However, we did change JSON serializer not long ago. Do you know since when this behaviour occurs?

[2021-11-17 10:59] rouke-broersma commented on #1807
Was the json report already pretty-printed or did you use some tool to accomplish this? I don't think we should be pretty-printing the report. Perhaps this was changed when we switched to system.text.json.

[2021-11-17 16:01] gmdunlop commented on #1807
My bad! We have a bug in our code where we are handling the json before our print statement. This issue can be closed now.

[2021-11-17 16:01] #1807 closed

[2021-11-18 10:58] Meffistas commented on #1806
Same issue with ClearTextReporter on row 65.

[2021-11-18 13:25] richardwerkman opened #1809 "Nightly pipeline fails with stryker on stryker"
**Describe the bug**
Since stryker v1.0.0 we forgot to update the pipeline with our breaking changes. Now the pipeline fails every night.

[2021-11-22 15:59] gmdunlop opened #1811 "Stryker.NET encountered a compile error"
**Describe the bug**
Multiple messages reporting compile errors and an unhandled System.InvalidOperationException.

**Logs**
![stryker-issue-1](https://user-images.githubusercontent.com/82120675/142891009-4114278c-4d15-4c02-9ba0-2fb55315ae7c.PNG)
![stryker-issue-2](https://user-images.githubusercontent.com/82120675/142891040-ada95e56-0f76-4288-97b2-aaf7e6b252eb.PNG)
![stryker-issue-3](https://user

[2021-11-22 18:39] psfinaki commented on #1659
So, looks like this has entirely disappeared since we moved to Stryker 1.0. Target framework is most probably unrelated, we've run Stryker against the whole code base a few times between moving to 1.0 and specifying the target framework.

So anyway - good stuff :) I'll close the issue then.

[2021-11-22 18:39] #1659 closed

[2021-11-26 10:39] #1809 closed

[2021-11-26 16:12] richardwerkman commented on #1769
Are you sure this worked before? I don't think we made any changes concerning project filtering. But I'll fix this

[2021-11-26 16:40] richardwerkman commented on #1677
I think this issue can be closed? If the warning about the compile error persists please create a new issue for that :)

[2021-11-26 16:40] #1677 closed

[2021-11-26 16:48] richardwerkman commented on #1209
We have reworked the lookup of test projects a few times now. I think this should be fixed. Closing the issue

[2021-11-26 16:48] #1209 closed

[2021-11-27 15:17] pinkfloydx33 opened #1822 "Remove configuration file restrictions"
**Is your feature request related to a problem? Please describe.**

Stryker CLI 1.x throws an exception if the configuration file contains any properties not defined in the schema. Particularly it throws if there's anything more than a root `stryker-config` object. This is overly restrictive and does not match the behavior of 0.x.

We run Stryker as part of our pipelines using a few generic build

[2021-11-27 15:36] rouke-broersma commented on #1822
Just to clarify, you're saying we're validating properties outside of the stryker-config object?

[2021-11-27 17:25] pinkfloydx33 commented on #1822
Pretty much, yes.

You're also validating the presence of additional properties within the Stryker config object. That's not so bad and I can understand doing that (it just differs from v0 so was also a surprise)

[2021-11-27 17:59] pinkfloydx33 commented on #1647
@rouke-broersma @grbell-ms

So I found myself circled back to this issue and I'm hoping to get a bit of help. Can ya'll tell me what the proper value to include in my config file is to ignore all methods from the `Requires` class (from OP)? I currently have the following in my configuration:

[code]

However, method calls to methods on the `Requires` class are getting mutated. What's the appropria

[2021-11-27 18:02] rouke-broersma commented on #1647
@pinkfloydx33 that is a problem with the new statement mutator. I think we have a fix for that waiting to be released. Let me check.

[2021-11-27 18:07] pinkfloydx33 commented on #1647
Ok... sorry I should've looked first. Can you verify that my exclusion looks correct otherwise? I know there was a bit of back and forth originally over the way things were getting escaped. Looking at the changes on #1635 it appears as if I _should_ be good with what I have (outside of the statement mutator bug)

[2021-11-27 18:28] rouke-broersma commented on #1647
Config looks good to me

[2021-11-27 18:47] rouke-broersma commented on #1822
That's no good :)

For your other use case with disabling config but not removing I think we could simply support comments in the json. You can then comment out the unused config. Would that be acceptable?

[2021-11-27 22:52] pinkfloydx33 commented on #1822
Yeah. It's possible your parser actually supports that, I never tried. I typically assume that comments are unsupported as it's bit me before. I can give it a whirl tomorrow and see if it works or not

[2021-11-28 00:11] rouke-broersma commented on #1822
We use system text json. It's probably an option to turn on and won't work out of the box.

[2021-11-29 17:28] psfinaki opened #1824 "Weird handling of platform-related preprocessor directives"
**Describe the bug**
We heavily use framework symbols in code, e.g. `NET5_0_OR_GREATER`, the full list is [here](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/preprocessor-directives#conditional-compilation). This allows us to leverage the latest .NET capabilities whenever possible, given that we usually target multiple platforms in the code.

Recently we've noticed strange thi

[2021-11-29 18:38] rouke-broersma commented on #1824
That is very strange, I don't think we do anything special with preprocessor directives. Almost as if Roslyn skips reading those syntaxes automatically.

[2021-11-29 18:46] psfinaki opened #1825 "Stryker reports NaN instead of 0% for code without real tests"
**Describe the bug**
Accidentally noticed this when playing with another bug :D

The simplest repro is to just have an empty test:
<img width="215" alt="image" src="https://user-images.githubusercontent.com/5451366/143924362-599c37a3-5c8f-47ac-9455-d9e68363efe4.png">

Then Stryker logs this:
<img width="840" alt="image" src="https://user-images.githubusercontent.com/5451366/143924005-82905d4f-c8a1

[2021-11-29 19:00] psfinaki commented on #1824
Well, we only know for now that ordinary code coverage doesn't seem to have issues here... E.g. if project targets frameworks A and B and half of the code (and tests) targets only B, there will be just more tests executed for B.

[2021-11-29 19:41] rouke-broersma commented on #1825
This is defined behavior 👍
If there is nothing to calculate because there was nothing to test, the defined behavior is to report the mutation score as NaN.

You could argue that we should not expose this to the user and should simply omit the mutation score completely.

[2021-11-29 21:51] dupdob commented on #1824
Here is why (probably) happens:
1) the predefined symbols are properly defined for the building of the tests assembly
2) the predefined symbols are NOT DEFINED for Roslyn analysis
 ⇒ the `SomeClass.Substract(...)` method definition is not parsed, hence not mutated.

 Note idea why the first run ends with `NoCoverage` status, but you could check my theory by manually defining the symbol in the proj

[2021-11-30 11:25] dancingCamel opened #1826 "Unexpected behaviour depending on calling shell"
**Describe the bug**
Running dotnet stryker with a config file including "since":{"target":"master", "enabled":"true"} returns different numbers of files changed depending on the calling shell.
Git BASH - every file in project appears as changed
Windows Powershell - only changed files  appear as changed
cmd - only changed files appear as changed
husky pre-push script calling powershell script whic

[2021-11-30 11:36] rouke-broersma commented on #1826
Sounds like a problem with file paths and the unix emulation git bash performs.

[2021-11-30 11:51] dancingCamel commented on #1826
Yes, I think it's either the way git handles paths, or it's line endings.
It's not exclusively git bash causing a problem - if a powershell script runs from inside a husky shell script, and when powershell runs on the pipeline we also get the same problem.

[2021-11-30 17:39] psfinaki commented on #1824
Hmm alright, I'll update you on this.

[2021-11-30 17:42] psfinaki commented on #1825
Okay, this argument makes sense. On the other hand:
1. The score is different in the report and in the console
2. With code coverage this case would likely bring 0 score, so why not have similar logic here

From a customer perspective, 0 would be more useful to me - that said I'll die if you leave things as they are, at least this is not a bug then.

[2021-11-30 18:44] rouke-broersma commented on #1825
The report should actually display NaN afaik.. Not sure what's up with that. @nicojs @hugo-vrijswijk is Stryker.NET wrong here or is the html report?

[2021-11-30 18:58] hugo-vrijswijk commented on #1825
From what I can see, there are 2 mutants generated, both with the status `NoCoverage`. In the [metrics](https://stryker-mutator.io/docs/mutation-testing-elements/mutant-states-and-metrics/#metrics) the score is calculated as `detected / valid * 100`. `NoCoverage` falls under the `valid` category (`detected + undetected`, `undetected = survived + noCoverage`), so the score should be `0 / 2 * 100 =

[2021-12-06 14:01] rouke-broersma opened #1827 "Removal of variable declaration statements results in rollback of all mutations in method"
**Describe the bug**
If you have a variable declaration without assignment you get a `Use of unassigned local variable 'xxx` exception where the variable is used. Where the variable is used is a different location than where the variable declaration was removed, resulting in all mutations in the method being removed.

**Logs**
[log-20211206.txt](https://github.com/stryker-mutator/stryker-net/files

[2021-12-06 15:57] psfinaki commented on #1824
@dupdob yes, tried that, your theory seems to be correct. I'm now trying to understand why everything else manages to work then.

[2021-12-07 08:36] dupdob opened #1828 "Declare standard predefined symbols when building mutated assemblies"
**Is your feature request related to a problem? Please describe.**
See issue #1824

**Describe the solution you'd like**
Stryker needs to declare predefined symbols when building the mutated assembly.

**Describe alternatives you've considered**
Those symbols can be explicitly declared in the (VS/VC) project settings, but this defeats the purpose of predefined symbols.

**Additional context**
It a

[2021-12-07 08:39] dupdob commented on #1827
Duplicate of #1745.
This is an issue with block mutator.

[2021-12-07 08:39] #1827 closed

[2021-12-07 08:49] rouke-broersma commented on #1827
@dupdob The variable declaration that pointed to the compile errors was not a in a removed block, it was removed by the statement mutator. Are you sure it's the same issue?

[2021-12-07 08:50] dupdob commented on #1745
Update:
I have stopped working on this. The main difficulty I hit is being able to restore mutations when they have been removed; but also I realized that it was far harder than I thought:
My strategy was: when there is an error occurring without any clear causing mutations, remove each mutations (from the method/function/Accessor...) until the error goes away. Alas, I realized that several mutati

[2021-12-07 08:58] rouke-broersma commented on #1745
It does feel like we should at least temporarily disable the block mutator by default because it causes major issues in even small projects. @richardwerkman ?

[2021-12-07 14:45] dupdob commented on #1827
I may be wrong, but:

1. `use if unassigned local variable xxx`is a proof that the variable is **declared** but a not assigned.
2. in the log, I see the problem there :
[code]
which appears to be a block removal mutation, as the statement mutator replaces statements by **empty** statements:
[code]

But to be honest, I closed only after cursory looking at the log file, as I assumed this was the blo

[2021-12-07 14:47] psfinaki commented on #1828
So I still don't completely understand it. Why symbols like `NET6_0` are understood whereas symbols like `NET6_0_OR_GREATER` are not? [This](https://docs.microsoft.com/en-us/dotnet/core/tutorials/libraries#how-to-multitarget) basically says that all these `_OR_GREATER` symbols were added with .NET5.

[2021-12-07 15:29] dupdob commented on #1828
We need to test this, but are you certain that some symbols are automatically defined ? my understanding is that those are defined by MsBuild targets and Stryker does not use those (until we find a way to cleanly inject mutated source code during MsBuild builds).

[2021-12-07 16:17] psfinaki commented on #1828
Yes, actually Stryker currently works _ideally_ for platform monikers other than _OR_GREATER_, and `target-framework` option in the config also performs correctly with that.

Look: [Repro.zip](https://github.com/stryker-mutator/stryker-net/files/7669842/Repro.zip)

For this class:
<img width="412" alt="image" src="https://user-images.githubusercontent.com/5451366/145065854-a0f1ec13-d336-4303-b840-

[2021-12-07 16:19] psfinaki commented on #1828
<img width="585" alt="image" src="https://user-images.githubusercontent.com/5451366/145066266-36e0b76a-a691-4d37-8294-8ef589f8d662.png">

It looks like internally _something somewhere_ doesn't use the .NET5+ SDK.

[2021-12-07 16:48] rouke-broersma commented on #1828
@psfinaki the build _system_ is msbuild. We don't use msbuild so we don't have those symbols by default is what my guess would be. Why we do have some of the symbols I do not know.

[2021-12-07 16:55] rouke-broersma commented on #1827
Ah right, yes!

[2021-12-08 14:10] richardwerkman commented on #1745
We could also implement the feature I suggested: only place block mutations when it doesn't contain other mutations. This issue would never occur in that case. And we remove equivalent mutations. So that sounds like the perfect solution to me. But I couldn't yet get that to work.

For now I can live with removing the Block mutator temporarily. But we have to think of a permanent solution for this

[2021-12-08 15:22] dupdob commented on #1745
I am afraid this is not sufficient. I think the following example demonstrates it:
[code]
would generate 3 block mutations which would all trigger a `using uninitialized variable 'x'`. Which would be difficult to remove and would trigger a removal of every mutations within this method.

[2021-12-08 17:13] dupdob commented on #1745
I just got another idea: aggressively removes block mutations instead of safe mode.
That is, if Stryker can't link the error message to a specific mutations, it rolls back every  block mutation (from the current method) and tries again. Safe mode is only triggered if there is no block mutation present.
This would allow for block mutations without compromising existing ones.
what do you think?

[2021-12-10 09:42] richardwerkman commented on #1811
This is gonna be hard for us to pick up without a reproduction scenario. Could you maybe find out what method is causing the compile errors and post that method here?

Btw this could be related to #1745

[2021-12-10 09:43] richardwerkman commented on #1745
@dupdob sounds like a great idea! We could roll back block mutation first. Then statement mutations and if those didn't help fall back to safe mode. I like this better than just turning off block mutations as a whole

[2021-12-10 11:04] richardwerkman commented on #1828
I was able to reproduce this issue and could not see a workaround. So I created an issue with buildalyzer.

[2021-12-10 11:29] #1822 closed

[2021-12-10 12:00] psfinaki commented on #1828
Thanks for that, @richardwerkman

[2021-12-10 13:13] pinkfloydx33 commented on #1822
@rouke-broersma thanks for fixing!! Any ETA on when it will be released?

Should I open another issue for supporting comments? It should be pretty simple:

https://github.com/stryker-mutator/stryker-net/blob/81b28a6eb2c451754467ca6f4ad7cf8f49944ea7/src/Stryker.CLI/Stryker.CLI/JsonConfigHandler.cs#L71

Could be:
[code]

[ReadCommentHandling](https://docs.microsoft.com/en-us/dotnet/api/system.text.j

[2021-12-10 13:15] rouke-broersma commented on #1822
@pinkfloydx33 if you could open a new feature request that would be great

[2021-12-10 13:31] richardwerkman commented on #1824
Closing as this is being handled in @dupdob's issue

[2021-12-10 13:31] #1824 closed

[2021-12-10 13:41] pinkfloydx33 opened #1831 "Support JSON comments in configuration file"
**Is your feature request related to a problem? Please describe.**
There are configuration options we like to set locally (ex. concurrency) but not on CI. There's also times when we try out new settings but are in a sort of limbo state as to whether we want to keep them.

In Stryker 0.x we could keep these settings in the config file but prefix them with some value so that they didn't get read in.

[2021-12-10 13:41] pinkfloydx33 commented on #1822
Thanks! Opened #1831

[2021-12-10 13:54] #572 closed

[2021-12-10 13:54] #756 closed

[2021-12-10 15:45] #1831 closed

[2021-12-10 15:47] pinkfloydx33 commented on #1831
@richardwerkman @rouke-broersma Thanks folks!

[2021-12-10 16:19] richardwerkman commented on #1831
You're welcome! This should be released shortly :)

[2021-12-10 16:20] #1825 closed

[2021-12-10 22:45] rouke-broersma commented on #1782
@psfinaki The updated report is getting released right now! Please let us know what you think and if it's a better experience :)

[2021-12-13 12:55] psfinaki commented on #1782
Well the report generally looks more beautiful of course but regarding the original issue - it's still there, in a different form now :D
<img width="501" alt="image" src="https://user-images.githubusercontent.com/5451366/145816221-7ecc07bf-eb9b-4f09-a4ae-790fc278c61d.png">

[2021-12-14 22:41] sgabler opened #1837 "Stryker report shows "🕵️ not run" in places where it shouldn't be shown"
**Describe the bug**
The problem was originally described in https://github.com/stryker-mutator/stryker-net/discussions/1835. I was asked to provide an example here.

I created one project with this class:

[code]

and then another test project with this class:

[code]

Project csproj
[code]

UnitTest csproj
[code]

This will then generate the following HTML Report:

![image](https://user-images.g

[2021-12-15 08:13] #1828 closed

[2021-12-15 12:43] commonquail opened #1838 "New report terrible for skimming"
The new report from 1.2.0, #1818, is absolutely terrible for skimming. Yes, I can use the arrow buttons to navigate. No, that's not easier either. Neither does toggling visibility of killed mutants help because, in addition to being cumbersome to have to do all the time, it combines poorly with survived mutants:

![image](https://user-images.githubusercontent.com/603326/146187861-52d7aac6-0990-4e9

[2021-12-15 14:09] richardwerkman commented on #1838
This new design is not .net specific. I'll move this issue to our shared repo for the HTML report

[2021-12-16 19:10] iamdmitrij commented on #1545
I've stumbled upon the same issue. I'm a little confused with which setting can be used as a workaround to switch branch. Is it `since.target`, `project-info.version` or something else?

[2021-12-16 21:20] rouke-broersma commented on #1545
since.target is the option for the branch you want to diff against.

[2021-12-17 14:58] JadersonGomes commented on #1806
I have the same error. How can I disable this, could you help me?

[2021-12-17 15:01] oliwennell opened #1839 "Compile error relating to indexer method"
**Describe the bug**
Hi, I think I've found a bug where Stryker generates a non-compilable mutation when C# indexers are used.

**Logs**
[stryker-log.txt](https://github.com/stryker-mutator/stryker-net/files/7735896/stryker-log.txt)

**Expected behavior**

Given a method that uses an indexer:
[code]

Instead of generating a mutation report, Stryker instead returns an error. The relevant output bei

[2021-12-17 15:04] rouke-broersma commented on #1806
You can disable the broken reporters.

[2021-12-17 15:05] rouke-broersma commented on #1839
Your second issue will probably be fixed by #1833

[2021-12-17 15:22] gmdunlop commented on #1811
It looks like all of the compiler errors are coming from property declarations with get/set methods. It's saying that there were paths that didn't return a method, but it's just a plain get method.
![compile_error](https://user-images.githubusercontent.com/82120675/146566193-d018690f-026a-437d-8215-feb4c632ecf1.PNG)
 Also, are the compile errors related to the exception thrown at the end?

[2021-12-17 15:31] gmdunlop commented on #1811
Also #1839 seems to be reporting the same problem.

[2021-12-17 15:34] rouke-broersma commented on #1811
Sounds similar to #1839 yes

The errors at the end are related. When we find a compiler error we try to remove the bad mutation. In the case of the block mutator we can't find the location of the mutation so we have to rollback everything.

[2021-12-20 08:18] GaetBaka commented on #1791
Agree, mutants should not be created when inside an ignored method.
Adding to ignore-methods should be enough to ignore the method, seems legit

[2021-12-24 15:54] #1806 closed

[2021-12-26 11:43] adamshakhabov opened #1845 "Use of unassigned local variable"
**Describe the bug**
The Stryker raises "Use of unassigned local variable..." warning message and asks to report this on GitHub.

**Logs**

**Expected behavior**
That file can be mutated.

**Desktop (please complete the following information):**
 - OS: Windows 10
 - Type of project: Library
 - Framework Version: .NET 5
 - Stryker Version: 1.2.1

**Additional context**

The [**source code**](https:

[2022-01-03 09:14] b3b00 opened #1847 "InvalidOperationException: Can't extract original expression when running stryker-dotnet"
when trying to stryke the unit test of my project (ParserTests.csproj" in https://github.com/b3b00/csly i get an exception stopping the execution

[code]

**Desktop (please complete the following information):**
 - OS: win10
 - Type of project : dotnet core xunit test
 - Framework Version core 3.1
 - Stryker Version 1.2.1

[2022-01-03 09:38] b3b00 commented on #1847
I 've found a workaround rewriting my code from:
[code]

to :

[code]

[2022-01-03 10:25] b3b00 opened #1848 "Stryker.NET encountered a compile error"
Stryker encounter many compile errors when run against https://gtihub.com/b3b00/csly
using command line  ``` dotnet stryker --project sly.csproj ```  from ParserTests/ direcory

[code]

[2022-01-03 10:42] dupdob commented on #1847
Thanks for reporting!
I will look into this.
Stryker often needs to convert 'expression form' method/lambda/accessor to body form in order to inject mutations. In case of massive roll back, Stryker normally reverts the mutated method/lambda/accessor to expression form. There is clearly a bug here, I will reproduce and fix it when time permits.

As a simpler work around, you should be able to use a

[2022-01-03 10:44] dupdob commented on #1848
Thanks for reporting. This is triggered by an overzealous mutator (BlockMutator). We plan to improve it (see #1745).

[2022-01-03 10:48] #1848 closed

[2022-01-06 15:24] psfinaki commented on #1806
Thanks for fixing, verified it for me as well 👍

Is there any released planned for soon? This is not urgent, so just asking, no pushing :)

[2022-01-06 15:42] rouke-broersma commented on #1806
We can release tomorrow probably

[2022-01-06 16:46] psfinaki commented on #1806
Amazing, thanks!

[2022-01-07 09:26] #1839 closed

[2022-01-07 09:47] #1811 closed

[2022-01-07 10:19] #1837 closed

[2022-01-10 10:39] #1769 closed

[2022-01-10 18:53] psfinaki opened #1855 "Stryker fails for self-contained apps"
**Describe the bug**
We have some apps that are published in a self-contained [manner](https://docs.microsoft.com/en-us/dotnet/core/deploying/#publish-self-contained) (and that's the future!). That's basically something like this in the app props:
[code]

**Starting with 1.2.1**, Stryker breaks when running against this, with a preliminary warning to report things to GitHub:
<img width="878" alt="

[2022-01-11 08:05] rouke-broersma commented on #1855
Awesome..! :p I think we've seen this error before but have so far have not been able to figure out why. Curious what changed in buildalyzer to break this.

[2022-01-11 08:45] richardwerkman commented on #1806
@psfinaki this has been released just now!

[2022-01-11 11:03] psfinaki commented on #1806
Thanks a lot, Richard :)

[2022-01-11 11:04] psfinaki commented on #1855
Yeah big codebase exposes all kinds of edge cases :D

[2022-01-12 09:05] patricksadowski commented on #1445
Here is another example of the same issue `Use of unassigned local variable 'status' (Source code: status)`

[code]

[2022-01-12 14:48] richparker288 opened #1859 "Stryker fails when running against .NET 5 Azure Function"
**Describe the bug**
When running Stryker against a .NET 5 Azure Function with the `Microsoft.Azure.Functions.Worker.Sdk` package referenced we get the following exception:

`Unhandled exception. System.IO.DirectoryNotFoundException: Could not find a part of the path 'C:\XXXXX\XXXX.XXXXX\XXXXX\StrykerAzFunctionRepro\StrykerAzFunctionRepro\obj\Release\netcoreapp3.1\WorkerExtensions.AssemblyInfo.cs'

[2022-01-13 11:27] dupdob commented on #1847
@b3b00 : I am trying to reproduce the issue, but the code line you provided is properly mutated in my sample:
[code]
it triggers some build error during mutation but those are properly rolled back and the test run can proceed.

Can you test with the very last version to see if you still have the issue ?
And could provide the full method that cause the problem or a project allowing to reproduce it

[2022-01-13 11:49] rouke-broersma commented on #1847
I think the project is https://github.com/b3b00/csly

[2022-01-13 13:04] dupdob commented on #1847
Thanks. This is the one

[2022-01-13 13:10] b3b00 commented on #1847
@dupdob to be complete , the project to stryke is sly/sly.csproj and unit test project is ParserTests/parserTests.csproj

[2022-01-13 13:21] b3b00 commented on #1847
using latest version (1.2.2)  i still get the error

[2022-01-13 13:23] b3b00 commented on #1847
One last thing : main branch is dev

[2022-01-13 14:55] richardwerkman commented on #1855
Glad to hear I didn't break anything (as far as we know now 😄)

[2022-01-13 16:58] dupdob commented on #1847
thanks for the details. I figured them myself and I am working on this. Your codebase raises several issues, this one being the most obvious

[2022-01-14 09:02] dupdob commented on #1847
This bug is due to Stryker.Net rolling back some mutations in the wrong order; I have reproduced it and fixed it here.
I will fix a bunch of other bugs along the way before opening a PR.

[2022-01-14 14:01] dupdob commented on #1745
FYI: I am looking into this. The  unanticipated hassle is that `RollbackProcess` has no data on the mutations themselves.

[2022-01-14 15:20] richardwerkman commented on #1745
I also looked into this. I have a working solution ready but am still working on tests

[2022-01-14 15:26] dupdob commented on #1745
I stop my effort then. For information, I also improved the selectivity of the blockmutator to prevent some common compilation errors

[2022-01-15 12:52] siriak opened #1863 "Stryker.NET encountered a compile error"
Mutated code doesn't compile. This is only one error, but there are many of them.
Stryker.NET encountered an compile error in /path/Base64MaxMegabytesAttribute.cs (at 12:29) with message: 'Base64MaxMegabytesAttribute.IsValid(object?)': not all code paths return a value (Source code: public override bool IsValid(object? value)

**Logs**
Cannot share all logs, they contain too much system informatio

[2022-01-15 13:59] rouke-broersma commented on #1863
Does stryker crash or is the mutation rolled back correctly?

[2022-01-16 14:19] commonquail opened #1864 "ProgressBar NRE when no mutants tested"
This is similar to #1806.

When Stryker.NET 1.2.2 generates some non-zero amount of mutations but skips all of them the ProgressBar reporter throws a NullReferenceException:

[code]

The mutation target is a new classlib project containing only

[code]

This happens because [`StrykerRunner::RunMutationTest` calls `BroadcastReporter::OnAllMutantsTested` before `BroadcastReporter::OnStartMutantTestR

[2022-01-16 15:24] siriak commented on #1863
It's rolled back

[2022-01-19 07:10] pawelhevy commented on #466
Hi,
I have similar problem with using strike on my .net framework application. I've notice that this feature is still in **To do**.
Are there any chances to implement this?

[2022-01-19 07:41] rouke-broersma commented on #466
Sure, are you willing to pick up the work @pawelhevy? If so I'll happily review and merge it.

[2022-01-19 17:15] ohoward2001 opened #1867 "Stryker.NET doesn't finish when multiple testing projects used"
Stryker will get stuck at a certain point and just stay frozen indefinitely. This only appears to be a problem when multiple testing projects are used. This happens randomly and does not occur everytime. The below screenshot is an hour and 20 minutes after running when it usually takes 10 minutes.
![image](https://user-images.githubusercontent.com/86209005/150181095-728cd0c5-595b-4718-bb4c-0266690

[2022-01-19 19:46] StefH commented on #137
Is this error related?

**Initial build of targeted project failed. Please make sure the targeted project is buildable. You can reproduce this error yourself using: "dotnet build "WireMock.Net.Tests""**

[code]

Some info:

Config file:
[code]

Main project `WireMock.Net` + has `WireMock.Net.Tests` have multiple frameworks defined.